/*	High Visibility CSS for SAVi d-portal.org 2014
	============================================= */
* 					{color:#000; font-family:sans-serif; word-wrap:break-word;}
body,html			{background-color:#fff; color:#000; font-family:sans-serif;}
a 					{text-decoration:none; color:#000;}
a:hover 			{color:#000;}

ok					{display:none;}
query				{display:none;}
iati-activity *		{display:none;}
iati-activity		{display:block; width:958px; margin:0 auto; margin-bottom:320px; background-color:#fff; border:1px solid #000;}
iati-activity:after {content:"Data is sourced from IATI for D-Portal. If you find anything out of place, please contact the development team - support@iatistandard.org"; font-size:14px; color:#000; display:block; padding:15px 0; text-align:center;}


/*	Hacks to display injected elements
	============================================= */
iati-activity span	{display:block;}
iati-activity a 	{display:block;}
iati-activity a:hover {text-decoration:underline;}
iati-activity img	{display:block; -webkit-filter:brightness(100%); filter:brightness(100%); filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
filter: grayscale(100%);
-moz-filter:contrast(400%)grayscale(100%);
-ms-filter:contrast(400%)grayscale(100%);
-o-filter:contrast(400%)grayscale(100%);
filter: gray; /* IE6-9 */
-webkit-filter:contrast(400%)grayscale(100%);
-webkit-filter:contrast(5)grayscale(1);}

narrative {display:inline-block; color:inherit; font-family:inherit; word-wrap:inherit;}


/*	Project title
	============================================= */
span.span_span-title span-title			{display:block; font-size:42px; width:880px; padding:40px; margin:0 auto; color:#000; line-height:1.1em;}
span.span_span-title span-title:before	{content:"PROJECT TITLE"; font-size:14px; color:#000; display:block; margin-bottom:5px;}


/*	IATI Identifier
	============================================= */
iati-identifier 		{display:block; background-color:#000; text-align:center; font-size:1.0em; padding:15px 40px; color:#fff; margin:0 auto;}
iati-identifier:before	{content:"IATI IDENTIFIER"; font-size:14px; color:#fff; display:inline-block; vertical-align:bottom; padding-right:5px;}
iati-identifier:hover	{color:#fff;}
iati-identifier a:focus		{color:#fff;}
iati-identifier a:link  	{color:#fff;}
iati-identifier a:visited	{color:#fff;}
iati-identifier a:hover		{color:#fff;}
iati-identifier a:active	{color:#fff;}
a.a_iati-identifier		{width:958px; margin:0 auto; vertical-align:bottom;}
a.a_xml_iati-identifier	{display:inline-block; vertical-align:bottom; padding-left:20px; color:#fff;}
a.a_xml_iati-identifier:before	{content:"VIEW SOURCE"; font-size:14px; color:#fff; display:inline-block; vertical-align:bottom; padding-right:10px;}
a.a_slug				{display:inline-block; vertical-align:baseline; padding-left:20px;}
a.a_slug:before			{content:"IATI REGISTRY"; font-size:14px; color:#FFF; display:inline-block; vertical-align:baseline; padding-right:10px;}


/*	Recipient countries
	============================================= */
transaction recipient-country		{display:none;}
span.span_recipient-country			{display:block; vertical-align:top; width:960px; padding-bottom:20px;}
recipient-country 					{display:block; vertical-align:top; padding:20px 40px;}
span.span_recipient-country:before {content:"RECIPIENT COUNTRY"; font-size:14px; color:#000; padding:30px 0 0 40px; display:block;}
recipient-country span				{font-size:48px; color:#000;}
recipient-country span:nth-of-type(2)	{font-size:20px; color:#000; padding-top:10px;}


/*	Start and End dates
	============================================= */
span.span_activity-date				{display:block; vertical-align:bottom; width:958px; background-color:#000;}
activity-date[type="start-planned"]	{display:none;}
activity-date[type="end-planned"]	{display:none;}
activity-date[type="start-actual"]	{font-size:1.0em; display:table-cell; vertical-align:bottom; padding:10px 40px; color:#fff; width:480px;}
activity-date[type="end-actual"]	{font-size:1.0em; display:table-cell; vertical-align:bottom; padding:10px 40px; color:#fff; width:480px; text-align:right;}
activity-date[type="start-actual"]:before	{content:"START DATE"; font-size:14px; color:#fff; display:inline-block; vertical-align:bottom; padding-right:10px;}
activity-date[type="end-actual"]:before		{content:"END DATE"; font-size:14px; color:#fff; display:inline-block; vertical-align:bottom; padding-right:10px;}


/*	Who's invloved?
	============================================= */
span.span_participating-org				{display:block; width:880px; padding:40px 40px 10px 40px; font-size:18px; color:#000; counter-reset:section;}
span.span_participating-org:before 		{content:"Who's involved?"; font-size:34px; color:#000; display:block; padding-bottom:10px; margin-bottom:20px; border-bottom:5px solid #000;}
participating-org::before				{counter-increment:section; content:counter(section) ". ";}
participating-org 						{display:block; list-style-position:inside; list-style-type:decimal; padding:10px 0;}
participating-org[role="funding"]:after			{content:"FUNDING ROLE"; font-size:14px; color:#000; display:inline-block; padding:0; padding-left:10px;}
participating-org[role="implementing"]:after	{content:"IMPLEMENTING ROLE"; font-size:14px; color:#000; display:inline-block; padding:0; padding-left:10px;}
participating-org[role="extending"]:after		{content:"EXTENDING ROLE"; font-size:14px; color:#000; display:inline-block; padding:0; padding-left:10px;}
participating-org[role="accountable"]:after		{content:"ACCOUNTABLE ROLE"; font-size:14px; color:#000; display:inline-block; padding:0; padding-left:10px;}


/*	Reported by
	============================================= */
reporting-org {display:block; width:880px; padding:20px 40px 40px 40px; font-size:18px; font-weight:bold; color:#000; line-height:1.45em;}
reporting-org:before {content:"This activity is reported by"; display:inline-block; padding-right:5px; color:#000; font-size:18px; font-weight:normal;}
reporting-org:nth-of-type(1)	{padding-top:40px;}
reporting-org:last-of-type		{padding-bottom:40px;}


/*	Description of project (shared with Transaction table)
	============================================= */
span.span_description description {font-size:1.0em; word-spacing:0.05em; line-height:1.5em; display:block; width:880px; padding:40px; padding-bottom:0; color:#000; border-top:1px solid #000; white-space:pre-line; unicode-bidi:embed;}
span.span_description description:before			{padding-bottom:10px;}
span.span_description description:nth-of-type(1):before {content:"DESCRIPTION"; font-size:14px; color:#000; display:block;}
span.span_description description[type="1"]:before	{content:"GENERAL"; font-size:14px; color:#000; display:block;}
span.span_description description[type="2"]:before	{content:"OBJECTIVES"; font-size:14px; color:#000; display:block;}
span.span_description description[type="3"]:before	{content:"TARGET GROUPS"; font-size:14px; color:#000; display:block;}
span.span_description description:last-of-type		{padding-bottom:40px; border-bottom:1px solid #000; border-top:0;}
span.span_description description:nth-of-type(2)	{border-top:0;}


/*	Result and description
	============================================= */
result						{display:block; padding-bottom:40px;}
result:nth-child(odd)		{border:1px solid #000; border-right:0; border-left:0;}
result description			{display:block; padding:0 40px 20px 40px; line-height:1.5em; white-space:pre-line; unicode-bidi:embed;}
result description			{padding:0 40px;}
result description narrative {padding:10px 0;}
result span-title			{display:block; font-size:30px; width:880px; line-height:1.25em; margin:0 auto; color:#000;}
result span-title narrative	{display:block; padding:10px 0;}
result:nth-of-type(1):before {content:"Result"; font-size:26px; color:#FFF; background-color:#000; display:block; padding:20px 40px; margin-bottom:25px;}
result span-title:before	{content:"RESULT"; font-size:14px; color:#000; display:block; margin-bottom:15px;}
result[type="1"] span-title:before	{content:"OUTPUT";}
result[type="2"] span-title:before	{content:"OUTCOME";}
result[type="3"] span-title:before	{content:"IMPACT";}
result[type="9"] span-title:before	{content:"OTHER";}

result indicator			{display:block;}
result indicator span-title	{padding-top:20px; font-size:20px; border-top:1px solid #000; margin-top:20px;}
result indicator span-title:before {content:" "; margin:0;}
result[type="1"] indicator span-title:before {content:" "; margin:0;}
result[type="2"] indicator span-title:before {content:" "; margin:0;}
result[type="3"] indicator span-title:before {content:" "; margin:0;}
result[type="9"] indicator span-title:before {content:" "; margin:0;}

result indicator description	{font-size:0.9em; color:#000; padding-top:10px;}

result indicator period		{display:block; padding-top:10px;}
result indicator period period-start:before	{content:"Start "; font-size:14px; color:#000; display:block; padding-right:10px;}
result indicator period period-end:before	{content:"End "; font-size:14px; color:#000; display:block; padding-right:10px;}
result indicator period target:before	{content:"Target "; font-size:14px; color:#000; display:block; padding-right:10px;}
result indicator period actual:before	{content:"Actual "; font-size:14px; color:#000; display:block; padding-right:10px;}

result indicator period period-start, result indicator period period-end,
result indicator period target, result indicator period actual	{display:inline-block; vertical-align:top; width:220px; max-width:220px; line-height:1.35em;}



/*	Sectors (also turned into graph: sector_pie)
	============================================= */
sector *						{display:none;}
sector[vocabulary="DAC"]		{font-size:1.0em; color:#000; width:239px; display:inline-block; vertical-align:top; padding:30px 40px 40px 40px; max-height:80px; min-height:80px;}
sector:nth-child(even)			{background-color:#e9e9e9;}
sector[vocabulary="DAC"]:before	{content:"SECTOR"; font-size:14px; color:#000; width:240px; display:block; padding-bottom:5px;}
sector span						{color:#000; padding-top:5px;}
sector span:nth-of-type(1)		{line-height:1.2em;}
sector span:nth-of-type(2)		{color:#000;}
sector span:nth-of-type(2):after{content:"allocated"; padding-left:5px; display:inline-block;}
img.sector_pie					{padding:40px 20px;}


/*	Budget table
	============================================= */
budget	{display:block; width:958px; border-top:1px solid #000; padding:20px 0; border-bottom:0;}
budget:last-of-type	  {border-bottom:0px solid #000;}
budget:nth-of-type(1) {margin-top:0px; padding-top:0;}
budget:nth-of-type(1):before {content:"Budget"; font-size:26px; color:#fff; background-color:#000; display:block; padding:20px 40px; margin-bottom:25px;}
budget:nth-of-type(1) period-start:before {content:"START DATE"; font-size:14px; color:#000; width:289px; display:block; padding-bottom:10px; border-bottom:2px solid #000; margin-bottom:15px; line-height:1.35em;}
budget:nth-of-type(1) period-end:before	  {content:"END DATE"; font-size:14px; color:#000; width:289px; display:block; padding-bottom:10px; border-bottom:2px solid #000; margin-bottom:15px; line-height:1.35em;}
budget:nth-of-type(1) value:before		  {content:"VALUE"; font-size:14px; color:#000; width:300px; display:block; padding-bottom:10px; border-bottom:2px solid #000; margin-bottom:15px; line-height:1.35em;}
period-start {display:inline-block; vertical-align:top; color:#000; font-size:1.0em; width:289px; max-width:289px; padding-left:40px; line-height:1.35em;}
period-end	 {display:inline-block; vertical-align:top; color:#000; font-size:1.0em; width:289px; max-width:289px; line-height:1.35em;}
budget value {display:inline-block; vertical-align:top; color:#000; font-size:1.0em; width:300px; max-width:300px; padding-right:40px; line-height:1.35em;}


/*	Transaction table
	============================================= */
transaction							{display:block; width:958px; border-top:1px solid #000; padding:20px 0; border-bottom:0;}
transaction a						{color:#000;}
transaction a:hover					{color:#000;}
transaction:nth-of-type(1)			{margin-top:0px; padding-top:0;}
transaction:nth-of-type(1):before	{content:"Transaction"; font-size:26px; color:#fff; background-color:#000; display:block; padding:20px 40px; margin-bottom:25px;}

transaction:nth-of-type(1) transaction-date:before	{content:"DATE"; font-size:14px; color:#000; width:105px; display:block; padding-bottom:10px; border-bottom:2px solid #000; margin-bottom:15px; line-height:1.35em;}
transaction:nth-of-type(1) transaction-type:before	{content:"TYPE"; font-size:14px; color:#000; width:144px; display:block; padding-bottom:10px; border-bottom:2px solid #000; margin-bottom:15px; line-height:1.35em;}
transaction:nth-of-type(1) provider-org:before		{content:"PROVIDER"; font-size:14px; color:#000; width:144px; display:block; padding-bottom:10px; border-bottom:2px solid #000; margin-bottom:15px; line-height:1.35em;}
transaction:nth-of-type(1) receiver-org:before		{content:"RECEIVER"; font-size:14px; color:#000; width:130px; display:block; padding-bottom:10px; border-bottom:2px solid #000; margin-bottom:15px; line-height:1.35em;}
transaction:nth-of-type(1) value:before				{content:"VALUE"; font-size:14px; color:#000; width:120px; display:block; padding-bottom:10px; border-bottom:2px solid #000; margin-bottom:15px; line-height:1.35em;}
span.span_transaction transaction:nth-of-type(1) description:nth-of-type(1):before {content:"DESCRIPTION"; font-size:14px; color:#000; width:235px; display:block; padding-bottom:10px; border-bottom:2px solid #000; margin-bottom:15px; line-height:1.35em;}

transaction-date	{display:inline-block; vertical-align:top; color:#000; font-size:1.0em; width:100px; max-width:100px; padding-left:40px; padding-right:5px; line-height:1.35em;}
transaction-type	{display:inline-block; vertical-align:top; color:#000; font-size:1.0em; width:130px; max-width:130px; padding-right:14px; line-height:1.35em;}
span.span_transaction transaction description:nth-of-type(1) {display:inline-block; vertical-align:top; padding:0px; width:220px; max-width:220px; padding-right:15px; text-align:left; color:#000; font-size:1.0em; line-height:1.35em; border:0; background-color:transparent;}
provider-org		{display:inline-block; vertical-align:top; color:#000; font-size:1.0em; width:130px; max-width:130px; padding-right:14px; line-height:1.35em;}
receiver-org		{display:inline-block; vertical-align:top; color:#000; font-size:1.0em; width:130px; max-width:130px; padding-right:0px; line-height:1.35em;}
value				{display:inline-block; vertical-align:top; color:#000; font-size:1.0em; width:120px; max-width:120px; padding-right:40px; line-height:1.35em; text-align:right;}
value span		{font-size:12px; color:#000;}

span.span_transaction transaction:nth-of-type(1) description:before {content:"DESCRIPTION"; font-size:14px; color:#000; width:235px; display:block; padding-bottom:10px; border-bottom:2px solid #000; margin-bottom:15px; line-height:1.35em;}
span.span_transaction transaction description {display:inline-block; vertical-align:top; padding:0px; width:220px; max-width:220px; padding-right:15px; text-align:left; color:#000; font-size:1.0em; line-height:1.35em; border:0; background-color:transparent;}
/*span.span_transaction transaction description:nth-of-type(n+1):before		{display:none;}*/


/*	Contact info for Publisher
	============================================= */
contact-info	{display:block; width:880px; padding:10px 40px; font-size:18px; line-height:1.5em;}
contact-info *	{display:block; padding:5px 0; color:#000;}
contact-info:nth-of-type(1):before	{content:"CONTACT INFO"; font-size:14px; color:#000; display:block; margin-bottom:10px;}
contact-info:nth-of-type(1)			{padding-top:40px;}
contact-info:last-of-type			{padding-bottom:40px;}


/*	Website or external links
	============================================= */
activity-website		{display:block; width:878px; margin:0 auto; text-align:center; padding:20px 40px; font-size:14px; border:0; color:#fff; background-color:#000;}
activity-website *		{display:block; padding:5px 0;}
activity-website:before {content:"FOR MORE INFORMATION, VISIT "; font-size:14px; color:#fff; display:inline-block; padding-right:10px;}
activity-website:hover	{color:#fff; text-decoration:underline;}


/*	Activity Status
	============================================= */
activity-status[code="1"]	{background-color:#e9e9e9;}
activity-status[code="2"]	{background-color:#e9e9e9;}
activity-status[code="3"]	{background-color:#e9e9e9;}
activity-status[code="4"]	{background-color:#e9e9e9;}
activity-status[code="5"]	{background-color:#e9e9e9;}
activity-status				{display:block; font-size:20px; background-color:#e9e9e9; width:958px; text-align:center; margin:0 auto; padding:40px 0; max-height:150px; color:#000;}
activity-status:before		{content:"ACTIVITY STATUS:"; font-size:14px; color:#000; font-weight:bold; display:inline-block; padding-right:10px;}


/*	Related documents list
	============================================= */
span.span_document-link							{width:880px; padding:0 40px; margin:0 auto; counter-reset:section;}
span.span_document-link:before					{content:"Related Documents"; font-size:34px; color:#000; display:block; padding:40px 0 20px 0; margin-bottom:20px; border-bottom:3px solid #000;}
a.a_document-link::before						{counter-increment:section; content:counter(section) ". ";}
a.a_document-link								{display:inline-block; width:880px; padding:10px 0; font-size:1.0em; line-height:1.25em; list-style-type:decimal; list-style-position:inside; color:#000;}
a.a_document-link:last-of-type					{padding-bottom:40px;}
a.a_document-link document-link span-title		{color:#000; padding:0;}
a.a_document-link document-link span-title:hover{color:#000;}
document-link									{display:inline;}
document-link span								{font-size:1.0em; display:block; color:#000;}
document-link span-title						{display:inline;}
document-link span-title:nth-of-type(n+1):before{display:none;}
document-link span-title:nth-of-type(n+1)		{font-size:18px;}
document-link span-title narrative				{display:inline;}


/*	Family Tree list
	============================================= */
span.span_related-activity			{width:880px; padding:0 40px; margin:0 auto; counter-reset:section;}
span.span_related-activity:before	{content:"Family Tree"; font-size:34px; color:#000; display:block; padding:40px 0 20px 0; margin-bottom:20px; border-bottom:3px solid #000;}
a.a_related-activity::before		{counter-increment:section; content:counter(section) ". ";}
a.a_related-activity	{display:list-item; width:875px; padding:10px 0 10px 5px; font-size:1.0em; line-height:1.25em; list-style-type:decimal; list-style-position:inside; color:#000;}
a.a_related-activity:last-of-type								{padding-bottom:40px;}
iati-activity  > a.a_related-activity ~ a.a_related-activity	{padding-top:10px;}
related-activity		{display:inline; color:#000;}
related-activity:hover	{color:#000;}
related-activity:before	{display:inline-block; padding-right:5px; color:#000; font-size:1.0em; line-height:1.25em;}
related-activity[type="1"]:before	{content:"Child of ";}
related-activity[type="2"]:before	{content:"Parent of ";}
related-activity[type="3"]:before	{content:"Sibling of ";}
related-activity[type="4"]:before	{content:"Multifunded ";}
