body,html 				{color:#FFF;}
html					{background-color:#000;}


/*	Links & fonts
	============================================= */
a:focus					{color:#FA5;}
a:link  				{color:#FA5;}
a:visited				{color:#FA5;}
a:hover					{color:#F70;}
a:active				{color:#FA5;}


/*	Main wrappers for content & fixed background img
	============================================= */
.main_wrap				{background-color:#FFF;}
.overlay				{background-color:#220;}


/*	Breadcrumbs
	============================================= */
a.crumb					{color:#ACE;}
a.crumb:hover			{color:#FFF;}
.crumb_wrap				{color:#CCC;}
.crumb_wrap span		{color:#FFF;}


/*	About data links
	============================================= */
a.about_data			{color:#CCC;}
a.about_data:hover		{color:#FFF;}
a.about_data.quality	{border-left:1px solid #BBB;}


/*	Header styles
	============================================= */
.default.declare	{color:#CCC;}


/*	Blog styles
	============================================= */
.blog_head			{color:#FFF; border-bottom:10px solid #FFF;}
a.blog_head			{color:#FFF; border-bottom:10px solid #FFF;}
.blog_wrap			{color:#FFF; border-bottom:1px solid #FFF; background-color:#FFF;}
.blog_date			{color:#CCC;}
.blog_body a		{color:#ACE;}
.blog_body a:hover	{color:#FFF;}
.blog_title			{color:#ACE;}
a.blog_title		{color:#ACE;}
a.blog_title:hover	{color:#FFF;}
a.back_news			{color:#FFF;}
a.back_news:hover	{color:#ACE;}


/*	Graph styles
	============================================= */
#donor_graph, #sector_graph	{background-color:#FFF; color:#444; border:1px solid #FFF;}
a.ask					{color:#FFF;}
a.ask.donor				{background-color:#08F;}
a.ask.donor:hover		{background-color:#3AF;}
a.ask.sector			{background-color:#0C7;}
a.ask.sector:hover		{background-color:#1E9;}
.main_peak_wrap			{background-color:#FFF;}
.peak.donor				{border-top:20px solid #08F;}
.peak.sector			{border-top:20px solid #0C7;}
a.view_all_money		{background-color:#002; color:#CCC;}
a.view_all_money:hover	{background-color:#002; color:#FFF;}


/*	Map styles (front page)
	============================================= */
.map_wrap				{background-color:#000;}
.map_info				{color:#FFF; background-color:#3AF;}
.map_no_info			{color:#FFF;}
.map_percent			{color:#FFF; background-color:#002;}
.map_percent span		{color:#FFF;}


/*	For url #view=map
	============================================= */
.map_no_info.view		{color:#FFF;}


/*	Stats (key figures) styles
	============================================= */
span.stats_title		{color:#CCC;}
span.stats_title.view	{color:#FFF;}
span.stats_num			{color:#08F;}
span.stats_num.view		{color:#FFF;}
.declare.stats			{color:#CCC;}
a.stats_link			{color:#CCC;}
a.stats_link:hover		{background-color:#002;}
a.stats_link.missing span	{color:#08F;}


/*	Active / Ended projects styles
	============================================= */
.table_wrap				{background-color:#002;}


/*	Data Description styles
	============================================= */
.description_wrap		{background:linear-gradient(to bottom,#000 0%,#000 60%,#000 100%); background:-prefix-linear-gradient(to bottom,#000 0%,#000 50%,#000 100%);}
.description			{background-color:#FFF;}
.description span.title	{color:#FFF; border-top:1px solid #FFF; border-bottom:1px solid #FFF;}
.description p			{color:#FFF;}
.description a			{color:#ACE;}
.description a:hover	{color:#FFF;}
a.read					{color:#ACE;}
a.read:hover			{color:#FFF;}


/*	Generic styles
	============================================= */
.list_peak					{border-right:30px solid #08F;}
.list_head_title			{background-color:#08F; color:#FFF;}
.list_stats_title			{color:#FFF;}
.list_stats_num				{color:#FFF;}
a.button					{background-color:#3AF; color:#FFF;}
a.button:hover				{background-color:#08F;}
a.csv_download				{background-color:#8BF; color:#CCC;}
a.csv_download:hover		{background-color:#7BF; color:#FFF;}

	
/*	For url #view=donors & all #view=donor_*
	============================================= */
.donors_peak				{border-right:30px solid #08F;}
.donors_peak.view			{border-right:30px solid #08F;}
.donors_head_title			{background-color:#08F; color:#FFF;}
.donors_head_title.view		{background-color:#08F;}


/*	For url #view=donor_activities
	============================================= */
.donor_activities_spend			{color:#BCC;}
.donor_activities_percent_max	{background-color:#000; border:1px solid #334;}
.donor_activities_percent		{background-color:#08F;}


/*	For url #view=sectors & all #view=sector_*
	============================================= */
.sectors_peak				{border-right:30px solid #0C7;}
.sectors_head_title			{background-color:#0C7; color:#FFF;}


/*	Table header styles
	============================================= */
th.titles					{color:#668; border-bottom:1px solid #334;}


/*	Table for Header logo and Translations
	============================================= */
table.head td.options		{color:#FFF;}


/*	Table for Country Name and Flag
	============================================= */
table.country				{border-bottom:10px solid #FFF;}
table.country td.name		{color:#FFF;}
table.country.min td.name	{color:#FFF;}


/*	Table Titles
	============================================= */
table.title				{border-bottom:10px solid #FFF;}
table.title td			{color:#FFF;}
table.title td.sort		{color:#CCC;}


/*	Table for Stats (key figures)
	============================================= */
table.stats td			{background-color:#002;}
table.stats td:hover	{background-color:#002;}


/*	Table for Active / Ended projects
	============================================= */
table.list td			{color:#BCC; border-bottom:1px solid #334;}
table.list td span		{color:#987;}
table.list a			{color:#ACE;}
table.list a:focus		{color:#FFF;}
table.list a:link  		{color:#ACE;}
table.list a:visited	{color:#ACE;}
table.list a:hover		{color:#FFF; background-color:#000;}
table.list a:active		{color:#ACE;}


/*	Table for Money list (Donors / Sectors)
	============================================= */
table.money td				{color:#BCC; border-bottom:1px solid #19F;}
table.money td.col1			{background-color:#453;}
table.money td.col3			{background-color:#126;}
table.money td.col4			{background-color:#126;}
table.money td.col5			{background-color:#126;}
table.money td.col6			{background-color:#166;}
table.money td.col7			{background-color:#166;}

table.money tr.row1 th		{color:#FFF;}
table.money tr.row1 th.col1	{background-color:#453; border:1px solid #452; border-bottom:1px solid #19F;}
table.money tr.row1 th.col2	{border-bottom:1px solid #19F;}
table.money tr.row1 th.col3	{background-color:#126; border:1px solid #039; border-bottom:1px solid #19F;}
table.money tr.row1 th.col4	{background-color:#166; border:1px solid #077; border-bottom:1px solid #19F;}

table.money tr.row2 td		{color:#FFF;}
table.money tr.row2 td.col1 {background-color:#453; border-left:1px solid #452; border-right:1px solid #452;}
table.money tr.row2 td.col3	{background-color:#126; border-left:1px solid #039;}
table.money tr.row2 td.col4	{background-color:#126;}
table.money tr.row2 td.col5	{background-color:#126; border-right:1px solid #039;}
table.money tr.row2 td.col6	{background-color:#166;}
table.money tr.row2 td.col7	{background-color:#166; border-right:1px solid #077;}

table.money tr.rows td.col1	{border-left:1px solid #452; border-right:1px solid #452;}
table.money tr.rows td.col3	{border-left:1px solid #039;}
table.money tr.rows td.col5	{border-right:1px solid #039;}
table.money tr.rows td.col7	{border-right:1px solid #077;}

table.money tr.rows td.col2:hover, table.money tr.rows td.col3:hover, 
table.money tr.rows td.col4:hover, table.money tr.rows td.col5:hover	{background-color:#126;}
table.money tr.rows td.col6:hover, table.money tr.rows td.col7:hover	{background-color:#126;}

table.money a				{color:#ACE;}
table.money a:focus			{color:#ACE;}
table.money a:link  		{color:#ACE;}
table.money a:visited		{color:#ACE;}
table.money a:hover			{color:#FFF;}
table.money a:active		{color:#ACE;}


/*	Table for Activities list (Donors / Sectors)
	============================================= */
table.activity td		{color:#BCC; border-bottom:1px solid #334;}
table.activity td span	{color:#999;}
table.activity a		{color:#ACE;}
table.activity a:focus	{color:#FFF;}
table.activity a:link  	{color:#ACE;}
table.activity a:visited{color:#ACE;}
table.activity a:hover	{color:#FFF; background-color:#000;}
table.activity a:active	{color:#ACE;}


/*	Table for data descriptions footer (Donors / Sectors)
	============================================= */
table.data td			{color:#FFF; border:1px solid #CCC;}


/*	Missing data
	============================================= */
.missing_data_wrap		{background-color:#002; color:#FFF;}


/*	Data Investigators alert
	============================================= */
a.data_invest			{color:#CAD; background-color:#90C;}
a.data_invest:hover		{color:#FFF; background-color:#COF;}


/*	Footer
	============================================= */
.footer_wrap			{background-color:#000;}
.footer_link a			{color:#999;}
.footer_link a:focus	{color:#FFF;}
.footer_link a:link  	{color:#999;}
.footer_link a:visited	{color:#999;}
.footer_link a:hover	{color:#FFF;}
.footer_link a:active	{color:#999;}


/*	SAVi CSS
	============================================= */
iati-activity			{background-color:#002;}
iati-activity:after 	{color:#CCC;}


/*	Project title
	============================================= */
title		 			{color:#FFF;}
title:before 			{color:#CCC;}


/*	IATI Identifier
	============================================= */
iati-identifier 				{background-color: #002; color:#F70;}
iati-identifier:before			{color:#CCC;}
iati-identifier:hover			{color:#FA5;}
a.a_xml_iati-identifier:before	{color:#CCC;}
a.a_slug:before					{color:#CCC;}


/*	Recipient countries
	============================================= */
span.span_recipient-country				{background-color:#126;}
span.span_recipient-country:before 		{color:#FFF;}
recipient-country span					{color:#FFF;}
recipient-country span:nth-of-type(2)	{color:#FFF;}


/*	Start and End dates
	============================================= */
span.span_activity-date						{background-color:#039;}
activity-date[type="start-actual"]			{color:#FFF;}
activity-date[type="end-actual"]			{color:#FFF;}
activity-date[type="start-actual"]:before	{color:#CCC;}
activity-date[type="end-actual"]:before		{color:#CCC;}


/*	Who's invloved?
	============================================= */
participating-org 								{color:#FFF; background-color:#126;}
participating-org:nth-of-type(1):before 		{color:#FFF; border-bottom:5px solid #FFF;}
participating-org[role="funding"]:after			{color:#CCC;}
participating-org[role="implementing"]:after	{color:#CCC;}
participating-org[role="extending"]:after		{color:#CCC;}
participating-org[role="accountable"]:after		{color:#CCC;}


/*	Reported by
	============================================= */
reporting-org 					{color:#FFF;}
reporting-org:before 			{color:#CCC;}


/*	Description of project (shared with Transaction table)
	============================================= */
description 						{color:#FFF;}
description:nth-of-type(1):before	{color:#CCC;}
description[type="1"]:before		{color:#CCC;}
description[type="2"]:before		{color:#CCC;}
description[type="3"]:before		{color:#CCC;}


/*	Sectors (also turned into graph: sector_pie)
	============================================= */
sector[vocabulary="DAC"]		{color:#FFF;}
sector:nth-child(even)			{background-color:#002;}
sector[vocabulary="DAC"]:before	{color:#CCC;}
sector span						{color:#FFF;}
sector span:nth-of-type(2)		{color:#CCC;}
img.sector_pie					{background-color:#FFF;}


/*	Budget table
	============================================= */
budget					{border-top:1px solid #19F;}
budget:last-of-type	 	{border-bottom:0px solid #19F;}
budget:nth-of-type(1):before				{color:#FFF; background-color:#126;}
budget:nth-of-type(1) period-start:before 	{color:#FFF; border-bottom:2px solid #126;}
budget:nth-of-type(1) period-end:before	  	{color:#FFF; border-bottom:2px solid #126;}
budget:nth-of-type(1) value:before		  	{color:#FFF; border-bottom:2px solid #126;}
period-start 			{color:#FFF;}
period-end	 			{color:#FFF;}
budget value 			{color:#FFF;}


/*	Transaction table
	============================================= */
transaction							{border-top:1px solid #19F;}
transaction a						{color:#F70;}
transaction a:hover					{color:#FA5;}
transaction:last-of-type			{border-bottom:0px solid #19F;}
transaction:nth-of-type(1):before	{color:#FFF; background-color:#126;}

transaction:nth-of-type(1) transaction-date:before	{color:#FFF; border-bottom:2px solid #126;}
transaction:nth-of-type(1) transaction-type:before	{color:#FFF; border-bottom:2px solid #126;}
transaction:nth-of-type(1) provider-org:before		{color:#FFF; border-bottom:2px solid #126;}
transaction:nth-of-type(1) receiver-org:before		{color:#FFF; border-bottom:2px solid #126;}
transaction:nth-of-type(1) value:before				{color:#FFF; border-bottom:2px solid #126;}
transaction:nth-of-type(1) description:nth-of-type(1):before {color:#FFF; border-bottom:2px solid #126;}

transaction-date	{color:#FFF;}
transaction-type	{color:#FFF;}
transaction description:nth-of-type(1) {color:#FFF;}
provider-org		{color:#FFF;}
receiver-org		{color:#FFF;}
value				{color:#FFF;}
value span			{color:#CCC;}


/*	Contact info for Publisher
	============================================= */
contact-info *						{color:#FFF;}
contact-info:nth-of-type(1):before	{color:#CCC;}


/*	Website or external links
	============================================= */
activity-website		{color:#F94; background-color:#002;}
activity-website:before {color:#CCC;}
activity-website:hover	{color:#F70;}


/*	Activity Status
	============================================= */
activity-status[code="1"]	{background-color:#4BF;}
activity-status[code="2"]	{background-color:#C8E;}
activity-status[code="3"]	{background-color:#4F4;}
activity-status[code="4"]	{background-color:#F84;}
activity-status[code="5"]	{background-color:#F44;}
activity-status				{background-color:#F84;}
activity-status:before		{color:#FFF;}


/*	Related documents list
	============================================= */
span.span_document-link:before				{color:#FFF; border-bottom:3px solid #FFF;}
a.a_document-link							{color:#CCC;}
a.a_document-link document-link title		{color:#FFF;}
a.a_document-link document-link title:hover	{color:#FA5;}
document-link span							{color:#CCC;}


/*	Family Tree list
	============================================= */
span.span_related-activity:before	{color:#FFF; border-bottom:3px solid #FFF;}
span.span_related-activity			{color:#FFF;}
a.a_related-activity				{color:#FFF;}
related-activity					{color:#FA5;}
related-activity:hover				{color:#F70;}
related-activity:before				{color:#FFF;}
