*/out/*
*/node_modules/*
*/tmp/*
*/cache/*

tmp/*
docs/*

dstore/db/*
dstore/cache/*
dstore/instance/*

dportal/static/*
dportal/production/*

ctrack/jslib/ctrack.*
ctrack/json/*.json

vbox/backup

*/.vagrant

*.geany

