node_modules/*

*/out/*
*/node_modules/*
*/tmp/*
*/cache/*

tmp/*
docs/*

dstore/db/*
dstore/cache/*
dstore/dataiati/*
dstore/instance/*

dportal/static/*
dportal/production/*

docs

ctrack/jslib/ctrack.*
ctrack/json/*.json
ctrack/json/output

vbox/backup

*/.vagrant

*.geany

package-lock.json

fetched

dflat/html/lib/*

dflat/data*/*
dflat/test/*

# The above must match .gitignore

dstore/json/packages.json
dportal

