/*	CSS for D-PORTAL 2014 ^o^
	If you're reading this in github, 
	please change to Tabs-4 as github is broken.
	============================================= */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0} /* Resets */

body,html 				{background:none; color:#444; width:100%; height:100%; margin:0; padding:0; font-family:Arial, Helvetica, sans-serif; text-rendering:optimizelegibility; word-wrap:break-word;}


/*	Links & fonts
	============================================= */
a						{-webkit-transition:all .2s ease-in-out; -moz-transition:all .2s ease-in-out; -o-transition:all .2s ease-in-out; -ms-transition:all .2s ease-in-out; transition:all .2s ease-in-out; cursor:pointer;}
a, img					{border:0; outline:none;}
a:focus					{color:#FFAB5E; text-decoration: none;}
a:link  				{color:#FFAB5E; text-decoration: none;}
a:visited				{color:#FFAB5E; text-decoration: none;}
a:hover					{color:#FF7A00; text-decoration: none;}
a:active				{color:#FFAB5E; text-decoration: none;}
i						{font-style:italics;}
.bold					{font-weight:bold;}
.bold.ob				{font-style:italic;}


/*	Main wrappers for content & fixed background img
	============================================= */
.portal					{width:100%; min-height:100%; height:auto !important; height:100%; margin:0px 0px -40px 0px;} /* Needed for sticky footer */
.main_wrap				{width:100%; min-width:1040px; padding:0px 0px 40px 0px; background-color: rgba(255,255,255,0.4);}
#background_image_wrap 	{width:100%; height:100%; position:fixed; top:0; left:0; z-index:-1; background-image:url('/art/mexico_background_image.jpg'); background-repeat:no-repeat; background-position:center center; -webkit-background-size:cover; -moz-background-size:cover; -o-background-size:cover; background-size:cover;}
.overlay				{width:100%; height:100%; background-color:rgba(46, 41, 6, 0.6);} /* Overlay colour for background image */


/*	Languages links (top right)
	============================================= */
a.tongue				{display:inline-block; vertical-align:top; width:50px; text-align:center; color:#ccc; font-size:14px;}
a.tongue:hover			{color:#fff;}

/*	Header styles
	============================================= */
.default				{width:960px; margin:0 auto; padding:0;}
.default.center			{text-align:center;}

table.countries			{width:100%; border-collapse:collapse; border-spacing:0;}
table.countries td		{font-size:1em; line-height:1.25em; word-spacing:0.7px; padding:10px; max-width:172px; vertical-align:top;}
table.countries td:hover	{background-color:#2573CD;}
table.countries a			{display:block; width:100%; color:#fff; text-align:left;}
table.countries a:focus		{color:#fff; text-decoration:none;}
table.countries a:link  	{color:#fff; text-decoration:none;}
table.countries a:visited	{color:#fff; text-decoration:none;}
table.countries a:hover		{color:#fff; text-decoration:none;}
table.countries a:active	{color:#fff; text-decoration:none;}

.dropdown_wrap			{width:920px; padding:20px; margin:0 auto; cursor:pointer;}
.dropdown_title			{display:inline-block; padding:20px; vertical-align:top; color:#fff; font-weight:bold; font-size:1.2em; background-color:rgba(0, 40, 100, 0.7); border-radius:8px 0 0 8px;}
.dropdown_list_wrap		{display:inline-block; vertical-align:top; width:420px;}
ul.dropdown_list			{list-style:none; padding:0; margin:0 auto; width:100%;}
a.country_code			{width:100%; height:100%; color:#fff; font-size:1.4em; line-height:1.15em; display:block; padding:5px 20px; vertical-align:top; text-align:left;}
a.country_code:hover	{background-color:rgba(37, 115, 205, 0.7);}

/*	Data Investigators alert
	============================================= */
.data_wrap				{width:100%; margin:0 auto;}
a.data_invest			{display:block; width:100%; margin:0 auto; padding:10px 0; line-height:1.5em; font-size:14px; color:#D6D2A1; text-align:center; background-color:rgba(194, 0, 255, 0.4);}
a.data_invest:hover		{color:#fff; background-color:rgba(194, 0, 255, 0.8);}


/*	Footer
	============================================= */
.footer_wrap			{width:100%; min-width:1040px; height:40px; background-color:rgba(0,0,0,0.8);}
.footer					{width:960px; margin:0 auto; padding:10px 0;}
.team					{width:320px; display:inline-block; vertical-align:top;}
.team a					{font-size:13px; line-height:1.5em; color:#A3A3A3;}
.team a:focus			{color:#A3A3A3;}
.team a:link  			{color:#A3A3A3;}
.team a:visited			{color:#A3A3A3;}
.team a:hover			{color:#fff;}
.team a:active			{color:#A3A3A3;}
.team.git				{text-align:right;}
.team.top				{text-align:center;}
