/*	CSS for D-PORTAL 2014 ^o^
	If you're reading this in github, 
	please change to Tabs-4 as github is broken.
	============================================= */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0} /* Resets */

body,html 				{background:none; color:#444; width:100%; height:100%; margin:0; padding:0; font-family:Arial, Helvetica, sans-serif; text-rendering:optimizelegibility; word-wrap:break-word;}
html					{background-color:#000;}


/*	Links & fonts
	============================================= */
a						{-webkit-transition:all .2s ease-in-out; -moz-transition:all .2s ease-in-out; -o-transition:all .2s ease-in-out; -ms-transition:all .2s ease-in-out; transition:all .2s ease-in-out; cursor:pointer;}
a, img					{border:0; outline:none;}
a:focus					{color:#FFAB5E; text-decoration: none;}
a:link  				{color:#FFAB5E; text-decoration: none;}
a:visited				{color:#FFAB5E; text-decoration: none;}
a:hover					{color:#FF7A00; text-decoration: none;}
a:active				{color:#FFAB5E; text-decoration: none;}
i						{font-style:italics;}
.bold					{font-weight:bold;}
.bold.ob				{font-style:italic;}


/*	Main wrappers for content & fixed background img
	============================================= */
.portal					{-moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box; display:table; width:100%; height:100%;}
.main_wrap				{width:100%; min-width:1040px; padding:0px; display:table-cell; background-color: rgba(255,255,255,0.4);}
#background_image	 	{width:100%; height:100%; position:fixed; top:0; left:0; z-index:-1; background-image:url('/art/mexico_background_image.jpg'); background-repeat:no-repeat; background-position:center center; -webkit-background-size:cover; -moz-background-size:cover; -o-background-size:cover; background-size:cover;}
.overlay				{width:100%; height:100%; background-color:rgba(46, 41, 6, 0.6);}	/* Overlay colour for background image */
.default				{width:960px; margin:0 auto; padding:0;}
.default.center			{text-align:center;}
.third					{display:inline-block; vertical-align:top; width:300px; padding-right:20px;}

/*	Languages links (top right)
	============================================= */
a.tongue				{display:inline-block; vertical-align:top; width:50px; text-align:center; color:#ccc; font-size:0.8em;}
a.tongue:hover			{color:#fff;}

/*	Country Code List style
	============================================= */
.country_menu_wrap			{width:920px; padding:20px; margin:0 auto; margin-top:10px;}
.country_menu_title			{display:inline-block; padding:20px; vertical-align:top; color:#fff; font-weight:bold; font-size:1.2em; background-color:rgba(0,40,100,0.7); border-radius:8px 0 0 8px; height:20px; max-height:20px; padding-right:0; width:200px; max-width:200px;}
.country_menu_list_wrap		{display:inline-block; vertical-align:top; width:420px;}
.country_menu_peak			{display:inline-block; width:0; height:0; border-top:30px solid transparent; border-right:0; border-left:30px solid rgba(0,40,100,0.7); border-bottom:30px solid transparent;}
ul.country_menu_list		{list-style:none; padding:0; margin:0 auto; width:100%;}
ul.country_menu_list li.no	{display:none;}
a.country_code			{width:100%; height:100%; color:#fff; font-size:1.4em; line-height:1.15em; display:block; padding:5px 20px; vertical-align:top; text-align:left;}
a.country_code:hover	{background-color:rgba(37, 115, 205, 0.7);}


/*	Data Description styles
	============================================= */
.description			{width:960px; margin:0 auto; padding:40px 0; text-align:left;}
.description span.title	{display:block; color:#fff; line-height:1.35em; font-size:1.4em; margin-top:20px; padding:10px 0; border-top:1px solid #fff; border-bottom:1px solid #fff;}
.description p			{padding:15px 0; font-size:1.2em; color:#fff; line-height:1.2em; word-spacing:0.07em;}
a.read					{display:block; color:#C27E00; font-size:1.2em;}
a.read:hover			{color:#FFB700;}

/*	Data Investigators alert
	============================================= */
.data_wrap				{width:100%; margin:0 auto;}
a.data_invest			{display:block; width:100%; margin:0 auto; padding:10px 0; line-height:1.5em; font-size:0.9em; color:#D6D2A1; text-align:center; background-color:rgba(194, 0, 255, 0.4);}
a.data_invest:hover		{color:#fff; background-color:rgba(194, 0, 255, 0.8);}

/*	Footer
	============================================= */
.footer_wrap			{display:table-footer-group; height:1px; background-color:rgba(19, 20, 20, 0.95);}
.footer					{width:960px; margin:0 auto; padding:10px 0;}
.footer_link			{width:320px; display:inline-block; vertical-align:top;}
.footer_link a			{font-size:0.8em; line-height:1.5em; color:#818181;}
.footer_link a:focus	{color:#818181;}
.footer_link a:link  	{color:#818181;}
.footer_link a:visited	{color:#818181;}
.footer_link a:hover	{color:#fff;}
.footer_link a:active	{color:#818181;}
.footer_link.about		{text-align:right;}
.footer_link.top		{text-align:center;}

/*	Beige Alert
	============================================= */
.beigealert				{width:100%; margin:0 auto; background-color:#D80051; color:#fff; font-size:1.0em; line-height:1.25em; text-align:center; padding:10px 0;}
a.beige					{font-weight:bold; color:#FFFF00;}
a.beige:hover			{color:#fff;}
