body,html 				{background:none; color:#444; width:100%; height:100%; margin:0; padding:0; font-family:Arial, Helvetica, sans-serif; text-rendering:optimizelegibility; word-wrap:break-word;}

a						{-webkit-transition:all .2s ease-in-out; -moz-transition:all .2s ease-in-out; -o-transition:all .2s ease-in-out; -ms-transition:all .2s ease-in-out; transition:all .2s ease-in-out; cursor:pointer;}
a, img					{border:0; outline:none;}
a:focus					{color:#444; text-decoration: none;}
a:link  				{color:#444; text-decoration: none;}
a:visited				{color:#444; text-decoration: none;}
a:hover					{color:#444; text-decoration: none;}
a:active				{color:#444; text-decoration: none;}
i						{color:#444; font-style:italics;}
.defcon					{width:960px; margin:0 auto;}
.halfcon				{display:inline-block; vertical-align:top; width:460px; max-width:460px;}

.ctrack					{width:100%; min-height:100%; height:auto !important; height:100%; margin:0px 0px -40px 0px;}
.ctrack_main			{width:100%; min-width:1040px; padding:0px 0px 40px 0px; background-color: rgba(255,255,255,0.4);}
#imgwrap 				{width:100%; height:100%; position:fixed; top:0; left:0; z-index:-1; background-image:url('backgroundimage.jpg'); background-repeat:no-repeat; background-position:center center; -webkit-background-size:cover; -moz-background-size:cover; -o-background-size:cover; background-size:cover;}
.wrapper				{width:100%; padding:0px 0px 40px 0px; background-color:rgba(46, 41, 6, 0.6);}

.bold					{font-weight:bold;}
.bold.ob				{font-style:italic;}

.footer					{width:100%; margin:0 auto; background-color:#FFF083; color:#C5B541; margin-top:40px; padding:20px 0;}
.footer:hover			{color:#A59313;}

.footwrap				{width:100%; min-width:1040px; height:40px; background-color:rgba(0,0,0,0.8);}
.footcon				{width:960px; margin:0 auto; padding:10px 0;}
a.copyright				{font-size:14px; line-height:13px; color:#fff;}

a.navabout				{font-size:24px; color:#fff;}
a.navabout:hover		{border-bottom:2px solid #fff;}

a.boxmore				{display:block; width:100px; padding:10px; background-color:#ddd; border:1px solid #ddd; border-top:0; text-align:center; font-size:12px; color:#fff; border-radius:0 0 8px 8px;}
a.boxmore:hover			{background-color:#bbb;}

a.nearmore				{display:block; width:100px; padding:10px; background-color:#CADDE0; border:1px solid #CEDFE2; border-top:0; text-align:center; font-size:12px; color:#fff; border-radius:0 0 8px 8px;}
a.nearmore:hover		{background-color:#B6D5EE;}

table.list				{width:100%; border-collapse:collapse;}
table.list td			{color:#B8C8CD; font-size:20px; line-height:1.45em; word-spacing:0.7px; padding:20px 20px 20px 0; vertical-align:top;}
table.list td:nth-child(3)	{text-align:right; padding-right:0; min-width:140px;}
table.list a			{display:inline-block; padding-bottom:5px; width:100%; border-bottom:0px dotted #0D3057; color:#A8C5E5;}
table.list a:focus		{color:#A8C5E5; text-decoration: none;}
table.list a:link  		{color:#A8C5E5; text-decoration: none;}
table.list a:visited	{color:#A8C5E5; text-decoration: none;}
table.list a:hover		{color:#fff; border-bottom:0px dotted #B8C8CD; text-decoration: none;}
table.list a:active		{color:#A8C5E5; text-decoration: none;}

table.money				{width:100%; border-collapse:collapse;}
table.money td			{text-align:right; color:#B8C8CD; font-size:16px; line-height:1.45em; word-spacing:0.7px; padding:20px; vertical-align:top; border-bottom:1px solid #1E90FF;}
table.money td:nth-child(1)	{text-align:left; background-color:rgba(17, 46, 105, 0.4);}
table.money td:nth-child(2)	{text-align:left;}
table.money td:nth-child(3)	{background-color:rgba(17, 46, 105, 0.2);}
table.money td:nth-child(4)	{background-color:rgba(17, 46, 105, 0.4);}
table.money td:nth-child(5)	{background-color:rgba(17, 46, 105, 0.6);}
table.money td:nth-child(6)	{background-color:rgba(17, 46, 105, 0.4);}
table.money td:nth-child(7)	{background-color:rgba(17, 46, 105, 0.6);}
table.money tr:nth-child(1) td {color:#fff; font-weight:700; text-align:center; background-color:transparent;}
table.money tr:nth-child(2) td {color:#fff; font-weight:500;}
table.money tr:nth-child(2) td:nth-child(1) {background-color:rgba(17, 46, 105, 0.8);}
table.money tr:nth-child(2) td:nth-child(3)	{background-color:rgba(17, 46, 105, 0.6);}
table.money tr:nth-child(2) td:nth-child(4)	{background-color:rgba(17, 46, 105, 0.8);}
table.money tr:nth-child(2) td:nth-child(5)	{background-color:rgba(17, 46, 105, 0.9);}
table.money tr:nth-child(2) td:nth-child(6)	{background-color:rgba(17, 46, 105, 0.7);}
table.money tr:nth-child(2) td:nth-child(7)	{background-color:rgba(17, 46, 105, 0.9);}
table.money tr:nth-child(n+3) td:nth-child(n+3):hover	{background-color:rgba(17, 46, 105, 1);}
table.money a			{display:inline-block; padding-bottom:5px; width:100%; border-bottom:0px dotted #0D3057; color:#A8C5E5;}
table.money a:focus		{color:#A8C5E5; text-decoration: none;}
table.money a:link  	{color:#A8C5E5; text-decoration: none;}
table.money a:visited	{color:#A8C5E5; text-decoration: none;}
table.money a:hover		{color:#fff; border-bottom:0px dotted #B8C8CD; text-decoration:none;}
table.money a:active	{color:#A8C5E5; text-decoration: none;}

table.activity			{width:100%; border-collapse:collapse;}
table.activity td		{color:#B8C8CD; font-size:20px; line-height:1.45em; word-spacing:0.7px; padding:10px 20px; vertical-align:top;}
table.activity td:nth-child(1)	{padding:10px 0;}
table.activity td:nth-child(3)	{text-align:right; padding-right:0; min-width:140px;}
table.activity a		{display:inline-block; padding-bottom:5px; width:100%; border-bottom:0px dotted #0D3057; color:#95B0CF;}
table.activity a:focus	{color:#95B0CF; text-decoration: none;}
table.activity a:link  	{color:#95B0CF; text-decoration: none;}
table.activity a:visited{color:#95B0CF; text-decoration: none;}
table.activity a:hover	{color:#fff; border-bottom:0px dotted #B8C8CD; text-decoration: none;}
table.activity a:active	{color:#95B0CF; text-decoration: none;}

table.title				{width:960px; padding-bottom:15px; border-bottom:10px solid #fff;}
table.title td			{font-size:32px; line-height:1.1em; color:#fff; padding-right:20px;}
table.title td:nth-child(1)	{padding-right:10px; width:40px;}

a.block					{display:block;}

a.back span				{display:inline-block; vertical-align:top; padding-left:10px; font-size:14px; color:#ccc;}
a.back span:hover		{color:#fff; text-decoration:none;}

a.list_view_link		{display:block; width:380px; background-color:rgba(0,14,32,0.7); color:#ccc; font-size:20px; text-align:center; padding:20px 0; border-radius:0 0 8px 8px;}
a.list_view_link:hover	{background-color:rgba(0,14,32,0.9); color:#fff;}

a.list_more_link		{padding:10px 20px; background-color:#3B9CFB; font-size:20px; color:#fff; border-radius:0 0 8px 8px; display:block; max-width:160px; margin:0 auto;}
a.list_more_link:hover	{background-color:#0081FF;}







table.def.near a:focus		{color:#6B6F70; text-decoration: none;}
table.def.near a:link  		{color:#6B6F70; text-decoration: none;}
table.def.near a:visited	{color:#6B6F70; text-decoration: none;}
table.def.near a:hover		{color:#6B6F70; text-decoration: none;}
table.def.near a:active		{color:#6B6F70; text-decoration: none;}

table.def 					{font-size:20px; color:#444; border-collapse:collapse; }
table.def td 				{border-bottom:1px solid #ccc; padding:20px 0; display:table-cell; vertical-align:top;}
table.def tr:not(:nth-child(1)):hover			{background-color:rgba(112,125,138,0.1);}
table.def tr:nth-child(1) td:not(:nth-child(1)) {text-align:right;}
table.def tr:not(:nth-child(1)) td:nth-child(3) {text-align:right;}
table.def tr:nth-child(1) td {border-bottom:3px solid #D8D8D8; padding:5px 0;}

table.def.box1				{width:960px; margin:0 auto; margin-top:5px;}
table.def.box1 div			{padding-left:5px; width:760px; max-width:760px;}
table.def.box1 tr:nth-child(1) td 		{text-align:left;}
table.def.box1 tr:not(:nth-child(1)) td {text-align:left;}


table.def.box2				{width:450px; margin:0 auto; margin-top:5px; font-size:14px; color:#444;}
table.def.box2 div			{padding-left:5px; width:310px; max-width:310px;}
table.def.box2 tr:nth-child(1) td					{text-align:left;}
table.def.box2 tr:nth-child(1) td:not(:nth-child(1)){text-align:right;}

table.def.box3				{width:450px; margin:0 auto; margin-top:5px; font-size:14px; color:#444;}
table.def.box3 div			{padding-left:5px; width:350px; max-width:350px;}

table.def.near				{width:880px; margin:0 auto; color:#6B6F70;}
table.def.near td			{border-bottom:1px solid #D6E4E7; padding:15px 0;}
table.def.near div			{width:500px; max-width:500px; padding-left:5px;}
table.def.near tr:not(:nth-child(1)):hover			{background-color:rgba(118,179,240,0.1);}
table.def.near tr:nth-child(1) td					{border-bottom: 3px solid #CDE2E7; color:#999;}
table.def.near tr:nth-child(1) td:nth-child(2) 		{text-align:left;}
table.def.near tr:not(:nth-child(1)) td:nth-child(3){text-align:left;}
table.def.near tr:not(:nth-child(1)) td:nth-child(4){text-align:right;}

iati-activity		{margin:0 auto;}
