/*	CSS for D-PORTAL 2014 ^o^
	If you're reading this in github, 
	please change to Tabs-4 as github is broken.
	============================================= */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0} /* Resets */

body,html 				{background:none; color:#444; width:100%; height:100%; margin:0; padding:0; font-family:Arial, Helvetica, sans-serif; text-rendering:optimizelegibility; word-wrap:break-word;}
html					{background-color:#000;}


/*	Links & fonts
	============================================= */
a						{-webkit-transition:all .2s ease-in-out; -moz-transition:all .2s ease-in-out; -o-transition:all .2s ease-in-out; -ms-transition:all .2s ease-in-out; transition:all .2s ease-in-out; cursor:pointer;}
a, img					{border:0; outline:none;}
a:focus					{color:#53B4ED; text-decoration:none;}
a:link  				{color:#53B4ED; text-decoration:none;}
a:visited				{color:#53B4ED; text-decoration:none;}
a:hover					{color:#BBEFFF; text-decoration:none;}
a:active				{color:#53B4ED; text-decoration:none;}
i						{font-style:italic;}
.bold					{font-weight:bold;}
.bold.ob				{font-style:italic;}


/*	Main wrappers for content & fixed background img
	============================================= */
.portal					{-moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box; display:table; width:100%; height:100%;}
.main_wrap				{width:100%; min-width:1040px; padding:0px; display:table-cell; background-color: rgba(255,255,255,0.4);}
#background_image	 	{width:100%; height:100%; position:fixed; top:0; left:0; z-index:-1; background-image:url('/art/mexico_background_image.jpg'); background-repeat:no-repeat; background-position:center center; -webkit-background-size:cover; -moz-background-size:cover; -o-background-size:cover; background-size:cover;}
.overlay				{width:100%; height:100%; background-color:rgba(46, 41, 6, 0.6);}	/* Overlay colour for background image */
.default				{width:960px; margin:0 auto; padding:0;}
.default.center			{text-align:center;}
.third					{display:inline-block; vertical-align:top; width:300px; padding-right:20px;}


/*	Buttons and header styles
	============================================= */
.tag					{width:100%; margin:0 auto; padding:10px 0; border-top:1px solid #fff; border-bottom:1px solid #fff; text-align:center; color:#fff; font-size:1.4em; line-height:1.35em;}
a.path					{display:block; padding:40px 20px; border-radius:8px; background-color:rgba(0,14,32,0.7); text-align:center; margin:0 auto;}
a.path:hover			{background-color:rgba(0,14,32,0.9);}
a.path.no				{background-color:rgba(0,14,32,0.4);}
a.path.no:hover			{background-color:rgba(0,14,32,0.4); cursor:default;}
a.iati_link				{display:block; margin:0 auto; padding:10px; background-color:rgba(255, 255, 255, 0); border-radius:6px;}
a.iati_link:hover		{background-color:rgba(255, 255, 255, 0);}


/*	Country Code List style
	============================================= */
.country_menu_wrap			{width:960px; margin:0 auto; margin-top:10px; padding-bottom:40px;}
.country_menu_title_wrap	{width:460px; display:inline-block; vertical-align:top; text-align:left;}
.country_menu_title_wrap p	{padding:15px 0; font-size:1.2em; color:#fff; line-height:1.2em; word-spacing:0.07em; text-align:left;}
.country_menu_title			{padding:20px 0; color:#fff; font-size:1.4em; height:20px; max-height:20px; width:460px; max-width:460px; border-top:1px solid #fff; border-bottom:1px solid #fff;}
.country_menu_list_wrap		{display:inline-block; vertical-align:top; width:460px; padding-left:40px;}
ul.country_menu_list		{list-style:none; padding:0; margin:0 auto; width:100%;}
ul.country_menu_list li.no	{display:none;}
a.country_code				{width:100%; height:100%; color:#fff; font-size:1.4em; line-height:1.15em; display:block; padding:5px 20px; vertical-align:top; text-align:left;}
a.country_code:hover		{background-color:rgba(37, 115, 205, 0.7);}


/*	Data Description styles
	============================================= */
.description			{width:960px; margin:0 auto; padding-bottom:40px; text-align:left;}
.description span.title	{display:block; color:#fff; line-height:1.35em; font-size:1.4em; padding:10px 0; border-top:1px solid #fff; border-bottom:1px solid #fff;}
.description p			{padding:15px 0; font-size:1.2em; color:#fff; line-height:1.2em; word-spacing:0.07em;}
a.read					{display:block; color:#53B4ED; font-size:1.2em;}
a.read:hover			{color:#BBEFFF;}

/*	Data Investigators alert
	============================================= */
.data_wrap				{width:100%; margin:0 auto;}
a.data_invest			{display:block; width:100%; margin:0 auto; padding:10px 0; line-height:1.5em; font-size:0.9em; color:#D6D2A1; text-align:center; background-color:rgba(194, 0, 255, 0.4);}
a.data_invest:hover		{color:#fff; background-color:rgba(194, 0, 255, 0.8);}

/*	Footer
	============================================= */
.footer_wrap			{display:table-footer-group; height:1px; background-color:rgba(19, 20, 20, 0.95);}
.footer					{width:960px; margin:0 auto; padding:10px 0;}
.footer_link			{width:320px; display:inline-block; vertical-align:top;}
.footer_link a			{font-size:0.8em; line-height:1.5em; color:#818181;}
.footer_link a:focus	{color:#818181;}
.footer_link a:link  	{color:#818181;}
.footer_link a:visited	{color:#818181;}
.footer_link a:hover	{color:#fff;}
.footer_link a:active	{color:#818181;}
.footer_link.about		{text-align:right;}
.footer_link.top		{text-align:center;}

/*	Beige Alert
	============================================= */
.beigealert				{width:100%; margin:0 auto; background-color:#D80051; color:#fff; font-size:1.0em; line-height:1.25em; text-align:center; padding:10px 0;}
a.beige					{font-weight:bold; color:#FFFF00;}
a.beige:hover			{color:#fff;}
