/*	CSS for D-PORTAL 2014 ^o^
	If you're reading this in github, 
	please change to Tabs-4 as github is broken.
	============================================= */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0} /* Resets */

body,html 				{background:none; color:#444; width:100%; height:100%; margin:0; padding:0; font-family:Arial, Helvetica, sans-serif; text-rendering:optimizelegibility; word-wrap:break-word;}
html					{background-color:#000;}


/*	Links & fonts
	============================================= */
a						{-webkit-transition:all .2s ease-in-out; -moz-transition:all .2s ease-in-out; -o-transition:all .2s ease-in-out; -ms-transition:all .2s ease-in-out; transition:all .2s ease-in-out; cursor:pointer;}
a, img					{border:0; outline:none;}
a:focus					{color:#53B4ED; text-decoration:none;}
a:link  				{color:#53B4ED; text-decoration:none;}
a:visited				{color:#53B4ED; text-decoration:none;}
a:hover					{color:#BBEFFF; text-decoration:none;}
a:active				{color:#53B4ED; text-decoration:none;}
em, i, .italic			{font-style:italic; color:inherit;}
strong, b, .bold		{font-weight:bold; color:inherit;}
.underline				{text-decoration:underline; color:inherit;}
.bold.ob				{font-style:italic;}


/*	Main wrappers for content & fixed background img
	============================================= */
.portal					{-moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box; display:table; width:100%; height:100%;}
.main_wrap				{width:100%; min-width:1040px; padding:0px; display:table-cell; background-color: rgba(255,255,255,0.4);}
#background_image	 	{width:100%; height:100%; position:fixed; top:0; left:0; z-index:-1; background-image:url('/art/mexico_background_image.jpg'); background-repeat:no-repeat; background-position:center center; -webkit-background-size:cover; -moz-background-size:cover; -o-background-size:cover; background-size:cover;}
.overlay				{width:100%; height:100%; background-color:rgba(19, 16, 1, 0.6);}	/* Overlay colour for background image */
.default				{width:960px; margin:0 auto; padding:0; position:relative;}
.default.pad40			{padding:40px 0;}
.default.center			{text-align:center;}
.third					{display:inline-block; vertical-align:top; width:300px; padding-right:30px;}
.third:last-of-type		{padding:0;}
.tongue_wrap			{text-align:right; width:960px; padding-bottom:10px;}


/*	Buttons and header styles
	============================================= */
.tag					{width:100%; margin:0 auto; padding:10px 0; border-top:1px solid #fff; border-bottom:1px solid #fff; text-align:center; color:#fff; font-size:1.4em; line-height:1.35em;}
a.path					{display:block; padding:40px 20px; border-radius:8px; background-color:rgba(0,14,32,0.7); text-align:center; margin:0 auto;}
a.path:hover			{background-color:rgba(0,14,32,0.9);}
a.path.no				{background-color:rgba(0,14,32,0.4);}
a.path.no:hover			{background-color:rgba(0,14,32,0.4); cursor:default;}
a.path.publisher		{padding:20px; margin-top:10px; color:#fff; font-size:1.2em;}
.path_title				{display:block; font-size:2.3em;}
.path_title.install		{color:#53AEFF;}
.path_title.explore		{color:#2CE268;}
.path_title.develop		{color:#FF860E;}
.path_txt				{display:block; color:#fff; font-size:1.1em; padding-top:20px;}

/*	Country Code List style
	============================================= */
.country_menu_wrap			{width:960px; margin:0 auto; padding-bottom:40px;}
.country_menu_list_wrap		{margin:0 auto; width:520px;}
.publisher_menu_list_wrap	{margin:0 auto; width:860px;}
ul.country_menu_list		{list-style:none; padding:0; margin:0 auto; width:100%;}
ul.country_menu_list li.no	{display:none;}
ul.country_menu_list li img	{max-height:20px;}
ul.country_menu_list li		{border-bottom:1px solid #A0988B;}
ul.country_menu_list li:last-of-type	{border:0;}
span.select_wrap			{display:inline-block; vertical-align:top; width:50px;}
span.select_wrap.countryid	{padding-left:10px; color:#CFC6B4;}
span.select_wrap.publisherid{padding-left:10px; color:#FFF; text-align:right; width:200px;}	
span.select_wrap.countryname{width:400px; padding-left:10px; text-align:left;}
span.select_wrap.publishername		{width:600px; padding-right:10px; text-align:left;}
.publisher_list				{width:100%; height:100%; color:#fff; font-size:1.2em; line-height:1.15em; display:block; padding:20px 0; font-weight:bold;}
a.country_code				{width:100%; height:100%; color:#fff; font-size:1.4em; line-height:1.15em; display:block; padding:20px 0 20px 20px; vertical-align:top; text-align:center;}
a.country_code.publishers	{width:820px; padding:20px; font-size:1.2em;}
a.country_code:hover		{background-color:rgba(37, 115, 205, 0.7);}


/*	Text and Description styles
	============================================= */
.description_wrap			{width:880px; margin:0 auto; padding:40px; text-align:left; background-color:rgba(255,255,255,0.1);}
.description_wrap.publisher	{margin-top:40px; margin-bottom:40px;}
.description				{display:inline-block; vertical-align:top; width:410px; margin-right:60px;}
.description:last-of-type	{margin-right:0;}
.description span.title		{display:block; color:#fff; line-height:1.35em; font-size:1.4em; padding:10px 0; width:100%; border-top:1px solid #fff; border-bottom:1px solid #fff;}
.description a:last-of-type	{margin-bottom:20px;}
.description a:first-of-type{margin-top:10px;}
.description p				{padding:15px 0; font-size:1.2em; color:#fff; line-height:1.2em; word-spacing:0.07em;}
a.read						{display:block; color:#A8D2F8; font-size:1.2em; padding:10px 0;}
a.read:hover				{color:#D8EDFF;}


/*	Footer
	============================================= */
.footer_wrap			{display:table-footer-group; height:1px; background-color:rgba(19, 20, 20, 0.95);}
.footer					{width:960px; margin:0 auto; padding:10px 0;}
.footer_link			{width:320px; display:inline-block; vertical-align:top;}
.footer_link a			{font-size:0.8em; line-height:1.5em; color:#818181;}
.footer_link a:focus	{color:#818181;}
.footer_link a:link  	{color:#818181;}
.footer_link a:visited	{color:#818181;}
.footer_link a:hover	{color:#fff;}
.footer_link a:active	{color:#818181;}
.footer_link.about		{text-align:right;}
.footer_link.top		{text-align:center;}

/*	Beige Alert
	============================================= */
.beigealert				{width:100%; margin:0 auto; background-color:#D80051; color:#fff; font-size:1.0em; line-height:1.25em; text-align:center; padding:10px 0;}
a.beige					{font-weight:bold; color:#FFFF00;}
a.beige:hover			{color:#fff;}
