#css
#=^
#background_image	 {width:100%; height:100%; position:fixed; top:0; left:0; z-index:-1; background-image:url('/art/backgroundimage.jpg'); background-repeat:no-repeat; background-position:center center; -webkit-background-size:cover; -moz-background-size:cover; -o-background-size:cover; background-size:cover;}

/*	Navigation
	============================================= */

table.head			{width:960px; margin:0 auto; position:relative;}
table.head td.logo, table.head td.options	{padding-top:20px}
table.head td.dplinks	{text-align:center;}
.navi				{width:100%; background-color:rgba(42,42,42,0.8); padding-bottom:30px; position:fixed; z-index:100;}
a.top				{display:block; color:#fff; font-size:18px; vertical-align:top; padding-top: 45px; border-top:5px solid rgba(0,0,0,0);}
a.top.install:hover	{border-top:5px solid #3A9971;}
a.top.savi:hover	{border-top:5px solid rgba(255,165,0,1);}
a.top.hub:hover		{border-top:5px solid rgba(255,255,255,1);}
a.top.news:hover	{border-top:5px solid #3A4899;}


/*	Wrappers
	============================================= */

.mid_wrap			{display:inline-block; vertical-align:top; width:460px; max-width:460px;}
.about_wrap			{width:100%; background-color:#2573CD; padding:140px 0 50px 0;}
.about_wrap.more	{background-color:rgba(10, 14, 20, 0.91); padding:50px 0 100px 0;}
.about_wrap.moretxt	{font-size:1.2em; color:#fff; line-height:1.2em; margin-bottom:40px; background:none;}
.about_wrap.sav		{background-color:#FFA500;}
.about_wrap.install	{background-color:#3A9971; padding:0 0 40px 0;}
.about_wrap.dq		{background-color:#724900; padding:0 0 50px 0;}
.about_wrap.q		{background-color:#4F3200; padding:0 0 50px 0;}
.about_wrap.git		{background-color:#fff; padding:80px 0 60px 0;}


/*	Text styles
	============================================= */

h1				{font-weight:bold; font-size:38px; display:block; padding-top:30px;}
p	{color:#fff; padding:15px 0;}
.about_head		{color:#fff; line-height:1.25em; font-size:22px; padding:30px 0 0px 40px;}
.about_info		{font-size:18px; line-height:1.4em; color:#E8F6FF; padding-top:10px;}
.sav_head		{color:#fff; line-height:1.25em; font-size:22px; padding:40px 0 40px 40px;}
.sav_info		{font-size:18px; line-height:1.4em; padding-top:10px; color:#FFF0D4;}
.dq_info		{font-size:18px; line-height:1.4em; padding:20px; color:#FFC761;}
.footer_link.mit{font-size:13px; line-height:13px; color:#fff; text-align:right;}
a.co			{text-decoration:underline; color:#D3F9FF;}
a.co:hover		{color:#fff;}


/*	About dstore and q
	============================================= */

.l0			{width:470px; max-width:470px; border-right:10px solid #FFA500; height:100px; max-height:100px;}
.l1			{display:inline-block; vertical-align:top; width:240px; max-width:240px; height:100px; max-height:100px;}
.l2			{display:inline-block; vertical-align:top; width:230px; max-width:230px; border-left:10px solid #FFA500; border-top:10px solid #FFA500; height:90px; max-height:90px;}
.l3			{display:inline-block; vertical-align:top; width:230px; max-width:230px; border-right:10px solid #FFA500; border-top:10px solid #FFA500; height:90px; max-height:90px;}
.l4			{display:inline-block; vertical-align:top; width:240px; max-width:240px; height:100px; max-height:100px;}
.dq_wrap	{display:inline-block; vertical-align:top; width:400px; max-width:400px; padding:40px;}
#arrow		{width:0; height:0; border-top:30px solid #724900; border-left:30px solid transparent; border-right:30px solid transparent; margin-bottom:80px;}


/*	q examples
	============================================= */

.qhead		{color:#FFA500; font-size:28px; margin-bottom:60px;}
.qabt		{color:#B17300; font-size:16px; line-height:1.2em;}
.qinfo		{color:#FFA500; font-size:18px; line-height:1.3em; padding:20px 0; margin-bottom:30px;}
span.qdef	{display:inline-block; vertical-align:top; color:#FFBD44; font-size:16px; font-family:monospace;}
a.qeg		{display:block; padding:10px 30px; background-color:#201500; margin-bottom:20px; color:#fff; font-size:18px; font-family:monospace;}
a.qeg:hover	{background-color:#0E0900;}


/*	Github
	============================================= */

.gitcon		{display:inline-block; vertical-align:top; width:760px; max-width:760px;}
.gitinfo	{padding:20px 100px 0 0; font-size:18px; line-height:1.3em;}
.octocat	{display:inline-block; vertical-align:top; width:200px; max-width:200px;}
a.git		{display:block; font-size:38px; color:#444;}
a.git.small	{font-size:inherit; display:inline-block;}
a.git:hover	{color:#1E90FF;}
