#css
#=^
#background_image	{width:100%; height:100%; position:fixed; top:0; left:0; z-index:-1; background-image:url('/art/backgroundimage.jpg'); background-repeat:no-repeat; background-position:center center; -webkit-background-size:cover; -moz-background-size:cover; -o-background-size:cover; background-size:cover;}
.overlay			{width:100%; height:100%; background-color:rgba(19, 16, 1, 0.6);}	/* Overlay colour for background image */
a					{-webkit-transition:all .2s ease-in-out; -moz-transition:all .2s ease-in-out; -o-transition:all .2s ease-in-out; -ms-transition:all .2s ease-in-out; transition:all .2s ease-in-out; cursor:pointer;}

/*	Navigation
	============================================= */

table.head			{width:960px; margin:0 auto; position:relative;}
table.head td.logo, table.head td.options	{padding-top:20px}
table.head td.dplinks	{text-align:center;}
.navi				{width:100%; background-color:rgba(42,42,42,0.8); padding-bottom:30px; position:fixed; z-index:100;}
a.top				{display:block; color:#fff; font-size:18px; vertical-align:top; padding-top: 45px; border-top:5px solid rgba(0,0,0,0);}
a.top.install:hover	{border-top:5px solid #3A9971;}
a.top.savi:hover	{border-top:5px solid rgba(255,165,0,1);}
a.top.hub:hover		{border-top:5px solid rgba(255,255,255,1);}
a.top.news:hover	{border-top:5px solid #495BBE;}
a.top.dash:hover	{border-top:5px solid #EE8E26;}


/*	Wrappers
	============================================= */

.mid_wrap			{display:inline-block; vertical-align:top; width:460px; max-width:460px;}
.about_wrap			{width:100%; background-color:#2573CD; padding:140px 0 50px 0;}
.about_wrap.more	{background-color:rgba(10, 14, 20, 0.35); padding:0 0 100px 0;}
.about_wrap.moretxt	{font-size:1.1em; color:#fff; line-height:1.55em; margin-bottom:40px; background:none;}
.about_wrap.sav		{background-color:#FFA500;}
.about_wrap.install	{background-color:#2573CD; padding:0 0 40px 0;}
.about_wrap.dash	{background-color:#EE8E26; padding:0 0 40px 0;}
.about_wrap.dq		{background-color:#724900; padding:0 0 50px 0;}
.about_wrap.q		{background-color:#4F3200; padding:0 0 40px 0;}
.about_wrap.sources	{background-color:#201500; padding:0 0 50px 0;}
.about_wrap.git		{background-color:#fff; padding:80px 0 60px 0;}


/*	Text styles
	============================================= */

h1				{font-weight:bold; font-size:38px; display:block; padding-top:30px;}
p				{color:#fff; padding:15px 0;}
.mid_wrap p		{color:#fff; padding:30px 0 5px;}
.about_head		{color:#fff; line-height:1.25em; font-size:22px; padding:30px 0 0px 40px;}
.about_info		{font-size:18px; line-height:1.4em; color:#E8F6FF; padding-top:10px;}
.sources_head	{color:#fff; font-size:28px; padding-top:80px; margin-bottom:40px;}
.sav_head		{color:#fff; line-height:1.25em; font-size:22px; padding:40px 0 40px 40px;}
.sav_info		{font-size:18px; line-height:1.4em; padding-top:10px; color:#FFF0D4;}
.dq_info		{font-size:18px; line-height:1.4em; padding:20px; color:#FFC761;}
.footer_link.mit{font-size:13px; line-height:13px; color:#fff; text-align:right;}
a.co			{color:#5E96DD;}
a.co:hover		{color:#D3F9FF; text-decoration:underline;}
a.country_portal{color:#031B35;}
a.country_portal:hover	{text-decoration:underline;}
a.dash_link		{color:#4D2B00;}
a.dash_link:hover{text-decoration:underline;}
a.how			{display:inline-block; padding:5px 10px; background-color:#2573CD; color:rgba(10, 14, 20, 1); border-radius:6px; font-size:0.8em; font-weight:bold; margin-right:5px;}
a.how:hover		{background-color:#3794FF;}


/*	About dstore and q
	============================================= */

.l0			{width:470px; max-width:470px; border-right:10px solid #FFA500; height:100px; max-height:100px;}
.l1			{display:inline-block; vertical-align:top; width:240px; max-width:240px; height:100px; max-height:100px;}
.l2			{display:inline-block; vertical-align:top; width:230px; max-width:230px; border-left:10px solid #FFA500; border-top:10px solid #FFA500; height:90px; max-height:90px;}
.l3			{display:inline-block; vertical-align:top; width:230px; max-width:230px; border-right:10px solid #FFA500; border-top:10px solid #FFA500; height:90px; max-height:90px;}
.l4			{display:inline-block; vertical-align:top; width:240px; max-width:240px; height:100px; max-height:100px;}
.dq_wrap	{display:inline-block; vertical-align:top; width:400px; max-width:400px; padding:40px;}
.arrow		{width:0; height:0; border-top:30px solid #724900; border-left:30px solid transparent; border-right:30px solid transparent; margin-bottom:80px;}
.arrow.more	{margin:0; border-top:30px solid #2573CD;}


/*	q examples
	============================================= */

.qhead		{color:#FFA500; font-size:28px; margin-bottom:60px;}
.qabt		{color:#B17300; font-size:16px; line-height:1.2em;}
.qinfo		{color:#FFA500; font-size:18px; line-height:1.3em; padding:20px 0; margin-bottom:30px;}
span.qdef	{display:inline-block; vertical-align:top; color:#FFBD44; font-size:16px; font-family:monospace;}
a.qeg		{display:block; padding:10px 30px; background-color:#201500; margin-bottom:20px; color:#fff; font-size:18px; font-family:monospace;}
a.qeg:hover	{background-color:#0E0900;}


/*	Attribution and link to data sources
	============================================= */
	
table.sources			{width:960px; margin:0 auto; color:#fff; table-layout:fixed;}
table.sources th		{text-align:left; font-weight:bold; padding:20px 20px 20px 0;}
table.sources th.col1	{width:25%;}
table.sources th.col2	{width:40%;}
table.sources th.col3	{width:35%;}
table.sources td		{padding:10px 20px 10px 0; line-height:1.45em; border-bottom:1px solid #505050; vertical-align:baseline;}
table.sources td:hover	{cursor:default;}
table.sources td:first-child	{color:#D0DEF0;}
table.sources td a		{color:#5E96DD;}
table.sources td a:hover{color:#A5CDFF; text-decoration:underline;}


/*	Github
	============================================= */

.gitcon		{display:inline-block; vertical-align:top; width:760px; max-width:760px;}
.gitinfo	{padding:20px 100px 0 0; font-size:18px; line-height:1.3em;}
.gitinfo p	{color:#444;}
.octocat	{display:inline-block; vertical-align:top; width:200px; max-width:200px;}
a.git		{display:block; font-size:38px; color:#444;}
a.git.small	{font-size:inherit; display:inline-block;}
a.git:hover	{color:#1E90FF;}
