#^css

*		{box-sizing:border-box;}
html	{overflow:hidden;}
body	{background:#141414; font-family:'Cabin',monospace,sans-serif; font-size:14px; letter-spacing:1px; line-height:20px; color:#ddd; width:100%; padding:0; margin:0 auto; position:relative; margin:0; position:absolute; top:0; bottom:0; left:0; right:0;}
a		{color:#88f;}
b		{font-weight:700;}

/* Fix long urls */
a		{-webkit-transition:all .2s ease-in-out; -moz-transition:all .2s ease-in-out; -o-transition:all .2s ease-in-out; -ms-transition:all .2s ease-in-out; transition:all .2s ease-in-out; cursor:pointer; overflow-wrap:break-word; word-wrap:break-word; word-break:break-word; -ms-hyphens:auto; -moz-hyphens:auto; -webkit-hyphens:auto; hyphens:auto;}

/*	Main containers	*/
#top_title	{display:inline-block;}
#split_top	{margin:0; height:32px; width:100%; overflow:hidden;}
#split_bot	{margin:0; position:absolute; top:32px; bottom:0; left:0; right:0;}
#editor		{margin:0; position:absolute; top:0; bottom:0; left:0; right:0; font-size:14px;}
.result		{width:100%; height:100%; overflow: scroll; border:0;}
.about		{position:absolute; top:0; right:15px; color:#666; font-size:12px;}
.splitter_panel .vsplitter	{background-color:#222;}
.splitter_panel .hsplitter	{background-color:#222;}
.ace_editor					{font-size:16px;}
.ace-twilight .ace_gutter	{color:#666 !important;}

/*	Menus	*/
#menubar 				{display:inline-block;}
#menubar > li 			{display:inline-block; line-height:24px;}
#menubar > li > ul > li {display:block;}

/*	Font styles	*/
.json-string		{color:#63c156;}
.cmd .cursor.blink	{color:#aaa; border-left:1px solid #aaa; background-color:black; margin-left:-1px;}

