#^savi-page-css		/*	Outside ctrack	*/

*			{box-sizing:border-box; font-family:Arial,Helvetica,sans-serif; word-wrap:break-word;}
body		{background-color:#47506B; color:#FFF; margin-top:40px;}


#^savi-css

.activity *, .org *			{box-sizing:border-box; font-family:Arial,Helvetica,sans-serif; word-wrap:break-word;}
.activity, .org				{background-color:rgba(0,14,32,0.7); border-radius:8px; box-sizing:border-box; color:#fff; margin:0 auto; margin-bottom:40px; padding:40px 40px 1px 40px; position:relative; width:960px;}
.activity > *, .org > *		{box-sizing:border-box;}
.activity a					{color:#FFC28A; text-decoration:none;}
.activity a:link			{color:#FFC28A; text-decoration:none;}
.activity a:visited			{color:#FFC28A; text-decoration:none;}
.activity a:hover			{color:#FFDBBB; text-decoration:none;}
.activity a:active			{color:#FFC28A; text-decoration:none;}
.org						{margin-top:40px;}
.org a						{color:#FFC28A; text-decoration:none;}
.org a:link					{color:#FFC28A; text-decoration:none;}
.org a:visited				{color:#FFC28A; text-decoration:none;}
.org a:hover				{color:#FFDBBB; text-decoration:none;}
.org a:active				{color:#FFC28A; text-decoration:none;}

/*	FLAGS	*/
.humanitarian	{background-color:#ff890c; color:#000e20; font-size:14px; left:0; padding:10px 40px 7px 40px; position:absolute; text-align:right; text-transform:uppercase; top:-10px;}
.hum_transaction{background-color:rgba(48,71,103,1); border-radius:4px; color:#CCC; display:inline-block; font-size:12px; margin-left:-5px; margin-top:10px; padding:2px 5px;}
span.withdrawn	{background-color:#ccc; border-radius:3px; color:#444; font-size:12px; font-style:italic; font-weight:normal; margin-left:5px; padding:2px 5px; text-transform:initial; width:initial;}

/*	THEME BUTTON	*/
.theme_button		{position:fixed; top:0px; right:0px; background-color:#000; color:#FFF; cursor:pointer; padding:5px 10px; font-size:14px;}
.theme_button:hover	{background-color:#666;}

/*	VERSION 1 BANNER	 */
a.banner_v1:link	{background-color:#c40000; border-radius:2px 2px 0 0; color:#fff; display:block; font-size:16px; margin-bottom:20px; padding:20px; text-align:center; text-decoration:none;}
a.banner_v1:visited	{color:#fff;}
a.banner_v1:hover	{background-color:#f00;}
a.banner_v1:active	{color:#fff;}

/*	HEADERS	*/
.header,
.header_doc		{border-bottom:1px solid #aaa; color:#ccc; display:block; font-size:13px; margin-bottom:20px; padding-bottom:10px; position:relative; text-transform:uppercase;}
.header_doc		{border:0; margin:0;}
.header_section	{background-color:rgba(17,46,105,1); box-sizing:border-box; color:#FFF; font-size:12px; margin:0 0 20px -50px; padding:10px 40px; text-transform:uppercase; width:980px;}
.bright			{background-color:rgba(38,67,128,1);}
.brighter		{background-color:transparent; border-bottom:2px solid #47506b; font-size:11px; line-height:20px; margin:auto; margin:5px 0 20px 0; padding:0; width:880px;}
.brighter span	{background-color:#47506b; display:inline; padding:5px 10px;}
.sticky			{position:sticky; top:-1px; z-index:2;}
.nostick		{position:initial;}
span.block		{display:block;}
.version		{display:block; font-size:12px; position:absolute; right:0; top:0;}
.version span	{color:#fff;}

/*	WRAPPERS	*/
.wrap_title						{padding-bottom:40px;}
.wrap_reporting_org				{color:#ccc; font-size:18px; line-height:1.35em;}
.wrap_title	.narrative						{font-size:42px; line-height:1.1em;}
.wrap_title	.narrative:nth-of-type(n+2)		{font-size:30px; margin-top:5px; line-height:1em;}
.wrap_title	.narrative:nth-of-type(2)		{margin-top:10px;}
.wrap_reporting_org div			{display:inline-block; padding-right:10px; vertical-align:top;}
.wrap_iati_identifier			{background-color:rgba(0,14,32,0.7); color:#FFAB5E; font-size:18px; line-height:1.5em; margin:0 auto; margin:25px 0 0 -40px; padding:20px 40px; width:960px;}
.wrap_iati_identifier.org_id	{margin-top:10px;}
.wrap_reporting_org .text,
.wrap_iati_identifier .text		{color:#ccc; font-size:13px; text-transform:uppercase;}
.wrap_iati_identifier .text a	{font-size:18px; padding-left:5px;}
.wrap_name_org					{color:#fff; font-size:18px; padding-bottom:10px;}
.wrap_description				{margin:40px auto;}
.wrap_description .text			{margin-bottom:30px;}
.wrap_description .text .narrative					{font-size:1.0em; line-height:1.5em; unicode-bidi:embed; white-space:pre-line; word-spacing:0.05em;}
.wrap_description .text .narrative:nth-of-type(n+2)	{display:block; margin-top:15px; color:#ccc;}
.wrap_description .text .narrative:first-letter		{text-transform:capitalize;}
.wrap_default					{margin:0 auto; padding:20px 0 0 0;}
.wrap_default .text				{color:#ccc; display:inline-block; font-size:14px; vertical-align:top; width:50%;}
.wrap_default .text:first-of-type	{padding-right:20px;}
.wrap_default .text	span		{color:#fff; font-size:16px; padding-left:10px;}
.wrap_location .header_section,
.wrap_budget .header_section	{margin-top:0;}
.wrap_document					{margin:30px 0;}
.wrap_budget_not_provided		{font-size:16px; padding-bottom:20px;}
.wrap_budget_not_provided span	{font-weight:bold; text-transform:lowercase;}
.reporting_org span				{font-size:12px; margin-left:5px; vertical-align:middle;}
.reporting_org .narrative:nth-of-type(2)	{font-style:italic;}

/*	GRAPHS	*/
.wrap_recipient_country,
.wrap_sector				{background-color:#fff; color:#444; margin:-20px 0 0 -40px; padding:0 0 40px 0; width:960px;}
.wrap_recipient_country		{padding:40px 0;}
.sector,
.sector_list_wrap					{color:#444; font-size:14px; line-height:18px; padding:0 40px;}
.sector_list_wrap span				{display:inline-block; padding-right:40px; vertical-align:top; width:30%;}
.sector_list_wrap span.withdrawn	{padding-right:5px; width:initial;}
.sector_list_wrap span.sector_list_description	{font-size:13px; line-height:15px; padding:0; width:70%;}
.sector_list		{border-bottom:1px solid #ddd; margin-bottom:10px; padding-bottom:10px;}
.sector_vocab		{border-bottom:1px solid #aaa; padding-bottom:20px;}
.sector_list:last-of-type,
.sector_vocab:last-of-type	{border:0; padding-bottom:0;}
.wrap_code,
.wrap_bar			{display:inline-block; vertical-align:middle; width:400px;}
.wrap_code			{border-right:1px solid #999; padding:10px 20px 10px 0; text-align:right; width:480px;}
.wrap_bar			{height:24px;}
.wrap_code span		{display:inline-block; vertical-align:middle;}
.sector_code_text	{max-width:360px;}
.sector_code		{background-color:rgba(192,213,242,0.7); border-radius:4px; color:#222; font-size:11px; margin-left:10px; padding:2px 5px; white-space:nowrap;}
.sector_code:nth-of-type(3)	{margin-left:5px;}
.sector_bar,
.sector_value		{display:inline-block; vertical-align:middle;}
.sector_bar			{background-color:#05569d; height:24px; max-width:335px; position:relative;}
.sector_bar:before	{background-color:rgba(17,46,105,0.1); content:""; height:24px; left:0; position:absolute; top:0; width:335px;}
.sector_overlay		{height:24px; left:0; position:absolute; top:0;}
.sector_value		{color:#444; font-size:14px; margin-left:20px; max-width:36px; text-align:right; white-space:nowrap;}
.sector_value:after	{content:"%";}
.wrap_sector .header			{border:0; color:#444; font-weight:bold; margin:0 auto; padding:30px 0 5px 0; text-align:center; width:880px;}
.wrap_sector .header.glossary	{border-bottom:1px solid #aaa; margin-bottom:10px; text-align:left;}
.wrap_sector .subheader			{color:#555; font-size:12px; line-height:16px; margin:0 auto; padding-bottom:20px; text-align:center; word-break:keep-all;}
.wrap_sector .subheader a			{color:#093E6F; display:block;}
.wrap_sector .subheader a:link		{color:#093E6F;}
.wrap_sector .subheader a:visited	{color:#093E6F;}
.wrap_sector .subheader a:hover		{color:#0373C9;}
.wrap_sector .subheader a:active	{color:#093E6F;}
.wrap_capital_spend	{padding:20px 0;}
.wrap_capital_spend .sector_code_text	{max-width:initial;}

/*	DATA SOURCES	*/
.data_source a			{background-color:#24405d99; border-radius:4px; color:#fff; display:inline-block; font-size:16px; font-variant:all-small-caps; margin:10px 2% 5px 0; padding:5px 0; text-align:center; vertical-align:baseline; width:12%;}
.data_source a:link		{color:#fff;}
.data_source a:visited	{color:#fff;}
.data_source a:hover	{color:#FFC28A;}
.data_source a:active	{color:#fff;}
.data_source a span		{color:#ccc;}
.data_source a.dlogs	{width:20%;}
.data_source a.slug		{width:28%;}
.data_source a.csv		{margin-right:0; width:20%;}

/*	COUNT	*/
span.count				{color:#ccc; font-size:12px; padding-left:10px;}
.wrap_sector span.count	{color:#444; font-weight:normal; padding-left:5px;}
.wrap_transaction,
.wrap_result			{position:relative;}
.wrap_length			{color:#ddd; font-size:10px; max-width:700px; position:absolute; right:-20px; text-align:right; top:10px;}
.wrap_length span.count	{font-size:10px; padding:0 0 0 5px;}
.length					{display:inline-block; padding-left:20px;}
.wrap_result .wrap_length	{right:20px;}
.wrap_result .length	{min-width:100px;}


/*	DOCUMENTS	*/
a.doc_link:before		{border:1px solid #CCC; color:#CCC; content:"☰"; display:inline-block; margin-right:-24px; padding:2px; vertical-align:top;}
a.doc_link				{background-color:rgba(50,58,64,0.6); border:1px solid #656a6f; border-bottom:0; color:#FFF; display:block; font-size:10px; line-height:1.25em; padding:10px 15px; position:relative;}
.wrap_document a		{color:#fff;}
.wrap_document a:link	{color:#fff;}
.wrap_document a:visited{color:#fff;}
.wrap_document a:hover	{background-color:rgba(77,88,97,0.6);}
.wrap_document a:active	{color:#fff;}
a.doc_link:last-of-type	{border-bottom:1px solid #656a6f;}

.wrap_doc_link	{display:inline-block; padding-left:34px; vertical-align:top;}
span.doc_title,
span.doc_format	{display:inline-block; vertical-align:top;}
span.doc_title	{font-size:14px; line-height:1.25em; max-width:600px;}
span.doc_title:nth-of-type(n+2)	{font-style:italic;}
span.doc_desc	{color:#ccc; display:block; font-size:12px; line-height:14px; padding:5px 0;}
span.doc_format	{background-color:rgba(22,24,37,0.6); border-radius:4px; color:#aaa; font-size:10px; font-weight:bold; margin-left:10px; padding:2px 5px;}
span.doc_lang,
span.doc_country{color:#CCC; display:inline-block; font-size:13px; line-height:1.5em; margin:5px 3px 0 0; text-transform:uppercase; vertical-align:top;}
span.doc_country{font-style:italic; text-transform:initial; line-height:1em; vertical-align:bottom;}
span.rep_type	{color:#CCC; display:inline-block; font-size:12px; margin-left:5px; vertical-align:middle;}
span.doc_cat,
span.doc_rec,
span.doc_date	{background-color:rgba(72,79,86,0.6); border-radius:4px; color:#CCC; display:inline-block; font-size:13px; line-height:1.5em; margin:5px 5px 0 0; padding:0 4px; vertical-align:top;}
span.doc_date	{background-color:rgba(48,71,103,1);}
span.doc_rec	{background-color:rgba(22,24,37,0.6);}

/*	CONTACT INFO	*/
.wrap_contact_info					{background-color:rgba(17,46,105,0.9); font-size:16px; line-height:1.5em; margin:0 0 20px -50px; padding:20px 40px 0 40px; width:980px;}
.wrap_contact_info:last-of-type 	{padding-bottom:0;}
.wrap_contact_info:nth-of-type(1) 	{margin-left:-10px; padding-top:30px; width:900px;}
.wrap_contact_info .contact_info	{border-bottom:1px dotted #7481aa; margin-bottom:15px; padding-bottom:15px;}
.wrap_contact_info .contact_info:last-of-type	{border:0; margin-bottom:0; padding-bottom:20px;}
.wrap_contact_org					{font-weight:bold;}
.wrap_contact_name					{font-size:20px; padding-top:10px;}
.wrap_contact_title					{font-style:italic;}
.wrap_contact_tel					{font-size:18px; padding:5px 0;}
.wrap_contact_type					{color:#ccc; font-size:12px; padding-bottom:5px; text-transform:uppercase;}
.wrap_contact_add					{padding-top:5px;}

/*	DATES	*/
.wrap_activity_date					{height:82px; margin-left:-50px; position:relative; width:980px;}
.wrap_activity_date .planned_start,
.wrap_activity_date .actual_start,
.wrap_activity_date .planned_end,
.wrap_activity_date .actual_end		{color:#151515; display:inline-block; font-size:20px; height:40px; line-height:18px; min-height:40px; padding:10px 40px;}
.wrap_activity_date div span		{color:#552d03; display:inline-block; font-size:13px; font-weight:bold; line-height:18px; min-width:165px; padding-right:10px; text-transform:uppercase; vertical-align:bottom;}
.wrap_activity_date .planned_start	{background-color:#f48a1a; left:0; margin:1px 1px 0 0; position:absolute; top:0; width:489px;}
.wrap_activity_date .planned_end	{background-color:#f48a1a; margin:1px 0 0 0; position:absolute; right:0; text-align:right; top:0; width:490px;}
.wrap_activity_date .actual_start	{background-color:#ffa443; bottom:0; left:0; margin:1px 1px 0 0; position:absolute; width:489px;}
.wrap_activity_date .actual_end		{background-color:#ffa443; bottom:0; margin:1px 0 0 0; position:absolute; right:0; text-align:right; width:490px;}
.activity_date_bar					{background-color:#ccc; height:10px; margin-left:-40px; max-height:10px; position:relative; width:960px;}
.activity_date_overlay				{background-color:#3d72dd; height:10px; max-height:10px; position:relative;}
.activity_date_overlay:after		{background-color:#fff; border:3px solid #3d72dd; border-radius:15px; content:""; height:10px; position:absolute; right:-5px; top:-4px; width:10px;}

/*	ACTIVITY STATUS	*/
.wrap_activity_status		{background-color:#fff; color:#444; font-size:16px; margin-left:-40px; padding:20px 0; text-align:center; width:960px;}
.wrap_activity_status span	{font-size:13px; font-weight:bold; text-transform:uppercase;}
.status_desc				{font-size:12px; margin:0 auto; padding-top:5px;}

/*	TABLES	*/
td .currency	{color:#ccc; font-size:10px; line-height:12px;}
.value			{text-align:right;}
.wrap_tab		{border-bottom:1px solid #666; margin-bottom:5px; padding-bottom:5px;}
.wrap_tab:last-of-type	{border:0;}
.tab_text,
.tab_currency	{box-sizing:border-box; display:inline-block; vertical-align:top; width:60%;}
.tab_currency	{color:#ccc; font-size:12px; padding-left:30px; text-align:right; width:40%;}
.tab_currency div {font-size:10px;}
.tab_text		{word-break:keep-all;}

/*	PROVIDER, RECEIVER ORG	*/
.type			{background-color:rgba(72,79,86,0.6); border-radius:4px; color:#CCC; font-size:11px; margin:0 auto; margin-left:-5px; padding:2px 4px;}
.type.secondary	{background-color:#304767; color:#ddd;}
.ref			{color:#CCC; font-family:monospace; font-size:10px; line-height:initial; margin:0 auto;}
.ref span		{color:#fff;}
.ref span.withdrawn					{background-color:#545e73; color:#ddd; font-size:10px;}
.org-type		{margin-top:5px;}
td.receiver div,
td.provider div,
td.part_org_ref div,
td.loc_name div						{line-height:10px; padding-bottom:2px;}
td.receiver .receiver_text,
td.provider .provider_text			{font-size:14px; line-height:18px; padding-bottom:7px;}
td.part_org_ref .part_org_text,
td.loc_name .loc_text				{font-size:13px; line-height:15px; padding-bottom:5px;}
td.loc_name .loc_text				{font-size:14px;}
td.description div 					{border-bottom:1px dotted #47506b; line-height:10px; margin-bottom:3px; max-width:200px; padding-bottom:2px;}
td.description div:last-of-type		{border:0; margin:0; padding:0;}
td.description .description_text	{border:0; font-size:14px; line-height:18px; max-width:100%; padding-bottom:7px;}
td .narrative:nth-of-type(n+2)		{padding-top:5px; color:#ccc; font-style:italic;}

table.budget			{border-collapse:collapse; table-layout:fixed; text-align:left; width:880px;}
table.budget th			{background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPBAMAAADJ+Ih5AAAAIVBMVEUAAAD////////////////////////////////////////PIev5AAAAC3RSTlMArxdHEAqfnTkpJkV64fYAAAAtSURBVAjXY8AKOGAMQwMIzSUoCWG4C4o5gBlBSkoBcPVwEbgauC6EOQiTMQEAKKIEY4aIsg8AAAAASUVORK5CYII=) no-repeat right 5px center; color:#CCC; font-size:13px; font-weight:normal; line-height:1.35em; margin-bottom:15px; padding-bottom:10px;}
.org table.budget th.status,
table.budget th.value	{background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPBAMAAADJ+Ih5AAAAIVBMVEUAAAD////////////////////////////////////////PIev5AAAAC3RSTlMArxdHEAqfnTkpJkV64fYAAAAtSURBVAjXY8AKOGAMQwMIzSUoCWG4C4o5gBlBSkoBcPVwEbgauC6EOQiTMQEAKKIEY4aIsg8AAAAASUVORK5CYII=) no-repeat right -5px center, #1b232de8;}

table.budget th:hover	{cursor:pointer;}
table.budget td			{border-bottom:1px solid #4d5264; color:#FFF; font-size:14px; line-height:initial; padding:10px 0; vertical-align:top;}
table.budget td.value	{font-size:15px; padding-right:20px; text-align:right;}
table.budget td.date	{line-height:18px;}
.org table.budget td.value			{font-size:14px;}

table.budget tr:nth-of-type(1) td	{padding-top:15px;}
table.budget th			{background-color:#1b232de8; padding:10px 0; position:sticky; top:30px; z-index:1;}
table.budget th:after	{border-bottom:1px solid #aaa; bottom:-1px; content:''; left:0; position:absolute; width:100%;}

/*	IATI ACTIVITY BUDGET AND PLANNED DISBURSEMENT TABLE	*/
table.budget th.date,
table.budget td.date				{padding-right:20px; width:100px;}
table.budget th.tab_type,
table.budget td.tab_type			{padding-right:30px; width:200px;}
table.budget th.status,
table.budget td.status				{width:170px;}
table.budget th.value,
table.budget td.value				{padding-right:20px; width:140px;}
table.budget tr:last-of-type td		{border:0; padding-bottom:30px;}	/*	Remove border-bottom from last row of tables	*/

.wrap_planned_disbursement table.budget th.provider,
.wrap_planned_disbursement table.budget td.provider	{padding-right:30px; width:200px;}
.wrap_planned_disbursement table.budget th.receiver,
.wrap_planned_disbursement table.budget td.receiver	{width:170px;}
.wrap_planned_disbursement table.budget th.tab_type,
.wrap_planned_disbursement table.budget td.tab_type	{width:150px;}

/*	IATI ORG DATE AND STATUS COLUMN	*/
.wrap_total_budget table.budget th.date,
.wrap_total_budget table.budget td.date,
.wrap_total_expenditure table.budget th.date,
.wrap_total_expenditure table.budget td.date,
.wrap_recipient_budget table.budget th.date,
.wrap_recipient_budget table.budget td.date,
.wrap_total_budget table.budget th.status,
.wrap_total_budget table.budget td.status,
.wrap_total_expenditure table.budget th.status,
.wrap_total_expenditure table.budget td.status,
.wrap_recipient_budget table.budget th.status,
.wrap_recipient_budget table.budget td.status		{padding-right:0; width:100px;}

.wrap_total_budget table.budget th.status,
.wrap_total_budget table.budget td.status,
.wrap_total_expenditure table.budget th.status,
.wrap_total_expenditure table.budget td.status,
.wrap_recipient_budget table.budget th.status,
.wrap_recipient_budget table.budget td.status		{text-align:center;}

/*	IATI ORG RECIPIENT COLUMN	*/
.wrap_recipient_budget table.budget th.recipient,
.wrap_recipient_budget table.budget td.recipient	{padding-right:20px; width:180px;}

/*	IATI ORG BUDGET-LINE COLUMN	*/
.wrap_total_budget table.budget th.line,
.wrap_total_budget table.budget td.line				{padding-right:0; width:460px;}

/*	IATI ORG RECIPIENT-BUDGET-LINE COLUMN	*/
.wrap_recipient_budget table.budget th.line,
.wrap_recipient_budget table.budget td.line			{padding-right:0; width:260px;}

/*	IATI ORG EXPENSE-LINE COLUMN	*/
.wrap_total_expenditure table.budget th.line,
.wrap_total_expenditure table.budget td.line		{padding-right:0; width:460px;}

/*	IATI ORG VALUE HEADER COLUMN	*/
.wrap_total_expenditure table.budget th.value		{padding-right:20px; width:200px;}
.wrap_total_budget table.budget th.value,
.wrap_recipient_budget table.budget th.value		{padding-right:20px; width:100px;}

/*	IATI ORG VALUE COLUMN	*/
.wrap_total_expenditure table.budget td.value		{padding-left:20px; padding-right:0; width:200px;}
.wrap_total_budget table.budget td.value,
.wrap_recipient_budget table.budget td.value		{padding-left:20px; padding-right:0; width:120px;}

/*	IATI ACTIVITY PARTICIPATING ORG TABLE	*/
table.budget.part_org th.part_org_name,
table.budget.part_org td.part_org_name		{padding-right:40px;}
table.budget.part_org th.part_org_ref,
table.budget.part_org td.part_org_ref		{padding-right:20px; width:260px;}
table.budget.part_org th.part_org_role,
table.budget.part_org td.part_org_role		{padding-right:20px; width:120px;}
table.budget.part_org th.part_org_type,
table.budget.part_org td.part_org_type		{width:140px;}
table.budget.part_org td.part_org_type		{font-size:12px;}

/*	IATI ACTIVITY HUMANITARIAN SCOPE TABLE	*/
.wrap_humanitarian_scope th.hum_title,
.wrap_humanitarian_scope td.hum_title		{padding-right:40px;}
.wrap_humanitarian_scope th.hum_code,
.wrap_humanitarian_scope td.hum_code		{padding-right:20px; width:160px;}
.wrap_humanitarian_scope th.hum_vocab,
.wrap_humanitarian_scope td.hum_vocab		{padding-right:20px; width:130px;}
.wrap_humanitarian_scope th.hum_type,
.wrap_humanitarian_scope td.hum_type		{width:130px;}
.wrap_humanitarian_scope td.hum_code,
.wrap_humanitarian_scope td.hum_vocab,
.wrap_humanitarian_scope td.hum_type		{font-size:12px;}

/*	IATI ACTIVITY LOCATION TABLE	*/
table.budget.location th.loc_name,
table.budget.location td.loc_name			{width:220px;}
table.budget.location th.loc_des,
table.budget.location td.loc_des			{padding-right:20px; width:230px;}
table.budget.location td.loc_des			{font-size:12px;}
table.budget.location th.loc_pos,
table.budget.location td.loc_pos			{padding-right:40px; width:110px;}
table.budget.location td.loc_pos			{font-family:monospace; font-size:12px;}
table.budget.location td.loc_pos a span		{display:block;}
table.budget.location th.loc_class,
table.budget.location td.loc_class,
table.budget.location th.loc_reach,
table.budget.location td.loc_reach,
table.budget.location th.loc_exact,
table.budget.location td.loc_exact			{padding-right:0; width:100px;}
table.budget.location td.loc_class,
table.budget.location td.loc_reach,
table.budget.location td.loc_exact			{font-size:12px; line-height:14px;}
table.budget.location td.loc_des div		{padding-top:5px;}
table.budget.location td.loc_des .loc_desc:first-letter	{text-transform:capitalize;}
table.budget.location td.loc_des .loc_desc	{padding-top:0;}
table.budget.location td.loc_des .loc_act	{color:#ccc;}
table.budget.location td.loc_des .type		{margin-left:0;}
table.budget.location td.loc_des .ref span	{text-transform:capitalize;}

/*	IATI ACTIVITY TRANSACTION TABLES	*/
table.budget.act_trans th.description,
table.budget.act_trans td.description		{padding-right:30px; width:260px;}
table.budget.act_trans td.description .type	{color:#ccc; font-family:monospace; font-size:9px; margin:0;}
table.budget.act_trans th.provider,
table.budget.act_trans td.provider			{padding-right:30px; width:200px;}
table.budget.act_trans th.receiver,
table.budget.act_trans td.receiver			{padding-right:0; width:170px;}
table.budget.act_trans th.value,
table.budget.act_trans td.value				{padding-right:20px; width:140px;}
table.budget.act_trans th.date,
table.budget.act_trans td.date				{padding-right:0; width:110px;}

/*	IATI ACTIVITY RESULT TABLE	*/
.wrap_result_table							{padding-bottom:20px;}
.wrap_result table.budget tr:last-of-type td{padding-bottom:0;}		/*	For Baseline year translateY to work	*/
.wrap_result table.budget th.result_indi,
.wrap_result table.budget td.result_indi	{padding-right:40px; width:320px;}
.wrap_result th.result_percent,
.wrap_result td.result_percent				{width:85px;}
.wrap_result td.result_base					{position:relative;}
.wrap_result td.result_base,
.wrap_result td.result_target,
.wrap_result td.result_actual,
.wrap_result td.result_percent				{font-size:14px;}
.wrap_result table.budget td.result_base,
.wrap_result table.budget td.result_target,
.wrap_result table.budget td.result_actual	{padding-right:10px;}
.wrap_result th.result_period,
.wrap_result td.result_period				{width:130px;}
.wrap_result td.result_period				{font-size:11px; line-height:20px; text-align:center;}
.wrap_result .header_doc					{display:none;}
.wrap_result_text							{padding:5px 0 20px 0;}
.result_main_title							{font-size:16px; line-height:20px;}
.result_title								{font-size:15px; line-height:18px;}
.result_main_title:first-letter,
.result_indi_desc:first-letter,
.result_title:first-letter					{text-transform:capitalize;}
.wrap_result_text .wrap_document,
.wrap_result_indicator .wrap_document		{margin:15px 0 0 0;}
.wrap_result a.doc_link						{font-size:7px; line-height:1em; padding:5px;}
.wrap_result span.wrap_doc_link				{padding-left:28px;}
.wrap_result span.doc_title					{font-size:12px;}
.wrap_result span.doc_format				{padding:5px;}
.wrap_result span.doc_cat,
.wrap_result span.doc_lang,
.wrap_result span.doc_rec,
.wrap_result span.doc_date					{font-size:11px; margin:2px 2px 0 0;}
.wrap_result_text .wrap_result_indi_ref		{padding:0;}
.result_indicator							{display:inline-block; vertical-align:top; width:25%;}
.result_indicator.left_indi					{padding-right:25px; width:75%;}
.wrap_result_indicator						{margin-bottom:10px;}
.result_indicator_title						{border-bottom:1px solid #aaa; color:#CCC; font-size:14px; font-weight:normal; line-height:1.35em; margin-bottom:10px; padding-bottom:10px;}
.wrap_result_indi_ref						{margin-top:-10px; padding-bottom:15px;}
.wrap_result_indi_ref:last-of-type			{padding:0;}
.result_indi_head							{border-bottom:1px solid #4d5264; color:#ccc; font-size:10px; padding-bottom:3px;}
.result_indi_desc							{color:#ddd; font-size:14px; line-height:18px; padding-top:5px;}
.result_indi_ref							{border-bottom:1px dotted #666; font-size:11px; line-height:11px; padding:5px 0 0 0;}
.result_indi_ref div						{padding-bottom:3px;}
.result_indi_ref:last-of-type				{border:0; padding-bottom:0;}
.result_indi_ref .ref						{display:inline-block; font-size:9px; min-width:35px; vertical-align:top;}
.result_indi_ref .type						{font-family:monospace; font-size:9px; margin:0;}
.result_period_time							{background-color:#253860; line-height:17px; margin-bottom:4px; max-width:155px; min-height:17px; text-align:center;}
.result_indicator .wrap_document			{margin:0 0 10px 0;}
.wrap_result .sector_list_wrap				{color:#ccc; padding:0 0 10px 0;}
.wrap_result .header.glossary				{margin-bottom:10px;}
.wrap_result table.budget td				{line-height:14px; padding:5px 0; vertical-align:middle;}
.wrap_result table.budget tr.row_measure td	{color:#ccc; font-size:11px; padding:6px 10px 4px 0;}
.result_facet								{color:#ccc; font-size:11px; line-height:16px;}
.result_facet_name							{color:#fff; font-size:13px;}
.result_facet_value							{color:#fff; font-size:14px; font-weight:bold;}
.result_empty								{color:#ccc; font-size:11px;}
.result_percent_wrap,
.result_percent_wrap .result_empty			{display:inline;}
.result_percent_wrap span					{display:inline-block; vertical-align:middle;}
.result_percent_dot							{background-color:rgba(21,33,54,100); border-radius:20px; height:10px; margin-left:10px; width:10px;}
.result_percent_value						{min-width:40px;}
.result_date_bar							{background-color:#000; border-bottom:1px solid #666; border-right:1px solid #666; height:5px; max-height:5px; position:relative;}
.result_date_overlay						{background-color:#9d8c55; height:5px; max-height:5px;}
.result_date								{left:0; position:absolute; top:0; width:150px;}
.result_base_year							{color:#ddd; font-size:11px; font-style:italic; left:-30px; max-height:25px; position:absolute; top:50%; -webkit-transform:translateY(-50%) rotate(-90deg); transform:translateY(-50%) rotate(-90deg);}

/*	IATI ACTIVITY POLICY MARKER TABLE	*/
.wrap_policy_marker table.budget th.policy_code,
.wrap_policy_marker table.budget td.policy_code		{padding-right:40px; width:300px;}
.wrap_policy_marker table.budget td.policy_code	.policy_num	{font-size:11px;}
.wrap_policy_marker table.budget td.policy_code a	{display:block; font-size:12px; line-height:14px; overflow-wrap:initial; padding-top:5px;}
.wrap_policy_marker table.budget th.policy_sig,
.wrap_policy_marker table.budget td.policy_sig		{padding-right:20px; text-transform:capitalize; width:160px;}
.wrap_policy_marker table.budget th.policy_vocab,
.wrap_policy_marker table.budget td.policy_vocab	{padding-right:20px; width:160px;}
.wrap_policy_marker table.budget th.policy_desc,
.wrap_policy_marker table.budget td.policy_desc		{width:260px;}
.wrap_policy_marker table.budget td.policy_desc		{font-size:12px; line-height:14px;}

/*	IATI ACTIVITY LEGACY DATA TABLE	*/
.wrap_legacy_data th.legacy_name,
.wrap_legacy_data td.legacy_name		{padding-right:40px; width:340px;}
.wrap_legacy_data th.legacy_iati,
.wrap_legacy_data td.legacy_iati		{width:280px;}

/*	IATI ACTIVITY CONDITIONS TABLE	*/
.wrap_conditions th.condition_narr,
.wrap_conditions td.condition_narr		{padding-right:40px;}
.wrap_conditions th.condition_type,
.wrap_conditions td.condition_type		{padding-right:20px; width:160px;}
.wrap_conditions th.condition_desc,
.wrap_conditions td.condition_desc		{width:280px;}
.wrap_conditions table.budget td.condition_desc	{font-size:12px; line-height:16px;}

/*	IATI ACTIVITY TAG TABLE	*/
.wrap_tag table.budget th.tag_desc,
.wrap_tag table.budget td.tag_desc		{padding-right:40px;}
.wrap_tag table.budget th.tag_code,
.wrap_tag table.budget td.tag_code		{padding-right:20px; width:160px;}
.wrap_tag table.budget th.tag_vocab,
.wrap_tag table.budget td.tag_vocab		{width:260px;}

/*	IATI ACTIVITY RELATED ACTIVITY TABLE	*/
.wrap_related_activity th.related_ref,
.wrap_related_activity td.related_ref	{padding:5px 40px 5px 0;}
.wrap_related_activity th.related_type,
.wrap_related_activity td.related_type	{padding:5px 0; width:160px;}
.wrap_related_activity th.related_desc,
.wrap_related_activity td.related_desc	{padding:5px 0; width:280px;}
.wrap_related_activity table.budget td.related_desc	{font-size:12px; line-height:14px;}

/*	IATI ACTIVITY OTHER IDENTIFIER TABLE	*/
.wrap_other_identifier td.other_desc,
.wrap_other_identifier td.other_type	{font-size:12px; line-height:14px;}
.wrap_other_identifier th.other_type,
.wrap_other_identifier td.other_type	{padding-right:20px; width:160px;}
.wrap_other_identifier th.other_desc,
.wrap_other_identifier td.other_desc	{width:280px;}
.wrap_other_identifier td.other_type div{font-size:10px; padding-top:5px; line-height:initial;}
.wrap_other_identifier th.other_ref,
.wrap_other_identifier td.other_ref,
.wrap_other_identifier th.owner_ref,
.wrap_other_identifier td.owner_ref		{padding-right:20px;}
.wrap_other_identifier td.owner_ref	div	{font-size:12px; line-height:14px; padding-top:5px;}

/*	IATI ACTIVITY CRS ADD TABLE	*/
.wrap_crs_add th.crs_code,
.wrap_crs_add td.crs_code		{padding-right:20px;}
.wrap_crs_add td.crs_code div	{font-size:10px; padding-top:5px; line-height:initial;}
.wrap_crs_add th.crs_sig,
.wrap_crs_add td.crs_sig		{padding-right:20px; width:160px;}
.wrap_crs_add th.crs_desc,
.wrap_crs_add td.crs_desc		{width:280px;}
.wrap_crs_add td.crs_desc		{font-size:12px; line-height:14px;}
.wrap_crs_add th.crs_loan_year,
.wrap_crs_add td.crs_loan_year	{width:80px;}
.wrap_crs_add td.crs_loan span	{color:#ccc; font-size:11px;}


/*	Thinner tables rows for better legibility	*/
.wrap_participating_org table.budget td,
.wrap_location table.budget td	{padding:5px 0;}


/*	DEFAULTS MODALITIES	*/
table.modals					{border-collapse:collapse; table-layout:fixed; width:100%;}
table.modals td,
table.modals th 				{font-size:12px; line-height:14px; padding:5px 10px 5px 5px; text-align:left; vertical-align:top; width:100px;}
table.modals th					{border-bottom:1px solid #4d5264; color:#ccc; font-size:10px; font-weight:normal; text-transform:uppercase;}
table.modals td.mod_1,
table.modals th.mod_1			{width:120px;}
table.modals td.mod_2,
table.modals th.mod_2,
table.modals td.mod_3,
table.modals th.mod_3,
table.modals td.mod_4,
table.modals th.mod_4			{width:160px;}
table.modals th.mod_7,
table.modals td.mod_7			{padding-right:0; width:80px;}
table.modals td div				{padding-bottom:5px;}
table.modals td span			{font-family:monospace; font-size:10px; margin:0;}
table.modals td span.withdrawn	{background-color:#545e73; color:#ddd; display:inline-block; font-size:10px; margin-left:0; margin-top:5px;}

/*	Chartist SVG	 */
.showchart,
.showcharts		{height:240px; margin:auto; margin:0 0 30px -35px; padding:10px 0 0 0; width:920px;}
.ct-chart-line	{overflow:visible;}

/*	Chart Legends	*/
.wrap_legend	{margin:0 auto; text-align:center;}
.legend			{color:#eee; font-size:10px; padding-top:10px; text-align:center; text-transform:uppercase;}
.legend span	{border-radius:4px; display:inline-block; height:8px; margin-right:5px; vertical-align:baseline; width:8px;}
.wrap_legend .legend	{display:inline-block; margin-left:10px; margin-right:10px; padding-top:5px; vertical-align:top;}

.legend.chart_1	span	{background-color:#0099ff;}		/*	Incoming Funds	*/
.legend.chart_2	span	{background-color:#ff8176;}		/*	Outgoing Commitment	*/
.legend.chart_3	span	{background-color:#aeffae;}		/*	Disbursement	*/
.legend.chart_4	span	{background-color:#fed00f;}		/*	Expenditure	*/
.legend.chart_5	span	{background-color:#dea3ff;}		/*	Interest Payment	*/
.legend.chart_6	span	{background-color:#c446e1;}		/*	Loan Repayment	*/
.legend.chart_7	span	{background-color:#65e17a;}		/*	Reimbursement	*/
.legend.chart_8	span	{background-color:#c59e8c;}		/*	Purchase of Equity	*/
.legend.chart_9	span	{background-color:#8f496a;}		/*	Sale of Equity	*/
.legend.chart_10 span	{background-color:#ff6cec;}		/*	Credit Guarantee	*/
.legend.chart_11 span	{background-color:#cf291c;}		/*	Incoming Commitment	*/
.legend.chart_12 span	{background-color:#82e1ff;}		/*	Outgoing Pledge	*/
.legend.chart_13 span	{background-color:#0062a3;}		/*	Incoming Pledge	*/
.legend.chart_14 span	{background-color:#00a301;}		/*	Planned Disbursement	*/
.legend.chart_15 span	{background-color:#666;}		/*	Budget	*/

/*	CHART OPTIONS	*/
.ct-label	{color:#fff; fill:#fff; font-size:11px; line-height:12px;}
.ct-grid 	{stroke:rgba(255,255,255,0.5); stroke-dasharray:2px; stroke-width:1px;}
.ct-grid-background	{fill:none;}
.ct-point	{stroke-linecap:round; stroke-width:8px;}
.ct-line	{fill:none; stroke-width:2px;}
.ct-area	{fill-opacity:0.5; stroke:none;}
.ct-bar		{fill:none; stroke-width:10px;}
.ct-slice-donut {fill:none; stroke-width:60px;}

.ct-series-a .ct-point, .ct-series-a .ct-line, .ct-series-a .ct-bar, .ct-series-a .ct-slice-donut {stroke:#d70206;}
.ct-series-a .ct-slice-pie, .ct-series-a .ct-slice-donut-solid, .ct-series-a .ct-area {fill:#d70206;}
.ct-series-b .ct-point, .ct-series-b .ct-line, .ct-series-b .ct-bar, .ct-series-b .ct-slice-donut {stroke:#f05b4f;}
.ct-series-b .ct-slice-pie, .ct-series-b .ct-slice-donut-solid, .ct-series-b .ct-area {fill:#f05b4f;}
.ct-series-c .ct-point, .ct-series-c .ct-line, .ct-series-c .ct-bar, .ct-series-c .ct-slice-donut {stroke:#f4c63d;}
.ct-series-c .ct-slice-pie, .ct-series-c .ct-slice-donut-solid, .ct-series-c .ct-area {fill:#f4c63d;}
.ct-series-d .ct-point, .ct-series-d .ct-line, .ct-series-d .ct-bar, .ct-series-d .ct-slice-donut {stroke:#d17905;}
.ct-series-d .ct-slice-pie, .ct-series-d .ct-slice-donut-solid, .ct-series-d .ct-area {fill:#d17905;}
.ct-series-e .ct-point, .ct-series-e .ct-line, .ct-series-e .ct-bar, .ct-series-e .ct-slice-donut {stroke:#453d3f;}
.ct-series-e .ct-slice-pie, .ct-series-e .ct-slice-donut-solid, .ct-series-e .ct-area {fill:#453d3f;}
.ct-series-f .ct-point, .ct-series-f .ct-line, .ct-series-f .ct-bar, .ct-series-f .ct-slice-donut {stroke:#59922b;}
.ct-series-f .ct-slice-pie, .ct-series-f .ct-slice-donut-solid, .ct-series-f .ct-area {fill:#59922b;}
.ct-series-g .ct-point, .ct-series-g .ct-line, .ct-series-g .ct-bar, .ct-series-g .ct-slice-donut {stroke:#0544d3;}
.ct-series-g .ct-slice-pie, .ct-series-g .ct-slice-donut-solid, .ct-series-g .ct-area {fill:#0544d3;}
.ct-series-h .ct-point, .ct-series-h .ct-line, .ct-series-h .ct-bar, .ct-series-h .ct-slice-donut {stroke:#6b0392;}
.ct-series-h .ct-slice-pie, .ct-series-h .ct-slice-donut-solid, .ct-series-h .ct-area {fill:#6b0392;}
.ct-series-i .ct-point, .ct-series-i .ct-line, .ct-series-i .ct-bar, .ct-series-i .ct-slice-donut {stroke:#f05b4f;}
.ct-series-i .ct-slice-pie, .ct-series-i .ct-slice-donut-solid, .ct-series-i .ct-area {fill:#f05b4f;}
.ct-series-j .ct-point, .ct-series-j .ct-line, .ct-series-j .ct-bar, .ct-series-j .ct-slice-donut {stroke:#dda458;}
.ct-series-j .ct-slice-pie, .ct-series-j .ct-slice-donut-solid, .ct-series-j .ct-area {fill:#dda458;}
.ct-series-k .ct-point, .ct-series-k .ct-line, .ct-series-k .ct-bar, .ct-series-k .ct-slice-donut {stroke:#eacf7d;}
.ct-series-k .ct-slice-pie, .ct-series-k .ct-slice-donut-solid, .ct-series-k .ct-area {fill:#eacf7d;}
.ct-series-l .ct-point, .ct-series-l .ct-line, .ct-series-l .ct-bar, .ct-series-l .ct-slice-donut {stroke:#86797d;}
.ct-series-l .ct-slice-pie, .ct-series-l .ct-slice-donut-solid, .ct-series-l .ct-area {fill:#86797d;}
.ct-series-m .ct-point, .ct-series-m .ct-line, .ct-series-m .ct-bar, .ct-series-m .ct-slice-donut {stroke:#b2c326;}
.ct-series-m .ct-slice-pie, .ct-series-m .ct-slice-donut-solid, .ct-series-m .ct-area {fill:#b2c326;}
.ct-series-n .ct-point, .ct-series-n .ct-line, .ct-series-n .ct-bar, .ct-series-n .ct-slice-donut {stroke:#6188e2;}
.ct-series-n .ct-slice-pie, .ct-series-n .ct-slice-donut-solid, .ct-series-n .ct-area {fill:#6188e2;}
.ct-series-o .ct-point, .ct-series-o .ct-line, .ct-series-o .ct-bar, .ct-series-o .ct-slice-donut {stroke:#a748ca;}
.ct-series-o .ct-slice-pie, .ct-series-o .ct-slice-donut-solid, .ct-series-o .ct-area {fill: #a748ca;}

/*	Chart stroke and fill colours for transaction, budget and planned disbursement tables	*/
.chart-line-transaction-1 .ct-point,
.chart-line-transaction-1 .ct-line	{stroke:#0099ff;}		/*	Incoming Funds	*/
.chart-line-transaction-1 .ct-area	{fill:transparent;}
.chart-line-transaction-2 .ct-point,
.chart-line-transaction-2 .ct-line	{stroke:#ff8176;}		/*	Outgoing Commitment	*/
.chart-line-transaction-2 .ct-area	{fill:transparent;}
.chart-line-transaction-3 .ct-point,
.chart-line-transaction-3 .ct-line	{stroke:#aeffae;}		/*	Disbursement	*/
.chart-line-transaction-3 .ct-area	{fill:transparent;}
.chart-line-transaction-4 .ct-point,
.chart-line-transaction-4 .ct-line	{stroke:#fed00f;}		/*	Expenditure	*/
.chart-line-transaction-4 .ct-area	{fill:transparent;}
.chart-line-transaction-5 .ct-point,
.chart-line-transaction-5 .ct-line	{stroke:#dea3ff;}		/*	Interest Payment	*/
.chart-line-transaction-5 .ct-area	{fill:transparent;}
.chart-line-transaction-6 .ct-point,
.chart-line-transaction-6 .ct-line	{stroke:#c446e1;}		/*	Loan Repayment	*/
.chart-line-transaction-6 .ct-area	{fill:transparent;}
.chart-line-transaction-7 .ct-point,
.chart-line-transaction-7 .ct-line	{stroke:#65e17a;}		/*	Reimbursement	*/
.chart-line-transaction-7 .ct-area	{fill:transparent;}
.chart-line-transaction-8 .ct-point,
.chart-line-transaction-8 .ct-line	{stroke:#c59e8c;}		/*	Purchase of Equity	*/
.chart-line-transaction-8 .ct-area	{fill:transparent;}
.chart-line-transaction-9 .ct-point,
.chart-line-transaction-9 .ct-line	{stroke:#8f496a;}		/*	Sale of Equity	*/
.chart-line-transaction-9 .ct-area	{fill:transparent;}
.chart-line-transaction-10.ct-point,
.chart-line-transaction-10.ct-line	{stroke:#ff6cec;}		/*	Credit Guarantee	*/
.chart-line-transaction-10 .ct-area	{fill:transparent;}
.chart-line-transaction-11 .ct-point,
.chart-line-transaction-11 .ct-line	{stroke:#cf291c;}		/*	Incoming Commitment	*/
.chart-line-transaction-11 .ct-area	{fill:transparent;}
.chart-line-transaction-12 .ct-point,
.chart-line-transaction-12 .ct-line	{stroke:#82e1ff;}		/*	Outgoing Pledge	*/
.chart-line-transaction-12 .ct-area	{fill:transparent;}
.chart-line-transaction-13 .ct-point,
.chart-line-transaction-13 .ct-line	{stroke:#0062a3;}		/*	Incoming Pledge	*/
.chart-line-transaction-13 .ct-area	{fill:transparent;}
.chart-line-planned-disbursement .ct-point,
.chart-line-planned-disbursement .ct-line	{stroke:#00a301;}		/*	Planned Disbursement	*/
.chart-line-planned-disbursement .ct-area	{fill:#207721; fill-opacity:0.3}
.chart-line-budget .ct-point,
.chart-line-budget .ct-line			{stroke:#888;}			/*	Budget	*/
.chart-line-budget .ct-area			{fill:#666;}

/*	Default Chartist stylings	*/
.ct-chart-line .ct-label,
.ct-chart-bar .ct-label {
  display: block;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

.ct-chart-pie .ct-label,
.ct-chart-donut .ct-label {
  dominant-baseline: central; }

.ct-label.ct-horizontal.ct-start {
  -webkit-box-align: flex-end;
  -webkit-align-items: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end;
  -webkit-box-pack: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  text-align: left;
  text-anchor: start; }

.ct-label.ct-horizontal.ct-end {
  -webkit-box-align: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
  -webkit-box-pack: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  text-align: left;
  text-anchor: start; }

.ct-label.ct-vertical.ct-start {
  -webkit-box-align: flex-end;
  -webkit-align-items: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end;
  -webkit-box-pack: flex-end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: flex-end;
  justify-content: flex-end;
  text-align: right;
  text-anchor: end; }

.ct-label.ct-vertical.ct-end {
  -webkit-box-align: flex-end;
  -webkit-align-items: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end;
  -webkit-box-pack: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  text-align: left;
  text-anchor: start; }

.ct-chart-bar .ct-label.ct-horizontal.ct-start {
  -webkit-box-align: flex-end;
  -webkit-align-items: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  text-anchor: start; }

.ct-chart-bar .ct-label.ct-horizontal.ct-end {
  -webkit-box-align: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  text-anchor: start; }

.ct-chart-bar.ct-horizontal-bars .ct-label.ct-horizontal.ct-start {
  -webkit-box-align: flex-end;
  -webkit-align-items: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end;
  -webkit-box-pack: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  text-align: left;
  text-anchor: start; }

.ct-chart-bar.ct-horizontal-bars .ct-label.ct-horizontal.ct-end {
  -webkit-box-align: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
  -webkit-box-pack: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  text-align: left;
  text-anchor: start; }

.ct-chart-bar.ct-horizontal-bars .ct-label.ct-vertical.ct-start {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: flex-end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: flex-end;
  justify-content: flex-end;
  text-align: right;
  text-anchor: end; }

.ct-chart-bar.ct-horizontal-bars .ct-label.ct-vertical.ct-end {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  text-align: left;
  text-anchor: end; }


/*	PRINT FRIENDLY CSS	*/

body.print		{background-color:#fff;}

.print .activity a,
.print .activity a:link,
.print .activity a:visited,
.print .activity a:hover,
.print .activity a:active,
.print .org a,
.print .org a:link,
.print .org a:visited,
.print .org a:hover,
.print .org a:active,
.print .wrap_sector .subheader a,
.print .wrap_sector .subheader a:link,
.print .wrap_sector .subheader a:visited,
.print .wrap_sector .subheader a:hover,
.print .wrap_sector .subheader a:active	{color:#444;}

/*  Data source links  */
.print .data_source a 		{background-color:#fff; border:1px solid #444; color:#444;}
.print .data_source a span	{color:#444;}

/*  Documents  */
.print .wrap_document a,
.print .wrap_document a:link,
.print .wrap_document a:visited,
.print .wrap_document a:hover,
.print .wrap_document a:active  {background-color:#fff;}
.print a.doc_link:before		{border:1px solid #444; color:#444;}

/*  Wrappers  */
.print .activity,
.print .org,
.print .wrap_iati_identifier,
.print .wrap_contact_info		{background-color:#fff; color:#444;}

/*  Element Types  */
.print .humanitarian		{background-color:#fff; border:1px solid #444; color:#444; font-weight:normal;}
.print .header_section,
.print .type,
.print .type.secondary,
.print span.doc_date,
.print span.doc_cat,
.print span.doc_rec,
.print span.doc_format,
.print .wrap_activity_date .planned_start,
.print .wrap_activity_date .actual_start,
.print .wrap_activity_date .planned_end,
.print .wrap_activity_date .actual_end,
.print .sector_code,
.print span.withdrawn,
.print .ref span.withdrawn,
.print .hum_transaction		{background-color:#fff; color:#444; font-weight:normal;}
.print .header_section 		{background-color:#eee; border:0}

/*  Progress Bar Dates  */
.print .activity_date_overlay,
.print .result_date_overlay  		{background-color:#666;}
.print .activity_date_overlay:after	{border:3px solid #666;}

/*  Container text  */
.print .header,
.print .header_doc,
.print .version span,
.print .wrap_reporting_org .text,
.print .wrap_iati_identifier .text,
.print .wrap_name_org,
.print .wrap_activity_date div span,
.print .ref,
.print .ref span,
.print span.count,
.print span.doc_lang,
.print .block span,
.print .wrap_length,
.print .legend,
.print .wrap_result .sector_list_wrap,
.print .wrap_description .text .narrative:nth-of-type(n+2)
.print .result_indi_desc,
.print .result_indi_head,
.print .result_facet,
.print .result_facet_name,
.print .result_facet_value,
.print .result_empty,
.print .result_base_year,
.print .tab_currency,
.print .wrap_contact_type  {color:#444;}

/*  Results  */
.print .brighter  		{background-color:#fff; border:0; border-bottom:1px solid #444; line-height:21px;} 
.print .brighter span	{background-color:#fff; border:1px solid #444; padding:4px 10px;}
.print .result_date_bar	{background-color:#ccc; border-bottom:1px solid #666; border-right:1px solid #666;}

/* Tables */
.print table th, .print table td,
.print table.modals th, .print table.modals td,
.print table.budget th, .print table.budget td,
.print .org table.budget th.status,
.print table.budget th.value 			{background-color:#fff; color:#444;}
.print table.budget.act_trans td.description .type,
.print td .narrative:nth-of-type(n+2),
.print table.budget.location td.loc_des .loc_act {color:#444;}
.print table.modals td span.withdrawn 	{background-color:#fff; border:1px solid #444; color:#444;}
.print td .currency,
.print .wrap_result table.budget tr.row_measure td {color:#444;}
.print .wrap_result table.budget td.result_base,
.print .wrap_result table.budget td.result_target,
.print .wrap_result table.budget td.result_actual  {background-color:transparent;}

/* Table sort icons */
.print table.budget th			{background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAMAAAAMCGV4AAAAIVBMVEX///8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADdcGRXAAAAC3RSTlMAChAXJik5R52frz/DrVEAAAA0SURBVHgBYyASsKFy2bnYkbksXFxcrAguEweQz8kE5zMygwAjhqGY8pj6EeZj2I/pPsIAAIFYARPXDv1TAAAAAElFTkSuQmCC) no-repeat right 5px center, #fff;}
.print .org table.budget th.status,
.print table.budget th.value	{background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAMAAAAMCGV4AAAAIVBMVEX///8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADdcGRXAAAAC3RSTlMAChAXJik5R52frz/DrVEAAAA0SURBVHgBYyASsKFy2bnYkbksXFxcrAguEweQz8kE5zMygwAjhqGY8pj6EeZj2I/pPsIAAIFYARPXDv1TAAAAAElFTkSuQmCC) no-repeat right -5px center, #fff;}

/* Table Charts */
.print .ct-label {color:#444; fill:#444;}
.print .ct-grid  {stroke:#444;}
