#^savi-page-css

*			{box-sizing:border-box; font-family:Arial,Helvetica,sans-serif; word-wrap:break-word;}
body		{background-color:#47506B; margin-top:40px; color:#FFF;}


#^savi-css

.activity, .org				{width:960px; margin:0 auto; padding:40px 40px 1px 40px; background-color:rgba(0,14,32,0.7); border-radius:8px; position:relative; margin-bottom:40px; box-sizing:border-box;}
.activity > *, .org > *		{box-sizing:border-box;}
.activity:nth-of-type(2)	{display:none;}
.activity a					{text-decoration:none; color:#FFAB5E;}
.activity a:link			{text-decoration:none; color:#FFAB5E;}
.activity a:visited			{text-decoration:none; color:#FFAB5E;}
.activity a:hover			{text-decoration:none; color:#FFC794;}
.activity a:active			{text-decoration:none; color:#FFAB5E;}
.org						{margin-top:40px;}
.org a						{text-decoration:none; color:#FFAB5E;}
.org a:link					{text-decoration:none; color:#FFAB5E;}
.org a:visited				{text-decoration:none; color:#FFAB5E;}
.org a:hover				{text-decoration:none; color:#FFC794;}
.org a:active				{text-decoration:none; color:#FFAB5E;}

/*	FLAGS	*/
.humanitarian{text-transform:uppercase; position:absolute; top:-10px; left:0; padding:10px 40px 7px 40px; font-size:14px; color:#000e20; text-align:right; background-color:#ff890c;}

/*	HEADERS	*/
.header,
.header_doc	{font-size:14px; color:#ccc; text-transform:uppercase; display:block; border-bottom:1px solid #aaa; padding-bottom:10px; margin-bottom:20px;}
.header_doc	{border:0; margin:0;}
.header_section	{font-size:12px; color:#FFF; background-color:rgba(17,46,105,0.9); padding:10px 40px; margin:0 0 20px -50px; width:980px; text-transform:uppercase; box-sizing:border-box;}
.sticky		{position:sticky; top:-1px; z-index:2;}
.nostick	{position:initial;}
span.block	{display:block;}
.narrative:nth-of-type(2)	{font-style:italic; display:block;}

/*	WRAPPERS	*/
.wrap_title					{padding-bottom:40px;}
.wrap_reporting_org			{font-size:18px; line-height:1.35em; color:#ccc;}
.wrap_title span			{display:block; font-size:42px; line-height:1em; padding-top:10px;}
.wrap_title span:nth-of-type(2)	{font-style:italic; font-size:30px; line-height:1em;}
.wrap_reporting_org div		{display:inline-block; vertical-align:top; padding-right:10px;}
.wrap_iati_identifier		{background-color:rgba(0,14,32,0.7); width:960px; font-size:18px; line-height:1.5em; padding:20px 40px; color:#FFAB5E; margin:0 auto; margin-left:-40px; margin-top:25px;}
.wrap_iati_identifier.org_id	{margin-top:10px;}
.wrap_reporting_org .text,
.wrap_iati_identifier .text		{color:#ccc; text-transform:uppercase; font-size:14px;}
.wrap_iati_identifier .text a	{font-size:18px; padding-left:5px;}
.wrap_description			{margin:40px auto;}
.wrap_description .text		{margin-bottom:30px;}
.wrap_description .text .narrative					{font-size:1.0em; word-spacing:0.05em; line-height:1.5em; white-space:pre-line; unicode-bidi:embed;}
.wrap_description .text .narrative:nth-of-type(2)	{font-style:italic; display:block; margin-top:15px;}
.wrap_default				{padding:20px 0 0 0; margin:0 auto;}
.wrap_default .text			{display:inline-block; vertical-align:top; font-size:14px; color:#ccc; width:50%;}
.wrap_default .text:first-of-type	{padding-right:20px;}
.wrap_default .text	span	{font-size:16px; color:#fff; padding-left:10px;}
.wrap_location .header_section,
.wrap_budget .header_section{margin-top:0;}
.wrap_document	{margin:30px 0;}

.reporting_org span	{font-size:12px; padding-left:5px; vertical-align:middle;}
.reporting_org .narrative:nth-of-type(2)	{font-style:italic;}

/*	GRAPHS	*/
.wrap_recipient_country,
.wrap_sector		{color:#444; background-color:#fff; margin-top:-20px; width:960px; margin-left:-40px; padding:0 0 40px 0;}
.wrap_recipient_country	{padding:40px 0;}
.sector,
.sector_list_wrap		{color:#444; font-size:14px; line-height:18px; padding:0 40px;}
.sector_list_wrap span	{display:inline-block; vertical-align:top; padding-right:40px; width:30%;}
.sector_list_wrap span.sector_list_description	{padding:0; width:70%; font-size:13px; line-height:15px;}
.sector_list		{padding-bottom:15px;}
.wrap_code,
.wrap_bar			{display:inline-block; vertical-align:middle; width:400px;}
.wrap_code			{text-align:right; width:480px; border-right:1px solid #999; padding:10px 20px 10px 0;}
.wrap_bar			{height:24px;}
.wrap_code span		{display:inline-block; vertical-align:middle;}
.sector_code_text	{max-width:400px;}
.sector_code		{margin-left:10px; background-color:rgba(48,57,70,0.7); padding:2px 5px; border-radius:4px; font-size:11px; color:#FFF; white-space:nowrap;}
.sector_code:nth-of-type(3)	{margin-left:5px;}
.sector_bar,
.sector_value		{display:inline-block; vertical-align:middle;}
.sector_bar			{background-color:#05569d; max-width:335px; height:24px; position:relative;}
.sector_bar:before	{content:""; background-color:rgba(17,46,105,0.1); width:335px; height:24px; position:absolute; top:0; left:0;}
.sector_overlay		{position:absolute; top:0; left:0; height:24px;}
.sector_value		{color:#444; font-size:14px; text-align:right; margin-left:20px; max-width:36px; white-space:nowrap;}
.sector_value:after	{content:"%";}
.wrap_sector .header{color:#444; margin-left:40px; width:880px; padding-top:40px;}

/*	DATA SOURCES	*/
.data_source a		{display:inline-block; vertical-align:baseline; width:12%; background-color:#24405d99; border-radius:4px; text-align:center; font-size:16px; font-variant:all-small-caps; color:#fff; padding:5px 0; margin:10px 2% 5px 0;}
.data_source a:link		{color:#fff;}
.data_source a:visited	{color:#fff;}
.data_source a:hover	{color:#FFAB5E;}
.data_source a:active	{color:#fff;}
.data_source a span	{color:#ccc;}
.data_source a.dlogs{width:20%;}
.data_source a.slug	{width:28%;}
.data_source a.csv	{width:20%; margin-right:0;}

/*	COUNT	*/
span.count				{color:#ccc; font-size:12px; padding-left:20px;}
.wrap_sector span.count	{color:#444;}

/*	DOCUMENTS	*/
a.doc_link:before	{display:inline-block; vertical-align:top; content:"☰"; border:1px solid #CCC; padding:2px; color:#CCC; margin-right:-24px;}
a.doc_link			{display:block; padding:10px 15px; font-size:10px; line-height:1.25em; position:relative; color:#FFF; background-color:rgba(50,58,64,0.6); border:1px solid #656a6f; border-bottom:0;}
.wrap_document a		{color:#fff;}
.wrap_document a:link	{color:#fff;}
.wrap_document a:visited{color:#fff;}
.wrap_document a:hover	{background-color:rgba(77,88,97,0.6);}
.wrap_document a:active	{color:#fff;}
a.doc_link:last-of-type	{border-bottom:1px solid #656a6f;}

.wrap_doc_link	{display:inline-block; vertical-align:top; padding-left:34px;}
span.doc_title,
span.doc_format	{display:inline-block; vertical-align:top;}
span.doc_title	{font-size:14px; line-height:1.25em; max-width:600px;}
span.doc_title:nth-of-type(n+2)	{font-style:italic;}
span.doc_desc	{font-size:12px; display:block; padding:5px 0; color:#ccc;}
span.doc_format	{margin-left:10px; color:#CCC; font-size:12px; background-color:rgba(22,24,37,0.6); border-radius:4px; padding:4px 4px 1px 4px;}
span.doc_lang	{display:inline-block; vertical-align:top; margin:10px 8px 0 0; color:#CCC; font-size:13px; text-transform:uppercase;}
span.rep_type	{display:inline-block; vertical-align:middle; color:#CCC; font-size:12px; margin-left:5px;}
span.doc_cat,
span.doc_rec,
span.doc_date	{display:inline-block; vertical-align:top; margin:5px 5px 0 0; color:#CCC; font-size:13px; background-color:rgba(72,79,86,0.6); border-radius:4px; padding:1px 4px 0px 4px; line-height:1.5em;}
span.doc_date	{background-color:rgba(48,71,103,1);}
span.doc_rec	{background-color:rgba(22,24,37,0.6);}

/*	CONTACT INFO	*/
.wrap_contact_info					{width:980px; margin:0 0 20px -50px; padding:20px 40px; font-size:16px; line-height:1.5em; background-color:rgba(17,46,105,0.9);}
.wrap_contact_info:last-of-type 	{padding-bottom:30px;}
.wrap_contact_info:nth-of-type(1) 	{padding-top:30px; width:900px; margin-left:-10px;}
.wrap_contact_org					{font-weight:bold;}
.wrap_contact_name					{font-size:20px; padding-top:10px;}
.wrap_contact_title					{font-style:italic;}
.wrap_contact_tel					{font-size:18px; padding-top:5px;}
.wrap_contact_type					{font-size:12px; text-transform:uppercase; padding-bottom:10px;}

/*	DATES	*/
.wrap_activity_date	{position:relative; width:980px; height:82px; margin-left:-50px;}
.wrap_activity_date div	{display:inline-block; vertical-align:top; padding:10px 40px; font-size:20px; color:#FFF; min-height:40px; height:40px; line-height:18px;}
.wrap_activity_date div span				{font-size:14px; color:#000e20; text-transform:uppercase; min-width:165px; display:inline-block; vertical-align:bottom; padding-right:10px;}
.wrap_activity_date .planned_start	{position:absolute; top:0; left:0; width:489px; margin:1px 1px 0 0; background-color:#da7102;}
.wrap_activity_date .actual_start	{position:absolute; top:0; right:0; width:490px; margin:1px 0 0 0; background-color:#ff890c; text-align:right;}
.wrap_activity_date .planned_end	{position:absolute; bottom:0; left:0; width:489px; margin:1px 1px 0 0; background-color:#da7102;}
.wrap_activity_date .actual_end		{position:absolute; bottom:0; right:0; width:490px; margin:1px 0 0 0; background-color:#ff890c; text-align:right;}

/*	ACTIVITY STATUS	*/
.wrap_activity_status		{width:960px; font-size:20px; text-align:center; margin-left:-40px; padding:20px 0; max-height:150px; color:rgba(0,14,32,1); border-radius:0 0 6px 6px; background-color:rgb(204,141,230);}
.wrap_activity_status span	{font-size:14px; font-weight:bold; text-transform:uppercase;}
.status_desc				{font-size:16px; padding-top:5px; width:500px; margin:0 auto;}

/*	TABLES	*/
td .currency	{font-size:12px; color:#ccc;}
.value			{text-align:right;}
/*.status		{text-align:center;}*/
.wrap_tab		{padding-bottom:5px; border-bottom:1px solid #666; margin-bottom:5px;}
.wrap_tab:last-of-type	{border:0;}
.tab_text,
.tab_currency	{display:inline-block; vertical-align:top; width:60%; box-sizing:border-box;}
.tab_currency	{width:40%; padding-left:30px; text-align:right; font-size:12px; color:#ccc;}

/*	PROVIDER, RECEIVER ORG	*/
.type			{font-size:11px; color:#CCC; margin:0 auto; border-radius:4px; padding:2px 4px 3px 4px; background-color:rgba(72,79,86,0.6);}
.ref			{font-size:11px; line-height:initial; color:#CCC; margin:0 auto;}


table.budget	{border-collapse:collapse; table-layout:fixed; text-align:left; width:880px;}
table.budget th	{padding-bottom:10px; border-bottom:1px solid #aaa; margin-bottom:15px; font-size:14px; font-weight:normal; color:#CCC; line-height:1.35em; background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPBAMAAADJ+Ih5AAAAIVBMVEUAAAD////////////////////////////////////////PIev5AAAAC3RSTlMArxdHEAqfnTkpJkV64fYAAAAtSURBVAjXY8AKOGAMQwMIzSUoCWG4C4o5gBlBSkoBcPVwEbgauC6EOQiTMQEAKKIEY4aIsg8AAAAASUVORK5CYII=) no-repeat right 5px center;}
table.budget th.status,
table.budget th.value	{background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPBAMAAADJ+Ih5AAAAIVBMVEUAAAD////////////////////////////////////////PIev5AAAAC3RSTlMArxdHEAqfnTkpJkV64fYAAAAtSURBVAjXY8AKOGAMQwMIzSUoCWG4C4o5gBlBSkoBcPVwEbgauC6EOQiTMQEAKKIEY4aIsg8AAAAASUVORK5CYII=) no-repeat right -5px center;}
table.budget th:hover	{cursor:pointer;}
table.budget td			{font-size:14px; color:#FFF; line-height:1.35em; vertical-align:top; border-bottom:1px solid #333642; padding:10px 0;}
table.budget td.value	{font-size:16px; padding-right:20px; text-align:right;}
.org table.budget td.value			{font-size:14px;}


table.budget tr:nth-of-type(1) td	{padding-top:15px;}
table.budget tr:nth-of-type(1) th	{position:sticky; top:30px; z-index:1; background-color:#1c252fe8; padding:10px 0;}
table.budget tr:nth-of-type(1) th:after	{content:''; position:absolute; left:0; bottom:-1px; width:100%; border-bottom:1px solid #aaa;}
table.part_org td.part_org_name,
table.location td.loc_name			{font-size:16px;}
table.part_org td,
table.location td					{padding:5px 0;}

/*	IATI ACTIVITY BUDGET AND PLANNED DISBURSEMENT TABLE	*/
table.budget tr th.date,
table.budget tr td.date				{width:100px; padding-right:20px;}
table.budget tr th.tab_type,
table.budget tr td.tab_type			{width:350px; padding-right:20px;}
table.budget tr th.status,
table.budget tr td.status			{width:170px;}
table.budget tr th.value,
table.budget tr td.value			{width:160px; padding-right:20px;}

table.budget tr:last-of-type td		{border:0; padding-bottom:30px;}	/*	Remove border-bottom from last row of tables	*/


/*	IATI ORG DATE AND STATUS COLUMN	*/
.wrap_total_budget table.budget th.date,
.wrap_total_budget table.budget td.date,
.wrap_total_expenditure table.budget th.date,
.wrap_total_expenditure table.budget td.date,
.wrap_recipient_budget table.budget th.date,
.wrap_recipient_budget table.budget td.date,
.wrap_total_budget table.budget th.status,
.wrap_total_budget table.budget td.status,
.wrap_total_expenditure table.budget th.status,
.wrap_total_expenditure table.budget td.status,
.wrap_recipient_budget table.budget th.status,
.wrap_recipient_budget table.budget td.status		{width:100px; padding-right:0;}

.wrap_total_budget table.budget th.status,
.wrap_total_budget table.budget td.status,
.wrap_total_expenditure table.budget th.status,
.wrap_total_expenditure table.budget td.status,
.wrap_recipient_budget table.budget th.status,
.wrap_recipient_budget table.budget td.status		{text-align:center;}

/*	IATI ORG RECIPIENT COLUMN	*/
.wrap_recipient_budget table.budget th.recipient,
.wrap_recipient_budget table.budget td.recipient	{width:180px; padding-right:20px;}

/*	IATI ORG BUDGET-LINE COLUMN	*/
.wrap_total_budget table.budget th.line,
.wrap_total_budget table.budget td.line				{width:460px; padding-right:0;}

/*	IATI ORG RECIPIENT-BUDGET-LINE COLUMN	*/
.wrap_recipient_budget table.budget th.line,
.wrap_recipient_budget table.budget td.line			{width:260px; padding-right:0;}

/*	IATI ORG EXPENSE-LINE COLUMN	*/
.wrap_total_expenditure table.budget th.line,
.wrap_total_expenditure table.budget td.line		{width:460px; padding-right:0px;}

/*	IATI ORG VALUE HEADER COLUMN	*/
.wrap_total_expenditure table.budget th.value		{width:200px; padding-right:20px;}
.wrap_total_budget table.budget th.value,
.wrap_recipient_budget table.budget th.value		{width:100px; padding-right:20px;}

/*	IATI ORG VALUE COLUMN	*/
.wrap_total_expenditure table.budget td.value		{width:200px; padding-right:0; padding-left:20px;}
.wrap_total_budget table.budget td.value,
.wrap_recipient_budget table.budget td.value		{width:120px; padding-right:0; padding-left:20px;}

/*	IATI ACTIVITY PARTICIPATING ORG TABLE	*/
table.budget.part_org th.part_org_name,
table.budget.part_org td.part_org_name		{width:420px; padding-right:40px;}
table.budget.part_org th.part_org_ref,
table.budget.part_org td.part_org_ref		{width:200px; padding-right:20px;}
table.budget.part_org th.part_org_role,
table.budget.part_org td.part_org_role		{width:120px; padding-right:20px;}
table.budget.part_org th.part_org_type,
table.budget.part_org td.part_org_type		{width:140px; padding-right:0px;}

/*	IATI ACTIVITY HUMANITARIAN SCOPE TABLE	*/
.wrap_humanitarian_scope table.budget.part_org th.hum_type,
.wrap_humanitarian_scope table.budget.part_org td.hum_type		{width:120px;}
.wrap_humanitarian_scope table.budget.part_org th.hum_vocab,
.wrap_humanitarian_scope table.budget.part_org td.hum_vocab,
.wrap_humanitarian_scope table.budget.part_org th.hum_code,
.wrap_humanitarian_scope table.budget.part_org td.hum_code		{width:180px;}

/*	IATI ACTIVITY LOCATION TABLE	*/
table.budget.location th,
table.budget.location td					{width:130px; padding-right:30px;}
table.budget.location th.loc_name,
table.budget.location td.loc_name,
table.budget.location th.loc_des,
table.budget.location td.loc_des			{width:180px; padding-right:30px;}
table.budget.location th.loc_pos,
table.budget.location td.loc_pos			{width:150px; padding-right:30px;}
table.budget.location th.loc_reach,
table.budget.location td.loc_reach,
table.budget.location th.loc_exact,
table.budget.location td.loc_exact			{width:120px; padding-right:0px;}

table.budget.act th,
table.budget.act td,
table.budget.act_trans th.date,
table.budget.act_trans td.date				{width:110px; padding-right:0px;}

table.budget.act th:nth-of-type(2),
table.budget.act td:nth-of-type(2),
table.budget.act th:nth-of-type(3)
table.budget.act td:nth-of-type(3)			{width:120px; padding-right:0px;}
table.budget.act th:nth-of-type(4),
table.budget.act td:nth-of-type(4)			{width:200px; padding-right:0px;}
table.budget.act th:nth-of-type(5),
table.budget.act td:nth-of-type(5)			{width:330px; padding-right:20px;}

/*	IATI ACTIVITY TRANSACTION TABLES	*/
table.budget.act_trans th.description,
table.budget.act_trans td.description		{width:240px; padding-right:30px;}
table.budget.act_trans th.provider,
table.budget.act_trans td.provider			{width:200px; padding-right:30px;}
table.budget.act_trans th.receiver,
table.budget.act_trans td.receiver			{width:170px; padding-right:0px;}
table.budget.act_trans th.value,
table.budget.act_trans td.value				{width:160px; padding-right:20px;}

table.budget.result th,
table.budget.result td						{width:100px; padding-right:0px;}
table.budget.result th:nth-of-type(2),
table.budget.result td:nth-of-type(2)		{width:280px; padding-right:20px;}
table.budget.result th:nth-of-type(3),
table.budget.result td:nth-of-type(3)		{width:500px; padding-right:0px;}
.result_title	{font-size:16px; padding-bottom:5px;}
.result_desc	{font-size:14px; color:#ccc;}
.result_in_date,
.result_in		{display:inline-block; vertical-align:top; width:70%;}
.result_in_date	{width:30%;}
.result_in_date div			{text-align:right;}
.result_in_date div span	{font-size:12px; color:#ccc; width:50px; text-align:left;}

/*	IATI ACTIVITY POLICY MARKER TABLE	*/
.wrap_policy_marker table.budget th.policy_code,
.wrap_policy_marker table.budget td.policy_code		{width:480px; padding-right:40px;}
.wrap_policy_marker table.budget th.policy_sig,
.wrap_policy_marker table.budget td.policy_sig		{width:160px; text-transform:capitalize;}	

/*	IATI ACTIVITY TAG TABLE	*/
.wrap_tag table.budget th.tag_code,
.wrap_tag table.budget td.tag_code		{width:480px; padding-right:40px;}
.wrap_tag table.budget th.tag_vocab,
.wrap_tag table.budget td.tag_vocab		{width:160px;}

/*	IATI ACTIVITY RELATED ACTIVITY TABLE	*/
.wrap_related_activity th.related_ref,
.wrap_related_activity td.related_ref	{width:480px; padding-right:40px;}
.wrap_related_activity th.related_type,
.wrap_related_activity td.related_type	{width:160px;}

/*	DEFAULTS MODALITIES	*/
table.modals					{table-layout:fixed; border-collapse:collapse; width:100%;}
table.modals td,
table.modals th 				{text-align:left; font-size:12px; padding:5px 10px 5px 5px; vertical-align:top; width:100px;}
table.modals th					{font-size:10px; color:#ccc; text-transform:uppercase; font-weight:normal; border-bottom:1px solid #666;}
table.modals td.mod_1,
table.modals th.mod_1			{width:120px;}
table.modals td.mod_2,
table.modals th.mod_2,
table.modals td.mod_3,
table.modals th.mod_3,
table.modals td.mod_4,
table.modals th.mod_4			{width:160px;}
table.modals th.mod_7,
table.modals td.mod_7			{width:80px; padding-right:0;}
