/*	Original flava CSS for SAVi d-portal.org 2014
	============================================= */
* 					{color:#444; font-family:sans-serif; word-wrap:break-word;}
body,html			{background:url('dp_tile.400.png') top center; background-color:#121A31; color:#444; font-family:sans-serif;}
a 					{text-decoration:none; color:#FFAB5E;}
a:hover				{text-decoration:none; color:#FF7A00;}

ok					{display:none;}
query				{display:none;}
iati-activity *		{display:none;}
iati-activity		{display:block; width:960px; margin:0 auto; margin-bottom:320px; background-color:rgba(0,14,32,0.7);}
iati-activity:after {content:"Data is sourced from IATI for D-Portal. If you find anything out of place, please contact the development team."; font-size:14px; color:#ccc; display:block; padding:15px 0; text-align:center;}


/*	Hacks to display injected elements
	============================================= */
iati-activity span	{display:block;}
iati-activity a 	{display:block;}
iati-activity img	{display:block; -webkit-filter:brightness(100%); filter:brightness(100%);}


/*	Project title
	============================================= */
title		 		{display:block; font-size:42px; width:880px; padding:40px; margin:0 auto; color:#FFF;}
title:before 		{content:"PROJECT TITLE"; font-size:14px; color:#ccc; display:block; margin-bottom:5px;}


/*	IATI Identifier
	============================================= */
iati-identifier 		{display:block; background-color: rgba(0,14,32,0.7); width:880px; text-align:center; font-size:1.0em; padding:15px 40px; color:#FF7A00; margin:0 auto;}
iati-identifier:before	{content:"IATI IDENTIFIER"; font-size:14px; color:#ccc; display:inline-block; vertical-align:baseline; padding-right:5px;}
iati-identifier:hover	{color:#FFAB5E;}
a.a_iati-identifier		{width:960px; margin:0 auto; vertical-align:baseline;}
a.a_xml_iati-identifier	{display:inline-block; vertical-align:baseline; padding-left:20px;}
a.a_xml_iati-identifier:before	{content:"VIEW SOURCE"; font-size:14px; color:#ccc; display:inline-block; vertical-align:baseline; padding-right:10px;}
a.a_slug				{display:inline-block; vertical-align:baseline; padding-left:20px;}
a.a_slug:before			{content:"IATI REGISTRY"; font-size:14px; color:#ccc; display:inline-block; vertical-align:baseline; padding-right:10px;}


/*	Recipient countries
	============================================= */
span.span_recipient-country				{display:block; vertical-align:top; width:960px; background-color:rgba(17, 46, 105, 0.9);}
recipient-country 						{display:block; vertical-align:top; padding:20px 40px;}
span.span_recipient-country:before 		{content:"RECIPIENT COUNTRY"; font-size:14px; color:#FFF; padding:30px 0 0 40px; display:block;}
recipient-country span					{font-size:48px; color:#FFF;}
recipient-country span:nth-of-type(2)	{font-size:20px; color:#FFF; padding-top:10px;}


/*	Start and End dates
	============================================= */
span.span_activity-date				{display:block; vertical-align:baseline; width:960px; background-color:rgba(3, 50, 146, 0.9);}
activity-date[type="start-planned"]	{display:none;}
activity-date[type="end-planned"]	{display:none;}
activity-date[type="start-actual"]	{font-size:1.0em; display:table-cell; vertical-align:baseline; padding:10px 40px; color:#FFF; width:480px;}
activity-date[type="end-actual"]	{font-size:1.0em; display:table-cell; vertical-align:baseline; padding:10px 40px; color:#FFF; width:480px; text-align:right;}
activity-date[type="start-actual"]:before{content:"START DATE"; font-size:14px; color:#ccc; display:inline-block; vertical-align:baseline; padding-right:10px;}
activity-date[type="end-actual"]:before	{content:"END DATE"; font-size:14px; color:#ccc; display:inline-block; vertical-align:baseline; padding-right:10px;}


/*	Who's invloved?
	============================================= */
participating-org 						{display:block; width:880px; padding:10px 40px; font-size:18px; color:#FFF; background-color:rgba(17, 46, 105, 0.4);}
participating-org:nth-of-type(1)		{padding-top:40px;}
participating-org:nth-of-type(1):before {content:"Who's involved?"; font-size:34px; color:#FFF; display:block; padding:0; padding-bottom:10px; margin-bottom:20px; border-bottom:5px solid #FFF;}
participating-org[role="funding"]:after			{content:"FUNDING ROLE"; font-size:14px; color:#ccc; display:inline-block; padding:0; padding-left:10px;}
participating-org[role="implementing"]:after	{content:"IMPLEMENTING ROLE"; font-size:14px; color:#ccc; display:inline-block; padding:0; padding-left:10px;}
participating-org[role="extending"]:after		{content:"EXTENDING ROLE"; font-size:14px; color:#ccc; display:inline-block; padding:0; padding-left:10px;}
participating-org[role="accountable"]:after		{content:"ACCOUNTABLE ROLE"; font-size:14px; color:#ccc; display:inline-block; padding:0; padding-left:10px;}


/*	Reported by
	============================================= */
reporting-org 					{display:block; width:880px; padding:20px 40px 40px 40px; font-size:18px; font-weight:bold; color:#FFF; background-color:rgba(17, 46, 105, 0.4);}
reporting-org:before 			{content:"This activity is reported by"; display:inline-block; padding-right:5px; color:#ccc; font-size:18px; font-weight:normal;}
reporting-org:nth-of-type(1)	{padding-top:40px;}
reporting-org:last-of-type		{padding-bottom:40px;}


/*	Description of project (shared with Transaction table)
	============================================= */
description 					{font-size:1.0em; word-spacing:0.05em; line-height:1.45em; display:block; width:880px; padding:40px; padding-bottom:0; color:#FFF;}
description:nth-of-type(1):before{content:"DESCRIPTION"; font-size:14px; color:#ccc; display:block; margin-bottom:5px;}
description[type="1"]:before	{content:"GENERAL"; font-size:14px; color:#ccc; display:block; margin-bottom:5px;}
description[type="2"]:before	{content:"OBJECTIVES"; font-size:14px; color:#ccc; display:block; margin-bottom:5px;}
description[type="3"]:before	{content:"TARGET GROUPS"; font-size:14px; color:#ccc; display:block; margin-bottom:5px;}
description:last-of-type		{padding-bottom:40px;}


/*	Sectors (also turned into graph: sector_pie)
	============================================= */
sector *						{display:none;}
sector[vocabulary="DAC"]		{font-size:1.0em; color:#FFF; width:240px; display:inline-block; vertical-align:top; padding:30px 40px; max-height:80px; min-height:80px;}
sector:nth-child(even)			{background-color:rgba(0,14,32,0.7);}
sector[vocabulary="DAC"]:before	{content:"SECTOR"; font-size:14px; color:#ccc; width:240px; display:block; padding-bottom:5px;}
sector span						{color:#FFF;}
sector span:nth-of-type(2)		{padding-top:5px; color:#ccc;}
sector span:nth-of-type(2):after{content:"allocated"; padding-left:5px; display:inline-block;}
img.sector_pie					{padding:40px; background-color:#FFF;}


/*	Budget table
	============================================= */
budget					{display:block; width:960px; border-top:1px solid #1E90FF; padding:20px 0; border-bottom:0;}
budget:last-of-type	 	{border-bottom:0px solid #1E90FF;}
budget:nth-of-type(1)	{margin-top:0px; padding-top:0;}
budget:nth-of-type(1):before				{content:"Budget"; font-size:26px; color:#FFF; background-color:rgba(17, 46, 105, 0.9); display:block; padding:20px 40px; margin-bottom:25px;}
budget:nth-of-type(1) period-start:before 	{content:"START DATE"; font-size:14px; color:#FFF; width:290px; display:block; padding-bottom:10px; border-bottom:2px solid rgba(17, 46, 105, 0.9); margin-bottom:15px; line-height:1.35em;}
budget:nth-of-type(1) period-end:before	  	{content:"END DATE"; font-size:14px; color:#FFF; width:290px; display:block; padding-bottom:10px; border-bottom:2px solid rgba(17, 46, 105, 0.9); margin-bottom:15px; line-height:1.35em;}
budget:nth-of-type(1) value:before		  	{content:"VALUE"; font-size:14px; color:#FFF; width:300px; display:block; padding-bottom:10px; border-bottom:2px solid rgba(17, 46, 105, 0.9); margin-bottom:15px; line-height:1.35em;}
period-start 			{display:inline-block; vertical-align:top; color:#FFF; font-size:1.0em; width:290px; max-width:290px; padding-left:40px; line-height:1.35em;}
period-end	 			{display:inline-block; vertical-align:top; color:#FFF; font-size:1.0em; width:290px; max-width:290px; line-height:1.35em;}
budget value 			{display:inline-block; vertical-align:top; color:#FFF; font-size:1.0em; width:300px; max-width:300px; padding-right:40px; line-height:1.35em;}


/*	Transaction table
	============================================= */
transaction							{display:block; width:960px; border-top:1px solid #1E90FF; padding:20px 0; border-bottom:0;}
transaction a						{color:#FF7A00;}
transaction a:hover					{color:#FFAB5E;}
transaction:last-of-type			{border-bottom:0px solid #1E90FF;}
transaction:nth-of-type(1)			{margin-top:0px; padding-top:0;}
transaction:nth-of-type(1):before	{content:"Transaction"; font-size:26px; color:#FFF; background-color:rgba(17, 46, 105, 0.9); display:block; padding:20px 40px; margin-bottom:25px;}

transaction:nth-of-type(1) transaction-date:before	{content:"DATE"; font-size:14px; color:#FFF; width:105px; display:block; padding-bottom:10px; border-bottom:2px solid rgba(17, 46, 105, 0.9); margin-bottom:15px; line-height:1.35em;}
transaction:nth-of-type(1) transaction-type:before	{content:"TYPE"; font-size:14px; color:#FFF; width:145px; display:block; padding-bottom:10px; border-bottom:2px solid rgba(17, 46, 105, 0.9); margin-bottom:15px; line-height:1.35em;}
transaction:nth-of-type(1) provider-org:before		{content:"PROVIDER"; font-size:14px; color:#FFF; width:145px; display:block; padding-bottom:10px; border-bottom:2px solid rgba(17, 46, 105, 0.9); margin-bottom:15px; line-height:1.35em;}
transaction:nth-of-type(1) receiver-org:before		{content:"RECEIVER"; font-size:14px; color:#FFF; width:130px; display:block; padding-bottom:10px; border-bottom:2px solid rgba(17, 46, 105, 0.9); margin-bottom:15px; line-height:1.35em;}
transaction:nth-of-type(1) value:before				{content:"VALUE"; font-size:14px; color:#FFF; width:120px; display:block; padding-bottom:10px; border-bottom:2px solid rgba(17, 46, 105, 0.9); margin-bottom:15px; line-height:1.35em;}
transaction description:nth-of-type(n+1):before		{display:none;}
transaction:nth-of-type(1) description:nth-of-type(1):before {content:"DESCRIPTION"; font-size:14px; color:#FFF; width:235px; display:block; padding-bottom:10px; border-bottom:2px solid rgba(17, 46, 105, 0.9); margin-bottom:15px; line-height:1.35em;}

transaction-date	{display:inline-block; vertical-align:top; color:#FFF; font-size:1.0em; width:100px; max-width:100px; padding-left:40px; padding-right:5px; line-height:1.35em;}
transaction-type	{display:inline-block; vertical-align:top; color:#FFF; font-size:1.0em; width:130px; max-width:130px; padding-right:15px; line-height:1.35em;}
transaction description:nth-of-type(1) {display:inline-block; vertical-align:top; padding:0px; width:220px; max-width:220px; padding-right:15px; line-height:1.35em; color:#FFF; font-size:1.0em; text-align:left; background-color:transparent;}
provider-org		{display:inline-block; vertical-align:top; color:#FFF; font-size:1.0em; width:130px; max-width:130px; padding-right:15px; line-height:1.35em;}
receiver-org		{display:inline-block; vertical-align:top; color:#FFF; font-size:1.0em; width:130px; max-width:130px; padding-right:0px; line-height:1.35em;}
value				{display:inline-block; vertical-align:top; color:#FFF; text-align:right; font-size:1.0em; width:120px; max-width:120px; padding-right:40px; line-height:1.35em;}
value span			{font-size:12px; color:#ccc;}


/*	Contact info for Publisher
	============================================= */
contact-info		{display:block; width:880px; padding:10px 40px; font-size:18px;}
contact-info *		{display:block; padding:5px 0; color:#FFF;}
contact-info:nth-of-type(1):before	{content:"CONTACT INFO"; font-size:14px; color:#ccc; display:block; margin-bottom:10px;}
contact-info:nth-of-type(1)			{padding-top:40px;}
contact-info:last-of-type			{padding-bottom:40px;}


/*	Website or external links
	============================================= */
activity-website		{display:block; width:880px; margin:0 auto; text-align:center; padding:20px 40px; font-size:18px; border:0; color:#FF9E45; background-color: rgba(0,14,32,0.7);}
activity-website *		{display:block; padding:5px 0;}
activity-website:before {content:"FOR MORE INFORMATION, VISIT "; font-size:14px; color:#ccc; display:inline-block; padding-right:10px;}
activity-website:hover	{color:#FF7A00;}


/*	Activity Status
	============================================= */
activity-status[code="1"]	{background-color:rgb(71, 181, 255);}
activity-status[code="2"]	{background-color:rgb(204, 141, 230);}
activity-status[code="3"]	{background-color:rgb(71, 255, 78);}
activity-status[code="4"]	{background-color:rgb(255, 130, 71);}
activity-status[code="5"]	{background-color:rgb(255, 71, 71);}
activity-status				{display:block; font-size:20px; background-color:rgb(255, 130, 71); width:960px; text-align:center; margin:0 auto; padding:40px 0; max-height:150px;}
activity-status:before		{content:"ACTIVITY STATUS:"; font-size:14px; color:#FFF; font-weight:bold; display:inline-block; padding-right:10px;}


/*	Related documents list
	============================================= */
span.span_document-link						{width:880px; padding:0 40px; margin:0 auto;}
span.span_document-link:before				{content:"Related Documents"; font-size:34px; color:#FFF; display:block; padding:40px 0 20px 0; margin-bottom:20px; border-bottom:3px solid #FFF;}
a.a_document-link							{display:list-item; width:880px; padding:10px 0; font-size:1.0em; line-height:1.25em; list-style-type:decimal; list-style-position:inside; color:#ccc;}
a.a_document-link:last-of-type				{padding-bottom:40px;}
a.a_document-link document-link title		{color:#FFF; padding:0;}
a.a_document-link document-link title:hover	{color:#FFAB5E;}
document-link								{display:block;}
document-link span							{font-size:1.0em; display:block; color:#ccc;}
document-link title:nth-of-type(n+1):before	{display:none;}
document-link title:nth-of-type(n+1)		{font-size:18px;}


/*	Family Tree list
	============================================= */
span.span_related-activity			{width:880px; padding:0 40px; margin:0 auto;}
span.span_related-activity:before	{content:"Family Tree"; font-size:34px; color:#FFF; display:block; padding:40px 0 20px 0; margin-bottom:20px; border-bottom:3px solid #FFF;}
span.span_related-activity			{color:#FFF;}
a.a_related-activity				{display:list-item; width:875px; padding:10px 0 0 5px; font-size:1.0em; line-height:1.25em; list-style-type:decimal; list-style-position:inside; color:#FFF;}
a.a_related-activity:last-of-type								{padding-bottom:40px;}
iati-activity  > a.a_related-activity ~ a.a_related-activity	{padding-top:10px;}
related-activity					{display:inline; color:#FFAB5E;}
related-activity:hover				{color:#FF7A00;}
related-activity:before				{display:inline-block; padding-right:5px; color:#FFF; font-size:1.0em; line-height:1.25em;}
related-activity[type="1"]:before	{content:"Child of ";}
related-activity[type="2"]:before	{content:"Parent of ";}
related-activity[type="3"]:before	{content:"Sibling of ";}
related-activity[type="4"]:before	{content:"Multifunded ";}
