.ctrack, .ctrack_main	{width:100%; margin:0 auto;}
.ctrack_main			{background-color: rgba(255,255,255,0.4);}
body,html 				{background:none; color:#000; width:100%; height:100%; margin:0; padding:0; font-family:'Helvetica Neue', Arial, sans-serif;}
html 					{background:url('art/bgback1.jpg') no-repeat bottom fixed; background-size:cover; overflow:hidden; overflow-y: scroll;}
a						{-webkit-transition:all .2s linear; -moz-transition:all .2s linear; -o-transition:all .2s linear; -ms-transition:all .2s linear; transition:all .2s linear; cursor:pointer;}
a:focus					{color:#000; text-decoration: none;}
a:link  				{color:#000; text-decoration: none;}
a:visited				{color:#000; text-decoration: none;}
a:hover					{color:#000; text-decoration: none;}
a:active				{color:#000; text-decoration: none;}
i						{color:#000; font-style:italics;}

.footer					{width:100%; margin:0 auto; background-color:#FFF083; color:#C5B541; margin-top:40px; padding:20px 0;}
.footer:hover			{color:#A59313;}

a.navabout				{font-size:24px; color:#fff;}
a.navabout:hover		{border-bottom:2px solid #fff;}

a.boxmore				{display:block; width:100px; padding:10px; background-color:#ddd; border:1px solid #ddd; border-top:0; text-align:center; font-size:12px; color:#fff;}
a.boxmore:hover			{background-color:#bbb;}

a.nearmore				{display:block; width:100px; padding:10px; background-color:#CADDE0; border:1px solid #CEDFE2; border-top:0; text-align:center; font-size:12px; color:#fff;}
a.nearmore:hover		{background-color:#B6D5EE;}

table 					{font-size:20px; color:#000; border-collapse:collapse; }
table td 				{border-bottom:1px solid #ccc; padding:20px 0; display:table-cell; vertical-align:top;}
table tr:nth-child(1) td:not(:nth-child(1)) {text-align:right;}
table tr:not(:nth-child(1)) td:nth-child(3) {text-align:right;}
table tr:nth-child(1) td {border-bottom:1px solid #444; padding:5px 0;}

table.box1				{width:960px; margin:0 auto; margin-top:5px;}
table.box1 div			{padding-left:5px; width:760px; max-width:760px;}
table.box1 tr:nth-child(1) td 		{text-align:left;}
table.box1 tr:not(:nth-child(1)) td {text-align:left;}


table.box2				{width:440px; margin:0 auto; margin-top:5px; font-size:14px; color:#000;}
table.box2 div			{padding-left:5px; width:300px; max-width:300px;}
table.box2 tr:nth-child(1) td					{text-align:left;}
table.box2 tr:nth-child(1) td:not(:nth-child(1)){text-align:right;}

table.box3				{width:440px; margin:0 auto; margin-top:5px; font-size:14px; color:#000;}
table.box3 div			{padding-left:5px; width:340px; max-width:340px;}

table.near				{width:880px; margin:0 auto; color:#6B6F70;}
table.near td			{border-bottom:1px solid #D6E4E7; padding:15px 0;}
table.near div			{width:500px; max-width:500px; padding-left:5px;}
table.near tr:nth-child(1) td	{border-bottom: 3px solid #CDE2E7; color:#999;}
table.near tr:nth-child(1) td:nth-child(2) {text-align:left;}
table.near tr:not(:nth-child(1)) td:nth-child(3) {text-align:left;}
table.near tr:not(:nth-child(1)) td:nth-child(4) {text-align:right;}
