#^css

html			{background-color:#fff;}
#disqus_thread {width:960px; margin:0 auto;}
a.team			{width:320px; display:inline-block; vertical-align:top; font-size:13px; font-weight:bold; line-height:1.5em; color:#A3A3A3;}
a.team:hover	{color:#fff;}
a.countrytracker{width:320px; display:inline-block; vertical-align:top; text-align:center; font-size:13px; font-weight:bold; line-height:1.5em; color:#FFA500;}
a.countrytracker:hover	{color:#FFD800;}
a.github		{width:320px; display:inline-block; vertical-align:top; text-align:right; font-size:13px; font-weight:bold; line-height:1.5em; color:#A3A3A3;}
a.github:hover	{color:#fff;}
.hello			{padding:40px 0; margin:0 auto; width:960px; line-height:1.2em; font-size:1.15em; color:#3F4549;}
p				{padding:15px 0;}
