:root {
  --white:rgba(255,255,255,1);
  --white_40:rgba(255,255,255,0.4);
  --white_10:rgba(255,255,255,0.1);
  --high_grey:rgba(204,204,204,1);
  --grey:rgba(170,170,170,1);
  --quite_grey:rgba(156,156,156,1);
  --quite_grey_40:rgba(156,156,156,0.4);
  --mid_grey:rgba(130,130,130,1);
  --dim_grey:rgba(119,119,119,1);
  --dimmer_grey:rgba(86,86,86,1);
  --dark_grey:rgba(68,68,68,1);
  --dark_grey_80:rgba(68,68,68,0.8);
  --dark_grey_60:rgba(68,68,68,0.6);
  --dark_grey_40:rgba(68,68,68,0.4);
  --dark_grey_20:rgba(68,68,68,0.2);
  --darker_grey:rgba(56,56,56,1);
  --darker_grey_80:rgba(56,56,56,0.8);
  --darker_grey_60:rgba(56,56,56,0.6);
  --darker_grey_40:rgba(56,56,56,0.4);
  --darker_grey_20:rgba(56,56,56,0.2);
  --high_black:rgba(15,15,15,1);
  --higher_black_70:rgba(31,31,31,0.7);
  --high_black_70:rgba(15,15,15,0.7);
  --black:rgba(0,0,0,1);
  --black_70:rgba(0,0,0,0.7);
  --black_0:rgba(0,0,0,0);
}


body,html 				{color:var(--white);}
html					{background-color:var(--black);}


/*	Links & fonts
	============================================= */
a:focus					{color:var(--grey);}
a:link  				{color:var(--grey);}
a:visited				{color:var(--grey);}
a:hover					{color:var(--mid_grey);}
a:active				{color:var(--grey);}


/*	Main wrappers for content & fixed background img
	============================================= */
.main_wrap				{background-color:var(--white_40);}
.overlay				{background-color:var(--higher_black_70);}


/*	Breadcrumbs
	============================================= */
a.crumb					{color:var(--high_grey);}
a.crumb:hover			{color:var(--white);}
.crumb_wrap				{color:var(--high_grey);}
.crumb_wrap span		{color:var(--white);}


/*	About data links
	============================================= */
a.about_data			{color:var(--high_grey);}
a.about_data:hover		{color:var(--white);}
a.about_data.quality	{border-left:1px solid var(--mid_grey);}


/*	Header styles
	============================================= */
.default.declare	{color:var(--high_grey);}


/*	Blog styles
	============================================= */
.blog_head			{color:var(--white); border-bottom:1px solid var(--white);}
a.blog_head			{color:var(--white); border-bottom:1px solid var(--white);}
.blog_wrap			{color:var(--white); border-bottom:1px solid var(--white); background-color:var(--white_10);}
.blog_date			{color:var(--high_grey);}
.blog_body a		{color:var(--high_grey);}
.blog_body a:hover	{color:var(--white);}
.blog_title			{color:var(--high_grey);}
a.blog_title		{color:var(--high_grey);}
a.blog_title:hover	{color:var(--white);}
a.back_news			{color:var(--white);}
a.back_news:hover	{color:var(--high_grey);}


/*	Graph styles
	============================================= */
#donor_graph, #sector_graph	{background-color:var(--white); border:1px solid var(--white);}
a.ask					{color:var(--white);}
span.ask.donor			{background-color:var(--mid_grey);}
span.ask.sector			{background-color:var(--mid_grey);}
.main_peak_wrap			{background-color:var(--white);}
.peak.donor				{border-top:20px solid var(--mid_grey);}
.peak.sector			{border-top:20px solid var(--mid_grey);}
span.graph_view_all:hover	{background-color:var(--high_black); color:var(--white);}



/*	Map styles (front page)
	============================================= */
.map_wrap				{background-color:var(--black);}
.map_info				{color:var(--white); background-color:var(--mid_grey);}
.map_no_info			{color:var(--white);}
a.map_percent			{color:var(--white); background-color:var(--mid_grey);}
a.map_percent:hover		{background-color:var(--dimmer_grey);}
a.map_percent span		{color:var(--white);}
.map_filter				{color:var(--dark_grey);}
.map_filter.info		{color:var(--white);}


/*	For url #view=map
	============================================= */
.map_no_info.view		{color:var(--white);}


/*	Stats (key figures) styles
	============================================= */
span.stats_title		{color:var(--high_grey);}
span.stats_title.view	{color:var(--white);}
span.stats_num			{color:var(--mid_grey);}
span.stats_num.view		{color:var(--white);}
.declare.stats			{color:var(--high_grey);}
a.stats_link			{color:var(--high_grey); background-color:var(--high_black_70);}
a.stats_link:hover		{background-color:var(--high_black);}
a.stats_link.missing span	{color:var(--mid_grey);}


/*	Active / Ended projects styles
	============================================= */
.table_wrap				{background-color:var(--high_black_70);}


/*	Data Description styles
	============================================= */
.description_wrap		{background:linear-gradient(to bottom, var(--black_0) 0%,var(--black_70) 60%,var(--black) 100%); background:-prefix-linear-gradient(to bottom, var(--black_0) 0%,var(--black_70) 50%,var(--black) 100%);}
.description			{background-color:var(--white_10);}
.description span.title	{color:var(--white); border-top:1px solid var(--white); border-bottom:1px solid var(--white);}
.description p			{color:var(--white);}
.description p.about_data	{border-top:1px solid var(--white);}
.description a			{color:var(--high_grey);}
.description a:hover	{color:var(--white);}
a.read					{color:var(--high_grey);}
a.read:hover			{color:var(--white);}


/*	Generic styles
	============================================= */
.list_peak					{border-right:30px solid var(--mid_grey);}
.list_head_title			{color:var(--white);}
.list_stats_title			{color:var(--white);}
.list_stats_num				{color:var(--white);}
a.button					{background-color:var(--mid_grey); color:var(--white);}
a.button:hover				{background-color:var(--quite_grey);}
a.csv_download				{background-color:var(--dim_grey); color:var(--white);}
a.csv_download:hover		{background-color:var(--higher_black_70); color:var(--white);}

	
/*	For url #view=donors & all #view=donor_*
	============================================= */
.donors_head_title			{color:var(--white);}


/*	For url #view=donor_activities
	============================================= */
.donor_activities_spend			{color:var(--high_grey);}
.donor_activities_percent_max	{background-color:var(--black); border:1px solid var(--darker_grey);}
.donor_activities_percent		{background-color:var(--mid_grey);}


/*	For url #view=sectors & all #view=sector_*
	============================================= */
.sectors_head_title			{color:var(--white);}


/*	Table header styles
	============================================= */
th.titles					{color:var(--dim_grey); border-bottom:1px solid var(--darker_grey);}


/*	Table for Header logo and Translations
	============================================= */
table.head td.options		{color:var(--darker_grey);}


/*	Table for Country Name and Flag
	============================================= */
table.country				{border-bottom:1px solid var(--white);}
table.country td.name		{color:var(--white);}
table.country.min td.name	{color:var(--white);}


/*	Table Titles
	============================================= */
table.title td			{color:var(--white);}
table.title td.sort		{color:var(--high_grey);}


/*	Table for Active / Ended projects
	============================================= */
table.list td			{color:var(--high_grey);}
table.list td span		{color:var(--quite_grey);}
table.list a			{color:var(--high_grey);}
table.list a:focus		{color:var(--white);}
table.list a:link  		{color:var(--high_grey);}
table.list a:visited	{color:var(--high_grey);}
table.list a:hover		{color:var(--white);}
table.list a:active		{color:var(--high_grey);}


/*	Table for Money list (Donors / Sectors)
	============================================= */
table.money td				{color:var(--high_grey); border-bottom:1px solid var(--mid_grey);}
table.money td.col1			{background-color:var(--dark_grey_40);}
table.money td.col3			{background-color:var(--darker_grey_20);}
table.money td.col4			{background-color:var(--darker_grey_40);}
table.money td.col5			{background-color:var(--darker_grey_60);}
table.money td.col6			{background-color:var(--dark_grey_40);}
table.money td.col7			{background-color:var(--dark_grey_60);}

table.money tr.row1 th		{color:var(--white);}
table.money tr.row1 th span	{color:var(--white);}
table.money tr.row1 th.col1	{background-color:var(--dark_grey); border:1px solid var(--dark_grey); border-bottom:1px solid var(--mid_grey);}
table.money tr.row1 th.col2	{background-color:var(--dark_grey_20);border-bottom:1px solid var(--mid_grey); border-top:1px solid var(--dark_grey);}
table.money tr.row1 th.col3	{background-color:var(--darker_grey); border:1px solid var(--dark_grey); border-bottom:1px solid var(--mid_grey);}
table.money tr.row1 th.col4	{background-color:var(--dark_grey); border:1px solid var(--dimmer_grey); border-bottom:1px solid var(--mid_grey);}

table.money tr.row2 td		{color:var(--white);}
table.money tr.row2 td.col1 {background-color:var(--dark_grey); border-left:1px solid var(--dark_grey); border-right:1px solid var(--dark_grey);}
table.money tr.row2 td.col2 {background-color:var(--darker_grey_20);}
table.money tr.row2 td.col3	{background-color:var(--darker_grey_60); border-left:1px solid var(--dark_grey);}
table.money tr.row2 td.col4	{background-color:var(--darker_grey_80);}
table.money tr.row2 td.col5	{background-color:var(--darker_grey); border-right:1px solid var(--dark_grey);}
table.money tr.row2 td.col6	{background-color:var(--dark_grey_80);}
table.money tr.row2 td.col7	{background-color:var(--dark_grey); border-right:1px solid var(--dimmer_grey);}

table.money tr.rows td.col1	{border-left:1px solid var(--dark_grey); border-right:1px solid var(--dark_grey);}
table.money tr.rows td.col3	{border-left:1px solid var(--dark_grey);}
table.money tr.rows td.col5	{border-right:1px solid var(--dark_grey);}
table.money tr.rows td.col7	{border-right:1px solid var(--dimmer_grey);}

table.money tr.rows td.col2:hover, table.money tr.rows td.col3:hover, 
table.money tr.rows td.col4:hover, table.money tr.rows td.col5:hover	{background-color:var(--darker_grey);}
table.money tr.rows td.col6:hover, table.money tr.rows td.col7:hover	{background-color:var(--dark_grey);}

table.money a				{color:var(--high_grey);}
table.money a:focus			{color:var(--high_grey);}
table.money a:link  		{color:var(--high_grey);}
table.money a:visited		{color:var(--high_grey);}
table.money a:hover			{color:var(--white);}
table.money a:active		{color:var(--high_grey);}

table.money a.year			{background-color:var(--dimmer_grey);}
table.money a.year.prev:hover, table.money a.year.next:hover	{background-color:var(--mid_grey);}

table.money.publishers th.col2,
table.money.publishers td.col2	{border-left:1px solid var(--dark_grey);}
table.money.publishers th.col2	{border-top:1px solid var(--dark_grey);}


/*	Table for Activities list (Donors / Sectors)
	============================================= */
table.activity td		{color:var(--high_grey); border-bottom:1px solid var(--darker_grey);}
table.activity td span	{color:var(--quite_grey);}
table.activity a		{color:var(--high_grey);}
table.activity a:focus	{color:var(--white);}
table.activity a:link  	{color:var(--high_grey);}
table.activity a:visited{color:var(--high_grey);}
table.activity a:hover	{color:var(--white);}
table.activity a:active	{color:var(--high_grey);}


/*	Table for data descriptions footer (Donors / Sectors)
	============================================= */
table.data td			{color:var(--white); border:1px solid var(--high_grey);}


/*	Missing data
	============================================= */
.missing_data_wrap		{background-color:var(--high_black_70); color:var(--white);}


/*	Data Investigators alert
	============================================= */
a.data_invest			{color:var(--high_grey); background-color:var(--quite_grey_40);}
a.data_invest:hover		{color:var(--white); background-color:var(--dim_grey);}


/*	Footer
	============================================= */
.footer_wrap			{background-color:var(--black);}
.footer_link a			{color:var(--quite_grey);}
.footer_link a:focus	{color:var(--white);}
.footer_link a:link  	{color:var(--quite_grey);}
.footer_link a:visited	{color:var(--quite_grey);}
.footer_link a:hover	{color:var(--white);}
.footer_link a:active	{color:var(--quite_grey);}


/*	SAVi CSS
	============================================= */
iati-activity			{background-color:var(--high_black_70);}
iati-activity:after 	{color:var(--high_grey);}


/*	Project title
	============================================= */
span.span_span-title span-title		 	{color:var(--white);}
span.span_span-title span-title:before 	{color:var(--high_grey);}


/*	IATI Identifier
	============================================= */
iati-identifier 				{background-color: var(--high_black_70); color:var(--mid_grey);}
iati-identifier:before			{color:var(--high_grey);}
iati-identifier:hover			{color:var(--white);}
a.a_xml_iati-identifier:before	{color:var(--high_grey);}
a.a_slug:before					{color:var(--high_grey);}
a.a_xml_iati-identifier:link	{color:var(--mid_grey);}
a.a_xml_iati-identifier:visited	{color:var(--mid_grey);}
a.a_xml_iati-identifier:hover	{color:var(--white);}
a.a_xml_iati-identifier:active	{color:var(--mid_grey);}
a.a_slug:link					{color:var(--mid_grey);}
a.a_slug:visited				{color:var(--mid_grey);}
a.a_slug:hover					{color:var(--white);}
a.a_slug:active					{color:var(--mid_grey);}


/*	Recipient countries
	============================================= */
span.span_recipient-country				{background-color:var(--darker_grey_40);}
span.span_recipient-country:before 		{color:var(--white);}
recipient-country span					{color:var(--white);}
recipient-country span:nth-of-type(2)	{color:var(--white);}


/*	Start and End dates
	============================================= */
span.span_activity-date						{background-color:var(--darker_grey);}

activity-date[type="1"], activity-date[type="3"], activity-date[type="start-planned"],
activity-date[type="end-planned"]			{color:var(--white);background-color:var(--dim_grey);}

activity-date[type="2"], activity-date[type="4"], activity-date[type="start-actual"],
activity-date[type="end-actual"]			{color:var(--white); background-color:var(--mid_grey);}

activity-date[type="1"]:before, activity-date[type="3"]:before, activity-date[type="start-planned"]:before,
activity-date[type="end-planned"]:before, activity-date[type="2"]:before,
activity-date[type="4"]:before, activity-date[type="start-actual"]:before,
activity-date[type="end-actual"]:before		{color:var(--high_grey);}


/*	Who's invloved?
	============================================= */
span.span_participating-org 					{color:var(--white); background-color:var(--darker_grey_40);}
span.span_participating-org:before 				{color:var(--white); border-bottom:1px solid var(--white);}
participating-org								{color:var(--white);}
participating-org[role="funding"]:after			{color:var(--high_grey);}
participating-org[role="implementing"]:after	{color:var(--high_grey);}
participating-org[role="extending"]:after		{color:var(--high_grey);}
participating-org[role="accountable"]:after		{color:var(--high_grey);}


/*	Reported by
	============================================= */
reporting-org 					{color:var(--white);}
reporting-org:before 			{color:var(--high_grey);}


/*	Description of project (shared with Transaction table)
	============================================= */
span.span_description description 						{color:var(--white);}
span.span_description description:nth-of-type(1):before	{color:var(--high_grey);}
span.span_description description[type="1"]:before		{color:var(--high_grey);}
span.span_description description[type="2"]:before		{color:var(--high_grey);}
span.span_description description[type="3"]:before		{color:var(--high_grey);}


/*	Result and description
	============================================= */
result:nth-child(odd)		{background-color:var(--darker_grey_40);}
result:nth-of-type(1):before{color:var(--white); background-color:var(--darker_grey);}
result description			{color:var(--white);}
result description:before	{color:var(--high_grey);}
result span-title			{color:var(--white);}
result span-title:before	{color:var(--high_grey);}

result indicator period period-start, result indicator period period-end, result indicator period target, result indicator period actual,
result indicator description			{color:var(--white);}
result indicator period period-start:before, result indicator period period-end:before, result indicator period target:before,
result indicator period actual:before	{color:var(--high_grey);}

result indicator period baseline				{background-color:var(--darker_grey);}
result indicator period target					{background-color:var(--dimmer_grey);}
result indicator period actual					{background-color:var(--dim_grey);}
result indicator period actual.value-higher		{background-color:var(--mid_grey);}
result indicator period actual.value-lower		{background-color:var(--dark_grey);}

result indicator > baseline comment	{color:var(--white);}


/*	Sectors (also turned into graph: sector_pie)
	============================================= */
span.span_sector sector[vocabulary="DAC"],
span.span_sector sector[vocabulary="1"]	{color:var(--white);}

span.span_sector sector[vocabulary="DAC"]:before,
span.span_sector sector[vocabulary="1"]:before	{color:var(--high_grey);}

span.span_sector sector:nth-child(even) {background-color:var(--high_black_70);}
span.span_sector span					{color:var(--white);}
span.span_sector span:nth-of-type(2)	{color:var(--high_grey);}
img.sector_pie			{background-color:var(--white);}


/*	Budget table
	============================================= */
budget					{border-top:1px solid var(--dimmer_grey);}
budget:last-of-type	 	{border-bottom:0px solid var(--dimmer_grey);}
budget:nth-of-type(1):before				{color:var(--white); background-color:var(--darker_grey);}
budget:nth-of-type(1) period-start:before 	{color:var(--white); border-bottom:2px solid var(--darker_grey);}
budget:nth-of-type(1) period-end:before	  	{color:var(--white); border-bottom:2px solid var(--darker_grey);}
budget:nth-of-type(1) value:before		  	{color:var(--white); border-bottom:2px solid var(--darker_grey);}
period-start 			{color:var(--white);}
period-end	 			{color:var(--white);}
budget value 			{color:var(--white);}


/*	Planned Disbursement table
	============================================= */
planned-disbursement				{border-top:1px solid var(--dimmer_grey);}
planned-disbursement:last-of-type	{border-bottom:0px solid var(--dimmer_grey);}
planned-disbursement:nth-of-type(1):before				{color:var(--white); background-color:var(--darker_grey);}
planned-disbursement:nth-of-type(1) period-start:before {color:var(--white); border-bottom:2px solid var(--darker_grey);}
planned-disbursement:nth-of-type(1) period-end:before	{color:var(--white); border-bottom:2px solid var(--darker_grey);}
planned-disbursement:nth-of-type(1) value:before		{color:var(--white); border-bottom:2px solid var(--darker_grey);}
period-start 			{color:var(--white);}
period-end	 			{color:var(--white);}
planned-disbursement value 			{color:var(--white);}


/*	Transaction table
	============================================= */
transaction							{border-top:1px solid var(--dimmer_grey);}
transaction a						{font-weight:bold; color:var(--mid_grey);}
transaction a						{color:var(--mid_grey);}
transaction a:link					{color:var(--mid_grey);}
transaction a:visited				{color:var(--mid_grey);}
transaction a:hover					{color:var(--mid_grey);}
transaction a:active				{color:var(--mid_grey);}
transaction:last-of-type			{border-bottom:0px solid var(--dimmer_grey);}
transaction:nth-of-type(1):before	{color:var(--white); background-color:var(--darker_grey);}

transaction:nth-of-type(1) transaction-date:before	{color:var(--white); border-bottom:2px solid var(--darker_grey);}
transaction:nth-of-type(1) transaction-type:before	{color:var(--white); border-bottom:2px solid var(--darker_grey);}
transaction:nth-of-type(1) provider-org:before		{color:var(--white); border-bottom:2px solid var(--darker_grey);}
transaction:nth-of-type(1) receiver-org:before		{color:var(--white); border-bottom:2px solid var(--darker_grey);}
transaction:nth-of-type(1) value:before				{color:var(--white); border-bottom:2px solid var(--darker_grey);}
span.span_transaction transaction:nth-of-type(1) description:nth-of-type(1):before {color:var(--white); border-bottom:2px solid var(--darker_grey);}

transaction-date	{color:var(--white);}
transaction-type	{color:var(--white);}
span.span_transaction transaction description:nth-of-type(1) {color:var(--white);}
provider-org		{color:var(--white);}
receiver-org		{color:var(--white);}
value				{color:var(--white);}
value span			{color:var(--high_grey);}


/*	Contact info for Publisher
	============================================= */
contact-info *						{color:var(--white);}
contact-info:nth-of-type(1):before	{color:var(--high_grey);}
span.span_contact-info contact-info	{background-color:var(--darker_grey);}
span.span_contact-info contact-info:nth-of-type(even)	{background:var(--black_0);}


/*	Website or external links
	============================================= */
activity-website		{color:var(--white); background-color:var(--high_black_70);}
activity-website:before {color:var(--high_grey);}
activity-website:hover	{color:var(--mid_grey);}


/*	Activity Status
	============================================= */
activity-status[code="1"]	{background-color:var(--grey);}
activity-status[code="2"]	{background-color:var(--quite_grey);}
activity-status[code="3"]	{background-color:var(--mid_grey);}
activity-status[code="4"]	{background-color:var(--dim_grey);}
activity-status[code="5"]	{background-color:var(--dimmer_grey);}
activity-status				{background-color:var(--quite_grey); color:var(--dark_grey);}
activity-status:before		{color:var(--white);}


/*	Related documents list
	============================================= */
span.span_document-link:before				{color:var(--white); border-bottom:1px solid var(--white);}
a.a_document-link							{color:var(--high_grey);}
a.a_document-link document-link span-title			{color:var(--white);}
a.a_document-link document-link span-title:hover	{color:var(--mid_grey);}
document-link span							{color:var(--high_grey);}


/*	Family Tree list
	============================================= */
span.span_related-activity:before	{color:var(--white); border-bottom:1px solid var(--white);}
span.span_related-activity			{color:var(--white);}
a.a_related-activity				{color:var(--white);}
related-activity					{color:var(--mid_grey);}
related-activity:hover				{color:var(--mid_grey);}
related-activity:before				{color:var(--white);}
