body,html 				{color:rgba(255,255,255,1);}
html					{background-color:rgba(0,0,0,1);}


/*	Links & fonts
	============================================= */
a:focus					{color:rgba(170,170,170,1);}
a:link  				{color:rgba(170,170,170,1);}
a:visited				{color:rgba(170,170,170,1);}
a:hover					{color:rgba(124,124,124,1);}
a:active				{color:rgba(170,170,170,1);}


/*	Main wrappers for content & fixed background img
	============================================= */
.main_wrap				{background-color:rgba(255,255,255,0.4);}
.overlay				{background-color:rgba(31,31,31,0.6);}


/*	Settings
	============================================= */
#settings				{background-color:rgba(24,23,21,1);}
a.settings_link span	{color:rgba(235,235,235,1);}
a.settings_link:hover span	{color:rgba(255,255,255,1);}
a.settings_faq			{color:rgba(235,235,235,1);}
a.settings_faq:hover span	{color:rgba(255,255,255,1);}


/*	Breadcrumbs
	============================================= */
a.crumb					{color:rgba(232,148,0,1);}
a.crumb:hover			{color:rgba(255,174,34,1);}
.crumb_wrap				{color:rgba(204,204,204,1);}
.crumb_wrap span		{color:rgba(255,255,255,1);}


/*	About data links
	============================================= */
a.about_data			{color:rgba(204,204,204,1);}
a.about_data:hover		{color:rgba(255,255,255,1);}
a.about_data.quality	{border-left:1px solid rgba(187,187,187,1);}


/*	Header styles
	============================================= */
.default.declare	{color:rgba(204,204,204,1);}
.default.head		{padding:20px; background-color:rgba(15,15,15,0.7); border-radius:0 0 4px 4px;}


/*	Blog styles
	============================================= */
.blog_head			{color:rgba(255,255,255,1); border-bottom:10px solid rgba(255,255,255,1);}
a.blog_head			{color:rgba(255,255,255,1); border-bottom:10px solid rgba(255,255,255,1);}
.blog_wrap			{color:rgba(255,255,255,1); border-bottom:1px solid rgba(255,255,255,1); background-color:rgba(255,255,255,0.1);}
.blog_date			{color:rgba(204,204,204,1);}
.blog_body a		{color:rgba(204,204,204,1);}
.blog_body a:hover	{color:rgba(255,255,255,1);}
.blog_title			{color:rgba(204,204,204,1);}
a.blog_title		{color:rgba(204,204,204,1);}
a.blog_title:hover	{color:rgba(255,255,255,1);}
a.back_news			{color:rgba(255,255,255,1);}
a.back_news:hover	{color:rgba(204,204,204,1);}


/*	Graph styles
	============================================= */
#donor_graph, #sector_graph	{background-color:rgba(255,255,255,1); color:rgba(68,68,68,1); border:1px solid rgba(255,255,255,1);}
span.graph_view_all:hover	{background-color:rgba(0,0,0,0.85);}
span.ask.donor			{background-color:rgba(206,131,0,1);}
span.ask.sector			{background-color:rgba(206,131,0,1);}
.main_peak_wrap			{background-color:rgba(255,255,255,1);}
.peak.donor				{border-top:20px solid rgba(206,131,0,1);}
.peak.sector			{border-top:20px solid rgba(206,131,0,1);}
a.view_all_money		{background-color:rgba(15,15,15,0.7); color:rgba(204,204,204,1);}
a.view_all_money:hover	{background-color:rgba(15,15,15,0.9); color:rgba(255,255,255,1);}


/*	Map styles (front page)
	============================================= */
.map_wrap				{background-color:rgba(0,0,0,0.8);}
.map_info				{color:rgba(255,255,255,1); background-color:rgba(206,131,0,1);}
.map_no_info			{color:rgba(255,255,255,1);}
.map_percent			{color:rgba(255,255,255,1); background-color:rgba(15,15,15,0.9);}
a.map_percent			{color:rgba(255,255,255,1); background-color:rgba(0,0,0,0.7);}
a.map_percent:hover		{background-color:rgba(0,0,0,0.9);}
.map_percent span		{color:rgba(255,255,255,1);}


/*	For url #view=map
	============================================= */
.map_no_info.view		{color:rgba(255,255,255,1);}


/*	Stats (key figures) styles
	============================================= */
span.stats_title		{color:rgba(204,204,204,1);}
span.stats_title.view	{color:rgba(255,255,255,1);}
span.stats_num			{color:rgba(255,163,0,1);}
span.stats_num.view		{color:rgba(255,255,255,1);}
.declare.stats			{color:rgba(204,204,204,1);}
a.stats_link			{color:rgba(204,204,204,1); background-color:rgba(15,15,15,0.7);}
a.stats_link:hover		{background-color:rgba(15,15,15,0.9);}
a.stats_link.missing span	{color:rgba(255,163,0,1);}


/*	Active / Ended projects styles
	============================================= */
.table_wrap				{background-color:rgba(15,15,15,0.7);}


/*	Data Description styles
	============================================= */
.description_wrap		{background:linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 60%,rgba(0,0,0,1) 100%); background:-prefix-linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 50%,rgba(0,0,0,1) 100%);}
.description.data_quality_wrap	{background-color:rgba(255,255,255,0.1);}
.description span.title	{color:rgba(255,255,255,1); border-bottom:1px solid rgba(255,255,255,1);}
.description p			{color:rgba(255,255,255,1);}
.description a			{color:rgba(204,204,204,1);}
.description a:hover	{color:rgba(255,255,255,1);}
a.read					{color:rgba(204,204,204,1);}
a.read:hover			{color:rgba(255,255,255,1);}


/*	Generic styles
	============================================= */
.list_head_title			{color:rgba(255,255,255,1);}
.list_stats_title			{color:rgba(255,255,255,1);}
.list_stats_num				{color:rgba(255,255,255,1);}
a.button					{background-color:rgba(206,131,0,1); color:rgba(255,255,255,1);}
a.button:hover				{background-color:rgba(255,163,0,1);}
a.csv_download				{background-color:rgba(206,131,0,1); color:rgba(255,255,255,1);}
a.csv_download:hover		{background-color:rgba(255,163,0,1); color:rgba(255,255,255,1);}

	
/*	For url #view=donors & all #view=donor_*
	============================================= */
.donors_head_title			{color:rgba(255,255,255,1);}


/*	For url #view=donor_activities
	============================================= */
.donor_activities_spend			{color:rgba(198,198,198,1);}
.donor_activities_percent_max	{background-color:rgba(0,0,0,1); border:1px solid rgba(56,56,56,1);}
.donor_activities_percent		{background-color:rgba(206,131,0,1);}


/*	For url #view=sectors & all #view=sector_*
	============================================= */
.sectors_head_title			{color:rgba(255,255,255,1);}


/*	For url #view=search
	============================================= */
.search_label				{color:rgba(255,255,255,1); border-bottom:1px solid rgba(165,99,0,1);}
#search_div					{color:rgba(255,255,255,1);}
a#search_link				{background-color:rgba(206,131,0,1); color:rgba(255,255,255,1);}
a#search_link span			{color:rgba(255,255,255,1);}
a#search_link:hover			{background-color:rgba(255,163,0,1);}

.search_title				{color:rgba(255,163,0,1);}

/*	For url #view=list_activities	*
	============================================= */
.activities_spend			{color:rgba(218,218,218,1);}
.activities_percent			{background-color:rgba(206,131,0,1);}
.activities_percent_max		{background-color:rgba(15,15,15,1); border:1px solid rgba(56,56,56,1);}
	
	
/*	Search Headers
	============================================= */
.search_cont				{background-color:rgba(56,56,56,0.4); border:1px solid rgba(170,170,170,1);}
.search_cont a:link			{color:rgba(206,131,0,1);}
.search_cont a:visited		{color:rgba(206,131,0,1);}
.search_cont a:hover		{color:rgba(255,163,0,1);}
.search_cont a:active		{color:rgba(206,131,0,1);}
.search.head				{color:rgba(255,255,255,1);}
.search_query				{color:rgba(255,255,255,1);}
a.search_refine				{border:0; text-shadow:initial; background:none; background-color:rgba(15,15,15,0.7);}
a.search_refine:hover		{border:0; text-shadow:initial; background:rgba(15,15,15,1);}


/*	Table header styles
	============================================= */
th.titles					{color:rgba(163,116,34,1);}


/*	Table for Header logo and Translations
	============================================= */
table.head td.options		{color:rgba(255,255,255,1);}


/*	Table for Country Name and Flag
	============================================= */
table.country				{border-bottom:2px solid rgba(165,99,0,1);}
table.country td.name		{color:rgba(255,255,255,1);}
table.country.min td.name	{color:rgba(255,255,255,1);}


/*	Table Titles
	============================================= */
table.title td			{color:rgba(255,255,255,1);}
table.title td.sort		{color:rgba(204,204,204,1);}


/*	Table for Active / Ended projects
	============================================= */
table.list tr:hover		{background-color:rgba(255,255,255,0);}
table.list td			{color:rgba(198,198,198,1); border-bottom:1px solid rgba(56,56,56,1);}
table.list td span		{color:rgba(153,153,153,1);}
table.list tr:hover a	{color:rgba(255,174,34,1);}
table.list a			{color:rgba(218,218,218,1);}
table.list a:focus		{color:rgba(255,255,255,1);}
table.list a:link  		{color:rgba(218,218,218,1);}
table.list a:visited	{color:rgba(218,218,218,1);}
table.list a:hover		{color:rgba(255,174,34,1); background-color:rgba(0,0,0,0);}
table.list a:active		{color:rgba(218,218,218,1);}


/*	Table for Money list (Donors / Sectors)
	============================================= */
table.money td				{color:rgba(198,198,198,1);}
table.money td.col1			{background-color:rgba(70,70,70,0.4);}
table.money td.col3			{background-color:rgba(56,56,56,0.2);}
table.money td.col4			{background-color:rgba(56,56,56,0.4);}
table.money td.col5			{background-color:rgba(56,56,56,0.6);}
table.money td.col6			{background-color:rgba(74,74,74,0.4);}
table.money td.col7			{background-color:rgba(74,74,74,0.6);}

table.money tr.row1 th		{color:rgba(255,255,255,1);}
table.money tr.row1 th span	{color:rgba(255,255,255,1);}
table.money tr.row1 th.col1	{background-color:rgba(66,67,67,1); border:1px solid rgba(68,68,68,1);}
table.money tr.row1 th.col2	{background-color:rgba(53,53,54,1); border:1px solid rgba(67,67,67,1);}
table.money tr.row1 th.col3	{background-color:rgba(53,53,53,1); border:1px solid rgba(67,67,67,1);}
table.money tr.row1 th.col4	{background-color:rgba(69,69,69,1); border:1px solid rgba(82,82,82,1);}

table.money tr.row2 td		{color:rgba(255,255,255,1);}
table.money tr.row2 td.col1 {background-color:rgba(66,67,67,1); border-left:1px solid rgba(68,68,68,1); border-right:1px solid rgba(68,68,68,1);}
table.money tr.row2 td.col2	{background-color:rgba(53,53,54,1);}
table.money tr.row2 td.col3	{background-color:rgba(47,47,47,1); border-left:1px solid rgba(67,67,67,1);}
table.money tr.row2 td.col4	{background-color:rgba(50,51,52,1);}
table.money tr.row2 td.col5	{background-color:rgba(53,53,54,1); border-right:1px solid rgba(67,67,67,1);}
table.money tr.row2 td.col6	{background-color:rgba(61,62,63,1);}
table.money tr.row2 td.col7	{background-color:rgba(69,69,69,1); border-right:1px solid rgba(82,82,82,1);}

table.money tr.rows td		{border-bottom:1px solid rgba(141,141,141,1);}
table.money tr.rows td.col1	{border-left:1px solid rgba(68,68,68,1); border-right:1px solid rgba(68,68,68,1);}
table.money tr.rows td.col3	{border-left:1px solid rgba(67,67,67,1);}
table.money tr.rows td.col5	{border-right:1px solid rgba(67,67,67,1);}
table.money tr.rows td.col7	{border-right:1px solid rgba(82,82,82,1);}

table.money tr.rows td.col2:hover, table.money tr.rows td.col3:hover, 
table.money tr.rows td.col4:hover, table.money tr.rows td.col5:hover,
table.money tr.rows td.col6:hover, table.money tr.rows td.col7:hover	{background-color:rgba(206,131,0,0.6);}

table.money a				{color:rgba(204,204,204,1);}
table.money a:focus			{color:rgba(204,204,204,1);}
table.money a:link  		{color:rgba(204,204,204,1);}
table.money a:visited		{color:rgba(204,204,204,1);}
table.money a:hover			{color:rgba(255,255,255,1);}
table.money a:active		{color:rgba(204,204,204,1);}

table.money a.year			{background-color:rgba(206,131,0,0.6);}
table.money a.year.next:hover,
table.money a.year.prev:hover	{background-color:rgba(206,131,0,1);}

table.money.publishers th.col2,
table.money.publishers td.col2	{border-left:1px solid rgba(67,67,67,1);}
table.money.publishers th.col2	{border-top:1px solid rgba(67,67,67,1);}

table.money tr.row1 th:after,
table.money tr.row2 td:after	{border-bottom:1px solid rgba(141,141,141,1);}


/*	Table for Activities list (Donors / Sectors)
	============================================= */
table.activity tr:hover	{background-color:rgba(0,0,0,0.4);}
table.activity td		{color:rgba(198,198,198,1); border-bottom:1px solid rgba(56,56,56,1);}
table.activity td span	{color:rgba(153,153,153,1);}
table.activity tr:hover a		{color:rgba(255,174,34,1);}
table.activity a	  	{color:rgba(218,218,218,1);}
table.activity a:focus	{color:rgba(255,174,34,1);}
table.activity a:link  	{color:rgba(218,218,218,1);}
table.activity a:visited{color:rgba(218,218,218,1);}
table.activity a:hover	{color:rgba(255,174,34,1);}
table.activity a:active	{color:rgba(218,218,218,1);}
table.activity tr th.titles			{background:rgba(15,15,15,1);}
table.activity tr th.titles:after	{border-bottom:1px solid rgba(141,141,141,1);}


/*	Table for data descriptions footer (Donors / Sectors)
	============================================= */
table.data td			{color:rgba(255,255,255,1); border:1px solid rgba(204,204,204,1);}


/*	Missing data
	============================================= */
.missing_data_wrap		{background-color:rgba(15,15,15,0.7); color:rgba(255,255,255,1);}


/*	Data Investigators alert
	============================================= */
a.data_invest			{color:rgba(255,255,255,1); background-color:rgba(206,131,0,0.6);}
a.data_invest:hover		{color:rgba(255,255,255,1); background-color:rgba(255,163,0,0.6);}


/*	Footer
	============================================= */
.footer_wrap			{background-color:rgba(0,0,0,0.95);}
.footer_link a			{color:rgba(153,153,153,1);}
.footer_link a:focus	{color:rgba(255,255,255,1);}
.footer_link a:link  	{color:rgba(153,153,153,1);}
.footer_link a:visited	{color:rgba(153,153,153,1);}
.footer_link a:hover	{color:rgba(255,255,255,1);}
.footer_link a:active	{color:rgba(153,153,153,1);}


/*	SAVi CSS
	============================================= */
iati-activity			{background-color:rgba(15,15,15,0.7);}
iati-activity:after 	{color:rgba(204,204,204,1);}


/*	Display when humanitarian
	============================================= */
iati-activity[humanitarian="1"]:before	{background-color:rgba(206,131,0,1); color:rgba(15,15,15,1);}
transaction[humanitarian="1"]:before	{background-color:rgba(101,101,101,0.4); color:rgba(255,255,255,1);}


/*	Project title
	============================================= */
span.span_span-title span-title		 			{color:rgba(255,255,255,1);}
span.span_span-title span-title:before 			{color:rgba(204,204,204,1);}


/*	IATI Identifier
	============================================= */
iati-identifier 				{background-color: rgba(15,15,15,0.7); color:rgba(206,131,0,1);}
iati-identifier:before			{color:rgba(204,204,204,1);}
iati-identifier:hover			{color:rgba(255,163,0,1);}
a.a_xml_iati-identifier:link	{color:rgba(206,131,0,1);}
a.a_xml_iati-identifier:visited	{color:rgba(206,131,0,1);}
a.a_xml_iati-identifier:hover	{color:rgba(255,163,0,1);}
a.a_xml_iati-identifier:active	{color:rgba(206,131,0,1);}
a.a_xml_iati-identifier:before	{color:rgba(204,204,204,1);}
a.a_logs						{color:rgba(206,131,0,1);}
a.a_logs:link					{color:rgba(206,131,0,1);}
a.a_logs:visited				{color:rgba(206,131,0,1);}
a.a_logs:hover					{color:rgba(255,163,0,1);}
a.a_logs:active					{color:rgba(206,131,0,1);}
a.a_logs:before					{color:rgba(204,204,204,1);}
a.a_slug						{color:rgba(206,131,0,1);}
a.a_slug:link					{color:rgba(206,131,0,1);}
a.a_slug:visited				{color:rgba(206,131,0,1);}
a.a_slug:hover					{color:rgba(255,163,0,1);}
a.a_slug:active					{color:rgba(206,131,0,1);}
a.a_slug:before					{color:rgba(204,204,204,1);}


/*	Recipient countries
	============================================= */
span.span_recipient-country:before 		{color:rgba(255,255,255,1);}
recipient-country span					{color:rgba(255,255,255,1);}
recipient-country span:nth-of-type(2)	{color:rgba(204,204,204,1);}

span.country_img:before {color:rgba(255,255,255,1); background-color:rgba(206,131,0,1);}
img.country_pie			{background-color:rgba(255,255,255,1); -webkit-filter:hue-rotate(210deg); filter:hue-rotate(210deg);}


/*	Start and End dates
	============================================= */
activity-date[type="1"], activity-date[type="3"], activity-date[type="start-planned"], activity-date[type="end-planned"], activity-date[type="2"], activity-date[type="4"], activity-date[type="start-actual"], activity-date[type="end-actual"]	{color:rgba(255,255,255,1); background-color:rgba(206,131,0,1);}

activity-date[type="1"]:before, activity-date[type="start-planned"]:before,
activity-date[type="2"]:before, activity-date[type="start-actual"]:before,
activity-date[type="3"]:before, activity-date[type="end-planned"]:before,
activity-date[type="4"]:before, activity-date[type="end-actual"]:before	{color:rgba(15,15,15,1);}


/*	Who's invloved?
	============================================= */
span.span_participating-org	 					{color:rgba(255,255,255,1);}
span.span_participating-org:before 				{color:rgba(255,255,255,1);}

participating-org, span-narrative.participating-role, participating-org span-lang	{color:rgba(255,255,255,1);}

participating-org a:link span-lang,
participating-org a:link	{color:rgba(206,131,0,1);}
participating-org a:visited span-lang,
participating-org a:visited	{color:rgba(206,131,0,1);}
participating-org a:hover span-lang,
participating-org a:hover	{color:rgba(255,163,0,1);}
participating-org a:active span-lang,
participating-org a:active	{color:rgba(206,131,0,1);}

span-narrative.org-role,
span-narrative.org-type,
span-narrative.org-ref		{color:rgba(255,255,255,1); background-color:rgba(101,101,101,0.4);}


/*	Location (version 2.02++)
	============================================= */
span.span_location			{color:rgba(255,255,255,1);}
span.span_location:before	{color:rgba(204,204,204,1);}
span.span_location location point > *	{color:rgba(204,204,204,1);}
span.span_location location description	{color:rgba(204,204,204,1);}


/*	Recipient region
	============================================= */
span.span_recipient-region			{color:rgba(255,255,255,1);}
span.span_recipient-region:before 	{color:rgba(204,204,204,1);}
span.region-percent 				{color:rgba(204,204,204,1);}

span.region-code,
span.region-vocab			{color:rgba(255,255,255,1); background-color:rgba(101,101,101,0.4);}


/*	Reported by
	============================================= */
reporting-org 				{color:rgba(255,255,255,1);}
reporting-org:before 		{color:rgba(204,204,204,1);}
reporting-org a:link		{color:rgba(206,131,0,1);}
reporting-org a:visited		{color:rgba(206,131,0,1);}
reporting-org a:hover		{color:rgba(255,163,0,1);}
reporting-org a:active		{color:rgba(206,131,0,1);}


/*	Description of project (shared with Transaction table)
	============================================= */
span.span_description description 						{color:rgba(255,255,255,1);}
span.span_description description:nth-of-type(1):before	{color:rgba(204,204,204,1);}
span.span_description description[type="1"]:before		{color:rgba(204,204,204,1);}
span.span_description description[type="2"]:before		{color:rgba(204,204,204,1);}
span.span_description description[type="3"]:before		{color:rgba(204,204,204,1);}


/*	Result and description
	============================================= */
result:nth-child(even)		{background-color:rgba(56,56,56,0.3);}
span.span_result:before		{color:rgba(255,255,255,1); background-color:rgba(206,131,0,1);}
span-reference:before		{color:rgba(204,204,204,1);}
result description			{color:rgba(255,255,255,1);}
result description:before	{color:rgba(204,204,204,1);}
result span-title			{color:rgba(255,255,255,1);}
result span-title:before	{color:rgba(204,204,204,1);}

result indicator period period-start, result indicator period period-end, result indicator period target, result indicator period actual,
result indicator description			{color:rgba(255,255,255,1);}
result indicator period period-start:before, result indicator period period-end:before, result indicator period baseline:before, result indicator period target:before,
result indicator period actual:before	{color:rgba(204,204,204,1);}

result indicator period baseline			{background-color:rgba(15,15,15,0.7);}
result indicator period target				{background-color:rgba(15,15,15,0.3);}
result indicator period actual				{background-color:rgba(15,15,15,0.7);}
result indicator period actual.value-higher	{background-color:rgba(206,131,0,0.9);}
result indicator period actual.value-lower	{background-color:rgba(206,131,0,0.3);}

span-narrative.baseline-year,
result indicator[measure="1"] period target:after,
result indicator[measure="1"] period actual:after,
result indicator[measure="2"] period target:after,
result indicator[measure="2"] period actual:after	{color:rgba(255,255,255,1);}

result indicator > baseline comment		{color:rgba(255,255,255,1);}

result a.a_reference reference,
result a.a_reference reference:after		{color:rgba(255,163,0,1);}
result a.a_reference:hover reference,
result a.a_reference:hover reference:after	{color:rgba(255,183,0,1);}


/*	Sectors (also turned into graph: sector_pie)
	============================================= */
span.sector_img:before {color:rgba(255,255,255,1); background-color:rgba(206,131,0,1);}

span.span_sector sector[vocabulary="DAC"],
span.span_sector sector[vocabulary="1"]			{color:rgba(255,255,255,1);}
span.span_sector sector[vocabulary="DAC"]:before, 
span.span_sector sector[vocabulary="1"]:before,
span.span_sector sector[vocabulary="2"]:before	{color:rgba(204,204,204,1);}
sector span, span.span_sector sector span		{color:rgba(255,255,255,1);}
span.span_sector sector span:nth-of-type(2),
span.span_sector span:nth-of-type(2)			{color:rgba(204,204,204,1);}
img.sector_pie	{background-color:rgba(255,255,255,1); -webkit-filter:hue-rotate(210deg); filter:hue-rotate(210deg);}


/*	Budget table
	============================================= */
budget					{border-top:1px solid rgba(143,143,143,1);}
budget:last-of-type	 	{border-bottom:0px solid rgba(143,143,143,1);}
span.span_budget:before						{color:rgba(255,255,255,1); background-color:rgba(206,131,0,1);}
budget:nth-of-type(1) period-start:before,
budget:nth-of-type(1) period-end:before,
budget:nth-of-type(1) span-budget-type:before,
budget:nth-of-type(1) span-budget-status:before,
budget:nth-of-type(1) value:before		  	{color:rgba(204,204,204,1); border-bottom:2px solid rgba(56,56,56,0.9);}

budget period-start,
budget period-end,
budget span-budget-type,
budget span-budget-status,
budget value			{color:rgba(255,255,255,1);}


/*	Planned Disbursement table
	============================================= */
planned-disbursement 					{border-top:2px solid rgba(56,56,56,0.9);}
planned-disbursement a					{color:rgba(255,163,0,1);}
planned-disbursement a:link				{color:rgba(255,163,0,1);}
planned-disbursement a:visited			{color:rgba(255,163,0,1);}
planned-disbursement a:hover			{color:rgba(255,183,0,1);}
planned-disbursement a:active			{color:rgba(255,163,0,1);}
span.span_planned-disbursement:before	{color:rgba(255,255,255,1); background-color:rgba(206,131,0,1);}

planned-disbursement:nth-of-type(1) period-start:before,
planned-disbursement:nth-of-type(1) period-end:before,
planned-disbursement:nth-of-type(1) value:before,
planned-disbursement:nth-of-type(1) span-planned-type:before,
planned-disbursement:nth-of-type(1) provider-org:before,
planned-disbursement:nth-of-type(1) receiver-org:before	{color:rgba(204,204,204,1); border-bottom:2px solid rgba(56,56,56, 0.9);}

planned-disbursement period-start,
planned-disbursement period-end,
planned-disbursement value ,
planned-disbursement provider-org,
planned-disbursement receiver-org		{color:rgba(255,255,255,1);}

planned-disbursement span-narrative.org-role,
planned-disbursement span-narrative.org-type,
planned-disbursement span-narrative.org-ref {color:rgba(255,255,255,1); background-color:rgba(101,101,101,0.4);}


/*	Transaction table
	============================================= */
transaction						{border-top:2px solid rgba(56,56,56,0.9);}
transaction a					{color:rgba(255,163,0,1);}
a.a_receiver-org				{color:rgba(255,163,0,1);}
transaction a:link				{color:rgba(255,163,0,1);}
transaction a:visited			{color:rgba(255,163,0,1);}
transaction a:hover				{color:rgba(255,183,0,1);}
transaction a:active			{color:rgba(255,163,0,1);}
span.span_transaction:before	{color:rgba(255,255,255,1); background-color:rgba(206,131,0,1);}

transaction:nth-of-type(1) transaction-date:before	{color:rgba(204,204,204,1); border-bottom:2px solid rgba(56,56,56, 0.9);}
transaction:nth-of-type(1) transaction-type:before	{color:rgba(204,204,204,1); border-bottom:2px solid rgba(56,56,56, 0.9);}
transaction:nth-of-type(1) provider-org:before		{color:rgba(204,204,204,1); border-bottom:2px solid rgba(56,56,56, 0.9);}
transaction:nth-of-type(1) receiver-org:before		{color:rgba(204,204,204,1); border-bottom:2px solid rgba(56,56,56, 0.9);}
transaction:nth-of-type(1) value:before				{color:rgba(204,204,204,1); border-bottom:2px solid rgba(56,56,56, 0.9);}
span.span_transaction transaction:nth-of-type(1) description:nth-of-type(1):before {color:rgba(204,204,204,1); border-bottom:2px solid rgba(56,56,56, 0.9);}

transaction-date	{color:rgba(255,255,255,1);}
transaction-type	{color:rgba(255,255,255,1);}
span.span_transaction transaction description:nth-of-type(1) {color:rgba(255,255,255,1);}
provider-org		{color:rgba(255,255,255,1);}
receiver-org		{color:rgba(255,255,255,1);}
value				{color:rgba(255,255,255,1);}
value span			{color:rgba(204,204,204,1);}

span-narrative.provider-org-ref,
span-narrative.receiver-org-ref	{color:rgba(255,255,255,1);}

transaction span-narrative.org-role,
transaction span-narrative.org-type,
transaction span-narrative.org-ref	{color:rgba(255,255,255,1); background-color:rgba(101,101,101,0.4);}

/*	Contact info for Publisher
	============================================= */
contact-info *						{color:rgba(255,255,255,1);}
contact-info						{background-color:rgba(15,15,15,1);}
contact-info:nth-of-type(1):before	{color:rgba(255,255,255,1);}
span.span_contact-info				{background-color:rgba(15,15,15,0.7);}


/*	Website or external links
	============================================= */
activity-website		{color:rgba(206,131,0,1); background-color:rgba(15,15,15,0.7);}
activity-website:before {color:rgba(204,204,204,1);}
activity-website:hover	{color:rgba(255,163,0,1);}


/*	Activity Status
	============================================= */
activity-status[code="1"]	{background-color:rgba(206,131,0,1);}
activity-status[code="2"]	{background-color:rgba(206,131,0,1);}
activity-status[code="3"]	{background-color:rgba(206,131,0,1);}
activity-status[code="4"]	{background-color:rgba(206,131,0,1);}
activity-status[code="5"]	{background-color:rgba(206,131,0,1);}
activity-status				{background-color:rgba(206,131,0,1); color:rgba(0,14,32,1);}
activity-status:before		{color:rgba(0,14,32,1);}


/*	Activity Scope
	============================================= */
activity-scope				{color:rgba(255,255,255,1); background-color:rgba(15,15,15,0.7);}
activity-scope:before		{color:rgba(204,204,204,1);}


/*	Related documents list
	============================================= */
span.span_document-link:before				{color:rgba(255,255,255,1);}
a.a_document-link							{color:rgba(204,204,204,1); background-color:rgba(56,56,56,0.4); border:1px solid rgba(56,56,56,1); border-bottom:0;}
a.a_document-link:last-of-type				{border-bottom:1px solid rgba(56,56,56,1);}
a.a_document-link:hover						{background-color:rgba(56,56,56,0.7);}
a.a_document-link document-link span-title	{color:rgba(255,255,255,1);}
document-link span							{color:rgba(204,204,204,1);}
a.a_document-link span-title:after			{background-color:rgba(15,15,15,0.7);}
document-link description narrative			{color:rgba(204,204,204,1);}
span-narrative.doc-cat						{color:rgba(255,255,255,1); background-color:rgba(101,101,101,0.4);}
span-doc_date								{color:rgba(255,255,255,1); background-color:rgba(125,93,36,1);}


/*	Family Tree list
	============================================= */
span.span_related-activity:before	{color:rgba(255,255,255,1); border-bottom:1px solid rgba(255,255,255,1);}
span.span_related-activity			{color:rgba(255,255,255,1);}
a.a_related-activity				{color:rgba(255,255,255,1);}
related-activity					{color:rgba(173,173,173,1);}
related-activity:hover				{color:rgba(255,163,0,1);}
related-activity:before				{color:rgba(255,255,255,1);}


/*	Policy marker
	============================================= */
span.span_policy-marker:before		{color:rgba(255,255,255,1);}
policy-marker						{color:rgba(255,255,255,1);}
span-narrative.policy_vocab,
span-narrative.policy_code,
span-narrative.policy_sig			{color:rgba(255,255,255,1); background-color:rgba(101,101,101,0.4);}

policy-marker narrative:nth-of-type(n+2)	{color:rgba(204,204,204,1);}


/*	Humanitarian Scope
	============================================= */
humanitarian-scope				{color:rgba(255,255,255,1);}
humanitarian-scope:before		{color:rgba(255,255,255,1);}
span-narrative.hum_scope_vocab,
span-narrative.hum_scope_type,
span-narrative.hum_scope_code	{color:rgba(255,255,255,1); background-color:rgba(101,101,101,0.4);}
humanitarian-scope a:link		{color:rgba(255,163,0,1);}
humanitarian-scope a:visited	{color:rgba(255,163,0,1);}
humanitarian-scope a:hover		{color:rgba(206,131,0,1);}
humanitarian-scope a:active		{color:rgba(255,163,0,1);}


/*	Hide and expand buttons
	============================================= */
span.hide 		 {color:rgba(204,204,204,1);}
span.hide:hover	 {color:rgba(255,255,255,1);}

span.span_transaction span.hide, span.span_planned-disbursement span.hide, span.span_budget span.hide,
span.span_result span.hide			{color:rgba(15,15,15,1);}
span.span_result result span.hide	{color:rgba(204,204,204,1);}
span.span_transaction span.hide:hover, span.span_planned-disbursement span.hide:hover, span.span_budget span.hide:hover,
span.span_result span.hide:hover	{color:rgba(255,255,255,1);}


/*	Count
	============================================= */
span.length {color:rgba(255,255,255,1);}
