body,html 				{color:rgba(46,46,46,1);}
html					{background-color:rgba(255,255,255,1);}
#background_image		{background-image:none !important;}

table.head img,
img						{-webkit-filter:brightness(0%); filter:brightness(0%);}


/*	Links & fonts
	============================================= */
a:focus					{color:rgba(46,46,46,1);}
a:link  				{color:rgba(46,46,46,1);}
a:visited				{color:rgba(46,46,46,1);}
a:hover					{color:rgba(46,46,46,1);}
a:active				{color:rgba(46,46,46,1);}


/*	Main wrappers for content & fixed background img
	============================================= */
.main_wrap				{background-color:rgba(255,255,255,1);}
.overlay				{background-color:rgba(246,246,246,1);}
.center_wrap			{width:962px;}


/*	Settings
	============================================= */
#settings				{background-color:rgba(255,255,255,1);}
a.settings_link span	{color:rgba(46,46,46,1);}
a.settings_link:hover span	{color:rgba(46,46,46,1);}


/*	Breadcrumbs
	============================================= */
a.crumb					{color:rgba(45,106,125,1);}
a.crumb:hover			{color:rgba(21,83,102,1);}
.crumb_wrap				{color:rgba(21,83,102,1);}
.crumb_wrap span		{color:rgba(21,83,102,1);}


/*	About data links
	============================================= */
a.about_data			{color:rgba(46,46,46,1);}
a.about_data:hover		{color:rgba(46,46,46,1);}
a.about_data.quality	{border-left:1px solid rgba(187,187,187,1);}


/*	Header styles
	============================================= */
.default.declare	{color:rgba(204,204,204,1);}


/*	Blog styles
	============================================= */
.blog_head			{color:rgba(255,255,255,1); border-bottom:10px solid rgba(255,255,255,1);}
a.blog_head			{color:rgba(255,255,255,1); border-bottom:10px solid rgba(255,255,255,1);}
.blog_wrap			{color:rgba(255,255,255,1); border-bottom:1px solid rgba(255,255,255,1); background-color:rgba(255,255,255,0.1);}
.blog_date			{color:rgba(204,204,204,1);}
.blog_body a		{color:rgba(170,204,238,1);}
.blog_body a:hover	{color:rgba(255,255,255,1);}
.blog_title			{color:rgba(170,204,238,1);}
a.blog_title		{color:rgba(170,204,238,1);}
a.blog_title:hover	{color:rgba(255,255,255,1);}
a.back_news			{color:rgba(255,255,255,1);}
a.back_news:hover	{color:rgba(170,204,238,1);}


/*	Graph styles
	============================================= */
#donor_graph, #sector_graph	{background-color:rgba(255,255,255,1); color:rgba(68,68,68,1); border:1px solid rgba(255,255,255,1);}
a.ask					{color:rgba(255,255,255,1);}
a.ask.donor				{background-color:rgba(0,136,255,1);}
a.ask.donor:hover		{background-color:rgba(51,170,255,1);}
a.ask.sector			{background-color:rgba(0,204,119,1);}
a.ask.sector:hover		{background-color:rgba(17,238,153,1);}
.main_peak_wrap			{background-color:rgba(255,255,255,1);}
.peak.donor				{border-top:20px solid rgba(0,136,255,1);}
.peak.sector			{border-top:20px solid rgba(0,204,119,1);}
a.view_all_money		{background-color:rgba(0,14,32,0.7); color:rgba(204,204,204,1);}
a.view_all_money:hover	{background-color:rgba(0,14,32,0.9); color:rgba(255,255,255,1);}


/*	Map styles (front page)
	============================================= */
.map_wrap				{background-color:rgba(218,218,218,1);}
.map_info				{color:rgba(46,46,46,1); background-color:rgba(255,255,255,1); border-top:1px solid rgba(218,218,218,1); border-radius:0;}
.map_no_info			{color:rgba(46,46,46,1);}
a.map_percent			{color:rgba(255,255,255,1); background-color:rgba(21,83,102,1); border-radius:0;}
a.map_percent:hover		{background-color:rgba(68,128,147,1);}
a.map_percent span		{color:rgba(255,255,255,1);}
.map_filter.info,
.map_table th,
.map_table td			{color:rgba(46,46,46,1);}

/*	For url #view=map
	============================================= */
.map_no_info.view		{color:rgba(255,255,255,1);}


/*	Stats (key figures) styles
	============================================= */
span.stats_title		{color:rgba(173,211,223,1);}
span.stats_title.view	{color:rgba(46,46,46,1);}
span.stats_num			{color:rgba(255,255,255,1);}
span.stats_num.view		{color:rgba(46,46,46,1);}
.declare.stats			{color:rgba(46,46,46,1);}
a.stats_link			{color:rgba(173,211,223,1); background-color:rgba(21,83,102,1); border-radius:0;}
a.stats_link:hover		{background-color:rgba(45,106,125,1);}
a.stats_link.missing span,
a.stats_link span		{color:rgba(255,255,255,1);}

a.stats_link.active				{background-color:rgba(45,106,125,1);}
a.stats_link.active:hover		{background-color:rgba(219,88,75,1);}
a.stats_link.active:hover span.stats_title		{color:rgba(255,195,190,1);}
a.stats_link.missing			{}
a.stats_link.missing:hover		{}
a.stats_link.ended				{background-color:rgba(11,144,149,1);}
a.stats_link.ended:hover		{background-color:rgba(9,182,189,1);}
a.stats_link.total				{background-color:rgba(45,106,125,1);}
a.stats_link.total:hover		{background-color:rgba(139,84,204,1); color:rgba(223,203,246,1);}
a.stats_link.planned			{background-color:rgba(75,75,75,1);}
a.stats_link.planned:hover		{background-color:rgba(104,104,104,1);}
a.stats_link.publishers			{background-color:rgba(10,145,114,1);}
a.stats_link.publishers:hover	{background-color:rgba(5,171,133,1);}

a.stats_link.to_ended			{background:linear-gradient(to right, rgba(21,83,102,0.1) 0%, rgba(21,83,102,0.8) 13%, rgba(21,83,102,0.95) 100%);}
a.stats_link.to_ended:hover		{background:linear-gradient(to right, rgba(45,106,125,0.1) 0%, rgba(45,106,125,0.8) 13%, rgba(45,106,125,1) 100%);}
a.stats_link.to_planned			{background:linear-gradient(to left, rgba(21,83,102,0.1) 0%, rgba(21,83,102,0.8) 13%, rgba(21,83,102,0.95) 100%);}
a.stats_link.to_planned:hover	{background:linear-gradient(to left, rgba(45,106,125,0.1) 0%, rgba(45,106,125,0.8) 13%, rgba(45,106,125,1) 100%);}

a.stats_link.active span.stats_title		{color:rgba(173,211,223,1);}
a.stats_link.missing span.stats_title		{}
a.stats_link.ended span.stats_title			{color:rgba(182,246,249,1);}
a.stats_link.total span.stats_title			{color:rgba(173,211,223,1);}
a.stats_link.planned span.stats_title		{color:rgba(218,218,218,1);}
a.stats_link.publishers span.stats_title	{color:rgba(176,237,223,1);}

.main_mention a			{border-radius:0; color:rgba(46,46,46,1); background-color:rgba(173,211,223,1);}
.main_mention a:hover	{background-color:rgba(202,230,239,1);}

span.graph_view_all		{border-radius:0;}
span.graph_view_all:hover{background-color:rgba(204,204,204,0.9);}
.default.graph_bars		{border-radius:0; box-shadow:0 4px 5px rgba(218,218,218,1);}


/*	Active / Ended projects styles
	============================================= */
.table_wrap				{background-color:rgba(255,255,255,1); border:1px solid rgba(218,218,218,1); border-radius:0;}
.table_wrap.main		{border-radius:0;}


/*	Footer notes styles
	============================================= */
.description_wrap		{background:transparent;}
.data_quality_wrap,
.footer_notes			{box-shadow:0 4px 5px rgba(218,218,218,1); background-color:rgba(255,255,255,1); border-top:4px solid rgba(21,83,102,1);}
.footer_notes span.title{color:rgba(60,60,60,1); border-top:1px solid rgba(255,255,255,1); border-bottom:1px solid rgba(255,255,255,1); font-weight:bold;}
.footer_notes p			{color:rgba(18,18,18,1);}
.footer_notes p.about_data	{border-top:1px solid rgba(255,255,255,1);}
a.read,
.footer_notes a			{color:rgba(45,106,125,1); text-decoration:underline; text-decoration-color:rgba(173,211,223,1); text-underline-position:under;}
a.read:hover,
.footer_notes a:hover	{color:rgba(45,106,125,1);}

.description_splash .footer_notes	{background-color:rgba(255,255,255,1); box-shadow:0 4px 5px rgba(218,218,218,1); border-radius:0;}
.description_splash .footer_notes p	{color:rgba(18,18,18,1);}


/*	Generic styles
	============================================= */
.list_peak					{border-right:30px solid rgba(0,136,255,1);}
.list_head_title			{background-color:transparent; color:rgba(46,46,46,1);}
.list_stats_title			{color:rgba(46,46,46,1);}
.list_stats_num				{color:rgba(46,46,46,1);}
a.button					{background-color:rgba(21,83,102,1); border-radius:0; color:rgba(255,255,255,1);}
a.button:hover				{background-color:rgba(68,128,147,1);}
a.csv_download				{background-color:rgba(21,83,102,1); border-radius:0; color:rgba(255,255,255,1);}
a.csv_download:hover		{background-color:rgba(68,128,147,1);}

	
/*	For url #view=donors & all #view=donor_*
	============================================= */
.donors_peak				{border-right:30px solid rgba(0,136,255,1);}
.donors_peak.view			{border-right:30px solid rgba(0,136,255,1);}
.donors_head_title			{background-color:transparent; color:rgba(46,46,46,1);}
.donors_head_title.view		{background-color:transparent;}


/*	For url #view=sectors & all #view=sector_*
	============================================= */
.sectors_peak				{border-right:30px solid rgba(0,204,119,1);}
.sectors_head_title			{background-color:transparent; color:rgba(46,46,46,1);}


/*	For url #view=search
	============================================= */
.search_icon img,
.search_label img			{-webkit-filter:brightness(0%); filter:brightness(0%);}
.search_title,
.search_head				{color:rgba(0,196,151,1); margin:0;}
.search_explore				{border-bottom:1px dashed rgba(21,83,102,1); padding-bottom:1em; margin-bottom:1.5em;}
.search_explore_min			{border-bottom:1px dashed rgba(21,83,102,1); padding-bottom:0.5em; margin-bottom:1em;}
.settings_link_search span,
.search_help span,
.search_head span,
.search_label span,
.search_clear,
.search_clear:hover,
.search_order,
.search_order:hover,
.search_label,
#search_div,
.search_query,
.search_trend_wrap			{border-radius:0; color:rgba(46,46,46,1);}
.search_trend_wrap a.now	{color:rgba(255,255,255,1); border-radius:0; background-color:rgba(21,83,102,1);}
.search_show				{border-radius:0; background-color:rgba(21,83,102,1);}
.search_trend_wrap a.now:hover,
.search_show:hover			{background-color:rgba(68,128,147,1);}

input#view_search_string	{box-shadow:0 4px 5px rgba(218,218,218,1);}
.search_cont,
.search_filter				{box-shadow:0 4px 5px rgba(218,218,218,1); background-color:rgba(255,255,255,1); border-radius:0; border-top:4px solid rgba(21,83,102,1); border-bottom:0;}
a#search_link				{border:0; border-radius:0; color:rgba(18,18,18,1); background:rgba(0,196,151,1); text-shadow:initial; text-transform:uppercase; letter-spacing:1px; font-size:1em; padding:1em; line-height:1.25em; height:initial;}
a#search_link:hover			{background:rgba(59,210,175,1); border:0; text-shadow:none;}	
a#search_link.search_link_disable		{border:0; color:rgba(187,187,187,1); background-color:rgba(200,200,200,1);}

.search_glossary			{color:rgba(46,46,46,1); box-shadow:0 4px 5px rgba(218,218,218,1); background-color:rgba(255,255,255,1); border-top:4px solid rgba(21,83,102,1);}
.filter_text				{color:rgba(46,46,46,1); border-bottom:1px solid rgba(204,204,204,1);}
table.filter_table td		{border-top:1px solid rgba(204,204,204,1);}
.search_glossary_wrap th a,
.search_glossary_wrap td a			{color:rgba(45,106,125,1); text-decoration:underline; text-decoration-color:rgba(173,211,223,1); text-underline-position:under;}
.search_glossary_wrap th a:hover,
.search_glossary_wrap td a:hover	{color:rgba(45,106,125,1);}

.chosen-container .chosen-results li.highlighted	{background-color:rgba(21,83,102,1); color:rgba(255,255,255,1);}
.chosen-container-active ul.chosen-choices			{border-radius:0;}
.chosen-container-active .chosen-choices,
.chosen-container-single .chosen-single,
.chosen-container-active .chosen-single				{border:1px solid rgba(187,187,187,1); box-shadow:0 0 0 rgba(0,0,0,0.3);}


/*	Explore search styles for all pages
	============================================= */
.search_title				{width:80%;}
.search.search_title span	{color:rgba(46,46,46,1);}
.search.search_title:before	{background:url(/ctrack/art/high/search_icon.png) no-repeat top center; width:26px; height:26px; background-size:70%;}
a.search_refine				{border:0; border-radius:0; color:rgba(18,18,18,1); background:rgba(0,196,151,1); text-shadow:initial; text-transform:uppercase; letter-spacing:1px; font-size:0.9em; padding:1em; line-height:1.25em; height:initial; width:20%;}
a.search_refine:hover		{background:rgba(59,210,175,1); border:0; text-shadow:none;}
.search_query .text_search span.filter_code	{font-size:1em; background-color:transparent; color:rgba(46,46,46,1); padding:0; border-radius:0;}


/*	Table header styles
	============================================= */
th.titles					{color:rgba(46,46,46,1);}
table.list tr th.titles		{background-color:rgba(255,255,255,1); border-bottom:1px solid rgba(218,218,218,1);}
table.activity tr th.titles	{background-color:rgba(255,255,255,1);}


/*	Table for Header logo and Translations
	============================================= */
table.head td.options		{color:rgba(46,46,46,1);}


/*	Table for Country Name and Flag
	============================================= */
table.country				{border-bottom:1px solid rgba(46,46,46,1);}
table.country td.name		{color:rgba(46,46,46,1);}
table.country.min td.name	{color:rgba(46,46,46,1);}


/*	Table Titles
	============================================= */
table.title				{border-bottom:0px solid rgba(255,255,255,1);}
table.title td			{color:rgba(46,46,46,1);}
table.title td.sort		{color:rgba(46,46,46,1);}


/*	Table for Active / Ended projects
	============================================= */
table.list td			{color:rgba(46,46,46,1); border-bottom:1px solid rgba(218,218,218,1);}
table.list td span		{color:rgba(46,46,46,1);}
table.list a			{color:rgba(46,46,46,1);}
table.list a:focus		{color:rgba(46,46,46,1);}
table.list a:link  		{color:rgba(46,46,46,1);}
table.list a:visited	{color:rgba(46,46,46,1);}
table.list a:hover		{color:rgba(46,46,46,1);}
table.list a:active		{color:rgba(46,46,46,1);}

table.list tr:hover		{background-color:rgba(204,204,204,0.4);}
.activities_spend		{color:rgba(46,46,46,1);}
.activities_percent_max	{border-radius:0;}
.activities_percent		{border-radius:0; background-color:rgba(0,196,151,1);}

/*	Table for Money list (Donors / Sectors)
	============================================= */
table.money td				{color:rgba(46,46,46,1); border-bottom:1px solid rgba(170,170,170,1);}
table.money td.col1			{background-color:rgba(255,255,255,1);}
table.money td.col3			{background-color:rgba(255,255,255,1);}
table.money td.col4			{background-color:rgba(255,255,255,1);}
table.money td.col5			{background-color:rgba(255,255,255,1);}
table.money td.col6			{background-color:rgba(255,255,255,1);}
table.money td.col7			{background-color:rgba(255,255,255,1);}

table.money tr.row1 th span,
table.money tr.row1 th		{color:rgba(46,46,46,1);}
table.money tr.row1 th.col1	{background-color:rgba(246,246,246,1); border:1px solid rgba(170,170,170,1); border-bottom:0;}
table.money tr.row1 th.col2	{background-color:rgba(246,246,246,1); border:1px solid rgba(170,170,170,1); border-bottom:0;}
table.money tr.row1 th.col3	{background-color:rgba(246,246,246,1); border:1px solid rgba(170,170,170,1); border-bottom:0;}
table.money tr.row1 th.col4	{background-color:rgba(246,246,246,1); border:1px solid rgba(170,170,170,1); border-bottom:0;}

table.money tr.row2 td		{color:rgba(46,46,46,1);}
table.money tr.row2 td.col1 {background-color:rgba(226,226,226,1); border:0; border-right:1px solid rgba(170,170,170,1);}
table.money tr.row2 td.col2 {background-color:rgba(226,226,226,1); border:0; border-left:1px solid rgba(170,170,170,1); border-right:1px solid rgba(170,170,170,1);}
table.money tr.row2 td.col3 {background-color:rgba(226,226,226,1); border:0; border-right:1px solid rgba(170,170,170,1);}
table.money tr.row2 td.col4 {background-color:rgba(226,226,226,1); border:0; border-right:1px solid rgba(170,170,170,1);}
table.money tr.row2 td.col5 {background-color:rgba(226,226,226,1); border:0; border-right:1px solid rgba(170,170,170,1);}
table.money tr.row2 td.col6 {background-color:rgba(226,226,226,1); border:0; border-right:1px solid rgba(170,170,170,1);}
table.money tr.row2 td.col7 {background-color:rgba(226,226,226,1); border:0; border-right:1px solid rgba(170,170,170,1);}

table.money tr.rows td		{border:1px solid rgba(170,170,170,1); border-top:0;}
table.money tr.rows td.col1	{border:1px solid rgba(170,170,170,1); border-top:0;}
table.money tr.rows td.col3	{border:1px solid rgba(170,170,170,1); border-top:0;}
table.money tr.rows td.col5	{border:1px solid rgba(170,170,170,1); border-top:0;}
table.money tr.rows td.col7	{border:1px solid rgba(170,170,170,1); border-top:0;}

table.money tr.rows td.col2:hover, table.money tr.rows td.col3:hover, 
table.money tr.rows td.col4:hover, table.money tr.rows td.col5:hover,
table.money tr.rows td.col6:hover, table.money tr.rows td.col7:hover	{background-color:rgba(204,204,204,0.4);}
table.money tr.rows td.col7:hover	{color:rgba(46,46,46,1);}

table.money a				{color:rgba(46,46,46,1);}
table.money a:focus			{color:rgba(46,46,46,1);}
table.money a:link  		{color:rgba(46,46,46,1);}
table.money a:visited		{color:rgba(46,46,46,1);}
table.money a:hover			{color:rgba(46,46,46,1);}
table.money a:active		{color:rgba(46,46,46,1);}

table.money a.year.prev:hover,
table.money a.year.next:hover	{background-color:rgba(204,204,204,0.3);}

table.money.publishers th.col2,
table.money.publishers td.col2	{border:1px solid rgba(170,170,170,1); border-top:0;}
table.money.publishers th.col2	{border:1px solid rgba(170,170,170,1);}


/*	Table for Activities list (Donors / Sectors)
	============================================= */
table.activity				{border-radius:0;}
table.activity td			{color:rgba(46,46,46,1); border-bottom:1px solid rgba(218,218,218,1);}
table.activity td span		{color:rgba(46,46,46,1);}
table.activity a			{color:rgba(46,46,46,1);}
table.activity a:focus		{color:rgba(46,46,46,1);}
table.activity a:link  		{color:rgba(46,46,46,1);}
table.activity a:visited	{color:rgba(46,46,46,1);}
table.activity a:hover		{color:rgba(46,46,46,1);}
table.activity a:active		{color:rgba(46,46,46,1);}

table.activity tr:hover		{background-color:rgba(204,204,204,0.4);}


/*	Table for data descriptions footer (Donors / Sectors)
	============================================= */
table.data td			{color:rgba(46,46,46,1); border:1px solid rgba(204,204,204,1);}


/*	Missing data
	============================================= */
.missing_data_wrap		{background-color:rgba(0,14,32,0.7); color:rgba(255,255,255,1);}


/*	Data Investigators alert
	============================================= */
.data_wrap				{display:none;}
a.data_invest			{color:rgba(46,46,46,1); background-color:rgba(6,219,228,1);}
a.data_invest:hover		{color:rgba(46,46,46,1); background-color:rgba(65,228,235,1);}


/*	Footer
	============================================= */
.footer_wrap	{background:linear-gradient(rgba(21,83,102,.9), rgba(21,83,102,.9)), url(/ctrack/art/original/marque_white.svg) no-repeat right 2rem top, rgba(21,83,102,1); background-size:32.3rem auto;}
.footer_link.footer_white	{display:block; width:960px;}
.footer_link			{padding:1.5em 0 .5em 0;}
.footer_link li a		{line-height:2em;}
.footer_link a			{color:rgba(255,255,255,1); text-decoration:underline; text-decoration-color:rgba(173,211,223,1); text-underline-position:under;}
.footer_link a:focus	{color:rgba(255,255,255,1);}
.footer_link a:link  	{color:rgba(255,255,255,1);}
.footer_link a:visited	{color:rgba(255,255,255,1);}
.footer_link a:hover	{color:rgba(123,237,242,1);}
.footer_link a:active	{color:rgba(255,255,255,1);}
.footer_line			{width:100%; border-top:1px solid #7bedf2;}
.footer_header			{font-weight:bold; border:0; padding:0; margin-bottom:1.5em;}
.footer_link.footer_white.footer_copy	{display:flex; align-items:center; justify-content:space-between; padding:2em 0;}
.footer_link.footer_white.footer_copy a	{text-decoration:none;}


/*	SAVi CSS
	============================================= */
iati-activity			{background-color:rgba(0,14,32,0.7);}
iati-activity:after 	{color:rgba(204,204,204,1);}


/*	Project title
	============================================= */
span.span_span-title span-title		 			{color:rgba(255,255,255,1);}
span.span_span-title span-title:before 			{color:rgba(204,204,204,1);}


/*	IATI Identifier
	============================================= */
iati-identifier 				{background-color: rgba(0,14,32,0.7); color:rgba(255,122,0,1);}
iati-identifier:before			{color:rgba(204,204,204,1);}
iati-identifier:hover			{color:rgba(255,171,94,1);}
a.a_xml_iati-identifier:before	{color:rgba(204,204,204,1);}
a.a_slug:before					{color:rgba(204,204,204,1);}


/*	Recipient countries
	============================================= */
span.span_recipient-country				{background-color:rgba(17,46,105,0.9);}
span.span_recipient-country:before 		{color:rgba(255,255,255,1);}
recipient-country span					{color:rgba(255,255,255,1);}
recipient-country span:nth-of-type(2)	{color:rgba(255,255,255,1);}


/*	Start and End dates
	============================================= */
span.span_activity-date						{background-color:rgba(3,50,146,0.9);}
activity-date[type="start-actual"]			{color:rgba(255,255,255,1);}
activity-date[type="end-actual"]			{color:rgba(255,255,255,1);}
activity-date[type="start-actual"]:before	{color:rgba(204,204,204,1);}
activity-date[type="end-actual"]:before		{color:rgba(204,204,204,1);}


/*	Who's invloved?
	============================================= */
span.span_participating-org	 					{color:rgba(255,255,255,1); background-color:rgba(17,46,105,0.4);}
span.span_participating-org:before 				{color:rgba(255,255,255,1); border-bottom:5px solid rgba(255,255,255,1);}
participating-org[role="funding"]:after			{color:rgba(204,204,204,1);}
participating-org[role="implementing"]:after	{color:rgba(204,204,204,1);}
participating-org[role="extending"]:after		{color:rgba(204,204,204,1);}
participating-org[role="accountable"]:after		{color:rgba(204,204,204,1);}


/*	Reported by
	============================================= */
reporting-org 					{color:rgba(255,255,255,1); background-color:rgba(17,46,105,0.4);}
reporting-org:before 			{color:rgba(204,204,204,1);}


/*	Description of project (shared with Transaction table)
	============================================= */
span.span_description description 						{color:rgba(255,255,255,1);}
span.span_description description:nth-of-type(1):before	{color:rgba(204,204,204,1);}
span.span_description description[type="1"]:before		{color:rgba(204,204,204,1);}
span.span_description description[type="2"]:before		{color:rgba(204,204,204,1);}
span.span_description description[type="3"]:before		{color:rgba(204,204,204,1);}


/*	Result and description
	============================================= */
result:nth-child(odd)		{background-color:rgba(0,14,32,0.3);}
result:nth-of-type(1):before{color:rgba(255,255,255,1); background-color:rgba(17,46,105,0.9);}
result description			{color:rgba(255,255,255,1);}
result description:before	{color:rgba(204,204,204,1);}
result span-title			{color:rgba(255,255,255,1);}
result span-title:before	{color:rgba(204,204,204,1);}

result indicator span-title	{border-top:1px solid rgba(255,255,255,1);}
result indicator period period-start, result indicator period period-end, result indicator period target, result indicator period actual,
result indicator description			{color:rgba(204,204,204,1);}
result indicator period period-start:before, result indicator period period-end:before, result indicator period target:before,
result indicator period actual:before	{color:rgba(204,204,204,1);}

result indicator > baseline comment	{color:rgba(255,255,255,1);}


/*	Sectors (also turned into graph: sector_pie)
	============================================= */
sector[vocabulary="DAC"]		{color:rgba(255,255,255,1);}
sector:nth-child(even)			{background-color:rgba(0,14,32,0.7);}
sector[vocabulary="DAC"]:before	{color:rgba(204,204,204,1);}
sector span						{color:rgba(255,255,255,1);}
sector span:nth-of-type(2)		{color:rgba(204,204,204,1);}
img.sector_pie					{background-color:rgba(255,255,255,1);}


/*	Budget table
	============================================= */
budget					{border-top:1px solid rgba(30,144,255,1);}
budget:last-of-type	 	{border-bottom:0px solid rgba(30,144,255,1);}
budget:nth-of-type(1):before				{color:rgba(255,255,255,1); background-color:rgba(17,46,105,0.9);}
budget:nth-of-type(1) period-start:before 	{color:rgba(255,255,255,1); border-bottom:2px solid rgba(17,46,105,0.9);}
budget:nth-of-type(1) period-end:before	  	{color:rgba(255,255,255,1); border-bottom:2px solid rgba(17,46,105,0.9);}
budget:nth-of-type(1) value:before		  	{color:rgba(255,255,255,1); border-bottom:2px solid rgba(17,46,105,0.9);}
period-start 			{color:rgba(255,255,255,1);}
period-end	 			{color:rgba(255,255,255,1);}
budget value 			{color:rgba(255,255,255,1);}


/*	Transaction table
	============================================= */
transaction							{border-top:1px solid rgba(30,144,255,1);}
transaction a						{color:rgba(255,122,0,1);}
transaction a:hover					{color:rgba(255,171,94,1);}
transaction:last-of-type			{border-bottom:1px solid rgba(30,144,255,1);}
transaction:nth-of-type(1):before	{color:rgba(255,255,255,1); background-color:rgba(17,46,105,0.9);}

transaction:nth-of-type(1) transaction-date:before	{color:rgba(255,255,255,1); border-bottom:2px solid rgba(17,46,105,0.9);}
transaction:nth-of-type(1) transaction-type:before	{color:rgba(255,255,255,1); border-bottom:2px solid rgba(17,46,105,0.9);}
transaction:nth-of-type(1) provider-org:before		{color:rgba(255,255,255,1); border-bottom:2px solid rgba(17,46,105,0.9);}
transaction:nth-of-type(1) receiver-org:before		{color:rgba(255,255,255,1); border-bottom:2px solid rgba(17,46,105,0.9);}
transaction:nth-of-type(1) value:before				{color:rgba(255,255,255,1); border-bottom:2px solid rgba(17,46,105,0.9);}
span.span_transaction transaction:nth-of-type(1) description:nth-of-type(1):before {color:rgba(255,255,255,1); border-bottom:2px solid rgba(17,46,105,0.9);}

transaction-date	{color:rgba(255,255,255,1);}
transaction-type	{color:rgba(255,255,255,1);}
span.span_transaction transaction description:nth-of-type(1) {color:rgba(255,255,255,1);}
provider-org		{color:rgba(255,255,255,1);}
receiver-org		{color:rgba(255,255,255,1);}
value				{color:rgba(255,255,255,1);}
value span			{color:rgba(204,204,204,1);}


/*	Contact info for Publisher
	============================================= */
contact-info *						{color:rgba(255,255,255,1);}
contact-info:nth-of-type(1):before	{color:rgba(204,204,204,1);}


/*	Website or external links
	============================================= */
activity-website		{color:rgba(255,158,69,1); background-color: rgba(0,14,32,0.7);}
activity-website:before {color:rgba(204,204,204,1);}
activity-website:hover	{color:rgba(255,122,0,1);}


/*	Activity Status
	============================================= */
activity-status[code="1"]	{background-color:rgba(71,181,255,1);}
activity-status[code="2"]	{background-color:rgba(204,141,230,1);}
activity-status[code="3"]	{background-color:rgba(71,255,78,1);}
activity-status[code="4"]	{background-color:rgba(255,130,71,1);}
activity-status[code="5"]	{background-color:rgba(255,71,71,1);}
activity-status				{background-color:rgba(255,130,71,1); color:rgba(0,14,32,1);}
activity-status:before		{color:rgba(0,14,32,1);}


/*	Related documents list
	============================================= */
span.span_document-link:before				{color:rgba(255,255,255,1); border-bottom:3px solid rgba(255,255,255,1);}
a.a_document-link							{color:rgba(204,204,204,1);}
a.a_document-link document-link span-title			{color:rgba(255,255,255,1);}
a.a_document-link document-link span-title:hover	{color:rgba(255,171,94,1);}
document-link span							{color:rgba(204,204,204,1);}


/*	Family Tree list
	============================================= */
span.span_related-activity:before	{color:rgba(255,255,255,1); border-bottom:3px solid rgba(255,255,255,1);}
span.span_related-activity			{color:rgba(255,255,255,1);}
a.a_related-activity				{color:rgba(255,255,255,1);}
related-activity					{color:rgba(255,171,94,1);}
related-activity:hover				{color:rgba(255,122,0,1);}
related-activity:before				{color:rgba(255,255,255,1);}
